<ol>
    <li>
        Que son y como se producen los RCD.
    </li>
    <li>
        Producción y Gestión de RCD.
    </li>
    <li>
        Problemas ambientales de los RCD.
    </li>
    <li>
        Situación en España y en la Unión Europea (En adelante EU).
    </li>
    <li>
        Protocolo de gestión de residuos de construcción y demolición en la EU.
    </li>
    <li>
        Gestión prioritaria en numerosos países emergentes a nivel mundial y en
        el plan de acción de economía circular de la UE.
    </li>
</ol>
<p>
    <strong></strong>
    <br/>
</p>
<div class='image-container'>
  <%= image_tag 'topic_1/image_1.jpg' %>
</div>
<p>
    <strong> 1.1 Que son y como se producen los RCD. </strong>
</p>
<p>
    Los residuos de construcción y demolición RCD, denominados popularmente en
    España como “escombros”, son los producidos en las obras de demolición y
    rehabilitación de edificios e infraestructuras, excedentes y sobrantes de
    ejecución en la construcción de obra nueva, en pequeñas obras de reforma en
    viviendas y locales comerciales, en obras de canalización de acometidas y
    vías de comunicación en las ciudades, y como excedentes en la fabricación
    de materiales y componentes para la construcción.
</p>
<p>
    A esta producción derivada del sector de la construcción, habría que añadir
    la producción ocasional relacionada con las catástrofes naturales y su
    incidencia en la generación de RCD, con gran incidencia en países como
    Japón, Chile, Haití, ó recientemente en Ecuador, y la relacionada con los
    conflictos bélicos que han arrasado en numerosas ocasionas ciudades enteras
    como en Siria ó Cisjordania reduciéndolas a escombros.
</p>
<p>
    Si en Europa la mayoría de los países cuentan con datos de producción de
    RCD relacionados con el sector de la construcción, en otros países han sido
    los desastres naturales los indicadores principales de producción, y en
    numerosas ocasiones la constatación de una alta producción de RCD
    relacionada con prácticas constructivas deficientes
</p>
<p>
    En España, según el Real Decreto 105/2008, de 1 de febrero, por el que se
    regula la producción y gestión de los residuos de construcción y
    demolición, se define como residuo de construcción y demolición a cualquier
    sustancia u objeto que, cumpliendo la definición de Residuo (cualquier
    sustancia u objeto que su poseedor deseche o tenga la intención o la
    obligación de desechar), se genere en una obra de construcción o
    demolición.
</p>
<p>
    Los RCD son en un 80% en peso materiales de origen pétreo, tales como
    hormigones en masa y hormigones armados, productos cerámicos procedentes de
    tabiqueria, materiales pétreos naturales procedentes de excavaciones, y
    aglomerados asfálticos, generalmente proceden de demoliciones y se originan
    generalmente agrupados por materiales predominantes, son fáciles de
    reciclar, y de tipologías de obra como por ejemplo la demolición de una
    solera de hormigón que nos facilita que estos RCD se encuentren en muchas
    ocasiones “limpios”, es decir sin estar mezclados con otros residuos.
</p>
<p>
    El 20% restante de los RCD denominados generalmente RCD “Mixtos”, lo
    componen maderas, plásticos, papel, textiles, vidrio, metales férricos y no
    férricos, etc. según la legislación actual son considerados subproductos
    debido a su posible potencial como materia prima reciclada, además pueden
    contener residuos menos comunes como residuos voluminosos (mobiliario,
    muebles de cocina, colchones, etc.), residuos eléctricos y electrónicos (en
    adelante RAEE), urbanos, etc., y en muchas ocasiones hasta residuos
    peligrosos como el amianto, disolventes, fluorescentes, etc., que tendremos
    que separar y entregar a sus gestores autorizados.
</p>
<p>
    <strong></strong>
    <br/>
</p>
<div class='image-container'>
  <%= image_tag 'topic_1/image_2.jpg' %>
</div>
<p>
    En los procesos de demolición, es habitual separar en obra los distintos
    tipos de residuos para su entrega a gestores autorizados, estas
    separaciones facilitan enormemente su reciclado y permiten en numerosas
    ocasiones realizar reciclajes “in situ” en la obra con numerosas ventajas
    medioambientales y económicas.
</p>
<p>
    Los RCD “limpios” (hormigones en masa y hormigones armados, productos
    cerámicos limpios, materiales pétreos naturales de excavaciones, y
    aglomerados asfálticos), se someten a procesos de trituración y separación
    de armaduras e impropios mediante sistemas de limpieza y cribado,
    transformándose en áridos y materiales reciclados para múltiples
    aplicaciones principalmente para bases y subbases de carreteras, el nuevo
    producto debe cumplir la normativa de calidad fijada para una aplicación
    determinada, y en la Unión Europea contar con el marcado CE (exigido en
    todos los productos que se venden dentro de la UE), de esta manera el
    producto responde al criterio de “fin de condición de residuo”.
</p>
<p>
    Los RCD “mezclados” entre sí con la fracción Pétrea, deben separarse de
    ésta, bien desde el origen, bien en plantas de clasificación, donde debemos
    lograr separar de la fracción pétrea del resto de los RCD y clasificarlos
    por su naturaleza (metales férricos y no férricos, plásticos, maderas,
    etc.) mediante diferentes tecnologías, algunas tan sencillas como la
    separación manual en cabinas de triaje.
</p>
<p>
    <strong></strong>
    <br/>
</p>
<div class='image-container'>
  <%= image_tag 'topic_1/image_3.jpg' %>
</div>
<p>
    <strong></strong>
    <br/>
</p>
> >
<p>
    <strong>1.2 Producción y gestión de RCD.</strong>
</p>
<p>
    En la mayoría de los Estados Miembros de la UE, existen estadísticas
    fiables de producción de RCD que están basadas en ratios de producción por
habitante al año, y que expresamos generalmente por en volumen (m    <sup>3</sup>), ó en peso (toneladas), y que están contabilizadas por los
    organismos oficiales de cada país, suelen contabilizarse a través de las
    declaraciones de las empresas públicas y privadas encargadas de su gestión,
    principalmente a partir de los albaranes en los controles de entrada ó
    admisión de las plantas de reciclaje y vertederos.
</p>
<p>
    Desafortunadamente en la mayoría de los países emergentes no se controlan
    de una manera efectiva los RCD producidos lo que ha generado grandes
    escombreras incontroladas en los perímetros de las ciudades, en algunas
    aparecen iniciativas de reciclado de RCD que aunque incipientes son un
    importante cambio de tendencia para frenar los vertidos incontrolados.
</p>
<p>
    Países como Estados Unidos y Canadá cuentan con legislaciones que regulan
    la producción de RCD, en estos países la construcción de viviendas
    unifamiliares se realiza generalmente con madera y paneles de yeso, por lo
    que es necesaria la utilización de técnicas diferentes para el reciclado de
    los RCD, siendo el aprovechamiento de la madera como combustible una de las
    practicas mas habituales.
</p>
<p>
    En la Unión Europea UE, producimos en los últimos años, una media de 530 Kg
    por habitante y año de RCD, esta producción varía por los ciclos económicos
    e inversiones públicas y privadas relacionadas con el sector de la
    construcción, con gran incidencia en España donde la producción de RCD
    hasta el año 2013 descendió (debido a la fuerte crisis económica del sector
    de la construcción), a prácticamente la mitad de la producción generada
    anterior al año 2008.
</p>
<div class='image-container'>
  <%= image_tag 'topic_1/table_1.jpg' %>
</div>

<p>
    <strong></strong>
    <br/>
</p>

<p>
    Existen datos de producción de RCD causados por Catástrofes Naturales
    principalmente por Terremotos que también contabilizamos como RCD, la
    estimación de cantidades de RCD producidas por catástrofes naturales es un
    elemento básico a la hora de planificar las acciones de demolición y
    gestión de los residuos.
</p>
<p>
    La estimación ó evaluación de cantidades producidas de RCD es muy variable,
    hablamos de generación en áreas ó poblaciones afectadas y dependerá su
    estimación de la intensidad de la catástrofe, de la densidad de población,
    alturas, tipologías, normativa técnica de las construcciones afectadas,
    materiales, etc.
</p>
<p>
    Sobre estas estimaciones genéricas de producción, podemos estudiar que
    edificios deben repararse ó demolerse por sus consideraciones de costo,
    políticas, riesgos estructurales, etc.
</p>
<div class='image-container'>
  <%= image_tag 'topic_1/table_2.jpg' %>
</div>
<p>
    Si tomamos como ejemplo el Terremoto de Haití, los informes de evaluación
    de los RCD que se realizaron en España, demostraron como principal causa
    del desastre las pobres prácticas constructivas y mala calidad de los
    materiales empleados.
</p>

<p>
    <strong></strong>
    <br/>
</p>

<p>
    Para realizar una estimación rápida de los RCD producidos por terremotos,
    podemos calcular la superficie afectada para distintas densidades de
    población (Google Earth), y multiplicarla por un ratio teórico de
    generación, estimado según la intensidad del terremoto.
</p>
<p>
    <div class='image-container'>
  <%= image_tag 'topic_1/table_3.jpg' %>
</div>
</p>
<p>
    <strong></strong>
    <br/>
</p>

<p>
    <strong>
        Informe de Producción y Gestión de Residuos de Construcción y
        Demolición (RCD) en España Periodo 2011-2015
    </strong>
</p>
<p>
    Según dicho informe la Gestión de RCD en España en el periodo 2011-2015,
    refleja que el 70% de todos los RCD producidos acceden a instalaciones de
    gestores autorizados (plantas de tratamiento y/ó vertederos) ó se han
    reciclado en obra, el 39% se ha reciclado, un 24% termina depositado en el
    vertedero, y un 7% se encuentran acopiados (stock), un 30% de la producción
    puede considerarse incontrolada y depositada en lugares no autorizados.
</p>
<div class='image-container'>
  <%= image_tag 'topic_1/table_6.jpg' %>
</div>
<div class='image-container'>
  <%= image_tag 'topic_1/table_7.jpg' %>
</div>
<p>
    Los datos OFICIALES de las CCAA reflejan una producción media del periodo
    2011-2015 de 13.100.437 toneladas, que representan producciones medias de
    0,281 toneladas por habitante y año. La producción de RCD toca fondo en los
    años 2012 y 2013, y se recupera lentamente presentando en el año 2015 una
    producción oficial de 14.862.442 toneladas (0,320 t/h/a).
</p>

  <div class='table-container'>
  <%= image_tag 'topic_1/table_8.jpg' %>
</div>
<div class='table-container'>
  <%= image_tag 'topic_1/table_9.jpg' %>
</div>
<p>
    <strong>
        Estimación de la Producción de RCD por superficie construida.
    </strong>
</p>
<p>
    La Asociación Española de Reciclaje de RCD (en adelante RCDA) viene
    elaborando desde el 2009 informes con los cálculos de la producción y
    gestión de los residuos de construcción y demolición, utilizando ratios de
    producción sobre las superficies construidas, con ello estima las
    cantidades de RCD “incontrolados” que se producen en los entornos de las
    grandes ciudades y que no están contabilizados en los datos oficiales de
    RCD “Controlados”.
</p>
<div class='image-container'>
  <%= image_tag 'topic_1/image_4.jpg' %>
</div>
<p>
    El método parte de los datos oficiales de m<sup>2 </sup>de superficie a
    construir según las licencias de obra otorgadas por los Ayuntamientos y
    otros datos estadísticos del sector de la construcción que publican
    anualmente diferentes organismos como en España el Ministerio de Fomento,
    Confederación Nacional de la Construcción (CNC), ó datos económicos del
    Banco de España, el análisis de la estimación de producción de RCD
    aplicando ratios a las superficies construidas de las diferentes tipologías
    de obras realizadas, son los que compara el informe con los datos oficiales
    para obtener estadísticas ó ratios analíticos del sector tanto para los RCD
    controlados como para los RCD incontrolados, permitiéndonos una visión muy
    cercana de la producción y gestión de los RCD.
</p>

 <div class='table-container'>
  <%= image_tag 'topic_1/table_4.jpg' %>
</div>
 <div class='table-container'>
  <%= image_tag 'topic_1/table_5.jpg' %>
</div>
<p>
    La producción total de RCD en España, se estima en el informe como la suma
    de la producción de RCD “controlada” según los datos oficiales de las CCAA,
    sumados a la estimación de RCD “incontrolada”, calculada como diferencia
    entre los datos de producción de RCD por la superficie construida y la
    producción oficial. El método, analiza por primera vez en estos años de
    desarrollo del sector la producción de RCD desde el punto de vista de la
    construcción real en obra, su finalidad es comparar y analizar las
    relaciones entre estos “datos obtenidos del sector de la construcción” con
    los “datos oficiales”.
</p>
<p>
    En España se publican los datos de los visados de dirección de obra y
licencias de obra en edificación reflejados en superficie construida (m    <sup>2</sup>), y tanto para obras de edificación residencial como no
    residencial, la estimación de obras de reparación domiciliaria, la
    licitación oficial por tipología de obra en Ingeniería Civil y su
    repercusión en superficie construida, así como la estimación de otras obras
    y producciones menores de RCD, son los datos necesarios para una estimación
    de la superficie construida.
</p>

<p>
    El informe de RCD Asociación contempla los datos de la superficie
    construida para obras de edificación residencial (Obra Nueva, Ampliación,
    Reformas y Rehabilitaciones en edificios y locales comerciales, Obras de
    refuerzo y consolidación, urbanización, demoliciones y otras obras.), y
    edificación no residencial (Comercio, Industria, Oficinas, Turismo, etc.),
    así como con los porcentajes de producción de RCD para cada tipología.
</p>
<div class='image-container'>
  <%= image_tag 'topic_1/image_5.jpg' %>
</div>
<p>
    Para estimar la producción de RCD, contamos con ratios estimativos de
    producción por superficie construida para cada tipología de obra, estos
    ratios relacionan los m<sup>2</sup> construidos con los m<sup>3</sup> de
    RCD producidos, otras fuentes como colegíos oficiales ó escuelas técnicas
    también estiman mediante ratios las producciones de RCD por tipologías de
    obra y que se utilizan para elaborar los planes de gestión de residuos que
    exigen el Real Decreto 105/2008 sobre gestión de RCD.
</p>
<p>
    Para estimar la superficie construida de la Obra Civil (agua, carreteras y
    vías, obras de producción y transporte de energía, encauzamiento y defensa,
    aeropuertos, ferrocarril, regadíos, canales y puertos, saneamiento, etc.),
    partimos de un precio de referencia para cada tipología de obra, esto nos
    permite a partir de las inversiones económicas realizadas, estimar la
    superficie construida y aplicar también un ratio de producción por cada
    tipología de obra civil expresado en m<sup>3</sup> de RCD con relación a
    los m<sup>2</sup> construidos.
</p>

<p>
    A partir de estas superficies a construir, el informe contempla también la
    producción de RCD de obras menores de reparación domiciliaria y obras no
    comunicadas, estimadas como un porcentaje en m<sup>2</sup> sobre las
    superficies objeto de licencia, generalmente son obras no comunicadas
    procedentes de pequeñas reformas y RCD procedentes de fabricación.
</p>
<p>
    <strong></strong>
    <br/>
</p>
<p>
    Todo el documento en el siguiente link:
</p>
<p>
    <a
        href="http://www.rcdasociacion.es/images/documents/Informe-RCDA-11-15.pdf"
    >
        http://www.rcdasociacion.es/images/documents/Informe-RCDA-11-15.pdf
    </a>
</p>
<p>
    <strong>1.3, Problemas Ambientales derivados de la mala gestión</strong>
    <strong> </strong>
    <strong>de los RCD</strong>
</p>
<p>
    Los RCD que se depositan en los vertederos ó rellenos sanitarios sin
    someterse a un tratamiento previo, y aún con el calificativo de residuos
    “inertes”, pueden contener toda clase de materiales y sustancias muchas
    veces peligrosas ó nocivas que terminan en el medio sin ningún control.
</p>
<p>
    El vertido incontrolado con toda clase de RCD, produce una práctica en
    contra de un reciclaje controlado y de calidad, y entre otros problemas
    puede producir:
</p>
<ul>
    <li>
        Ocupación de suelo, problemas urbanísticos, y de transito de camiones
        al estar concentrados en los entornos cercanos de las grandes ciudades.
    </li>
    <div class='image-container'>
  <%= image_tag 'topic_1/image_6.jpg' %>
</div>
    <li>
        Impacto visual, corrimientos de tierras muy peligrosos como
        recientemente en el vertedero incontrolado de residuos de construcción
        cerca de Shangai en China, debido a la inestabilidad de la masa del
        vertedero y el efecto de agentes atmosféricos.
    </li>
    <li>
        La pérdida de materias primas para la fabricación Áridos y Materiales
        reciclados que evitarían en parte la extracción de recursos naturales.
    </li>
    <li>
        La contaminación de los suelos, producidos a causa de la mezcla con
        residuos orgánicos y todo tipo de residuos, incluso residuos peligrosos
        que se pueden estar mezclados con los RCD.
    </li>
    <li>
        La velocidad de degradación de los RCD es más lenta que la velocidad de
        acumulación de los mismos, la descomposición de los residuos produce
        lixiviados perjudiciales para la salud y el medioambiente ya que sin su
        gestión pueden contener al tener un alto contenido en sulfatos,
        selenio, cloro, etc., sólidos disueltos, y metales pesados como el
        cadmio y el plomo como se desprende de estudios realizados todos estos
        lixiviados químicos pueden resultar muy contaminantes.
    </li>
    <li>
        La reducción de iniciativas de reciclaje de RCD por falta de residuos
        que gestionar ya que no podrían competir con vertidos ó rellenos con
        RCD a bajo precio.
    </li>
    <li>
        Se puede producir contaminación de las aguas superficiales y de las
        aguas subterráneas por los lixiviados producidos al entrar en contacto
        los RCD con las aguas lluvias, generando daños en la salud pública al
        contaminar las aguas para consumo humano y la producción de daños en la
        flora y la fauna.
    </li>
    <li>
        La gestión de los RCD sin control en destino, influye directamente en
        la calidad del aire de las zonas donde estos procesos tienen lugar. El
        polvo generado puede provocar distintas molestias y enfermedades,
        incluso puede ser cancerígeno cuando los residuos que se manejan son
        peligrosos como el amianto.
    </li>
    <li>
        Impactos económicos, el reciclaje no puede competir con el vertido ya
        que este último es más económico, debido a la poca maquinaria que
        requiere un vertedero con relación a una planta de tratamiento.
    </li>
</ul>
<div class='image-container'>
  <%= image_tag 'topic_1/image_7.jpg' %>
</div>
<p>
    El reciclado de estos materiales no solo ahorra en vertidos, sino también y
    principalmente en la extracción de recursos naturales cada vez mas
    limitados. Cada m<sup>3</sup> de reciclado de RCD, ahorra un m<sup>3</sup>
de recursos naturales procedentes de canteras ó graveras, y ahorra un m    <sup>3</sup> de depósitos en vertedero.
</p>
<p>
    En los Desastres Naturales deberemos tener un criterio básico para la
    gestión de RCD que evite problemas ambientales:
</p>
<ul>
    <li>
        Definición de las medidas de mitigación y manejo para disminuir el
        impacto paisajístico, de ruido y calidad del aire. Considerar el uso de
        barreras visuales.
    </li>
    <li>
        Determinación de obras de drenaje que sean requeridas tanto en el
        interior de la escombrera como en su perímetro para garantizar la
        adecuada circulación del agua.
    </li>
    <li>
        No se acepta descargar materiales o elementos mezclados con otros
        residuos como basura, residuos líquidos, tóxicos o peligrosos.
    </li>
</ul>
<p>
    Criterios geológicos para la ubicación de escombreras
</p>
<ul>
    <li>
        Análisis de la geología de la zona para identificar adecuadamente los
        posibles sitios degradados por la explotación minera, las zonas de
        suelos poco productivos, las modificaciones morfológicas que pueden
        utilizarse como escombreras.
    </li>
    <li>
        Geomorfología, ya que es importante conocer el estado original de las
        formas (valles, colinas, terrazas, pendientes) a fin de evaluar los
        efectos que se puedan producir en su modificación.
    </li>
    <li>
        Procesos erosivos, tanto de origen natural como humano, y el proceso de
        denudación del suelo (agotamiento de la capa vegetal).
    </li>
    <li>
        Condiciones geotécnicas (estabilidad, características de los suelos,
        nivel freático, posibilidad de confinamiento, fallas y cortes, entre
        otros).
    </li>
</ul>
<div class='image-container'>
  <%= image_tag 'topic_1/image_8.jpg' %>
</div>
<p>
    <strong>1.4 Situación de los RCD en España y en la Unión Europea.</strong>
</p>
<p>
    La situación de los RCD a nivel europeo es muy desigual, existen países con
    más de 30 años de actividad en la gestión de estos residuos, y con
    porcentajes altos de reciclado cercanos al 80% como Holanda, ó Alemania, y
    países de reciente integración en la Unión Europea como Bulgaria ó
    Eslovaquia cuyas tasas de reciclaje no superan el 5%.
</p>
<p>
    El compromiso con el medioambiente implica un uso sostenible de la energía
    y la utilización de materiales que generen menor huella ecológica, en
    nuestro caso el reciclaje de RCD ahorra en la extracción de recursos
    naturales y evita la contaminación que produce el vertido incontrolado. En
    algunos países europeos haber alcanzado tasas de valorización por encima
    del 70%, ha significado reducir la cantidad de vertidos ilegales en un 40%
    y una reducción drástica de la contaminación genérica en el medio de un 15%
    a un 3%.
</p>
<p>
    La tendencia europea avanza hacia una sociedad que recicla, las
    legislaciones de la UE están cada vez mas comprometidas con esta idea,
    hecho que está llevando a cambiar la forma de proyectar y construir con un
    menor impacto sobre el entorno, menor coste medioambiental y energético
    utilizando materiales más duraderos y menos contaminantes y siendo aquí
    donde la correcta gestión de los residuos y la utilización de materiales
    reciclados cobra su sentido.
</p>
<p>
    La transformación de un residuo en un producto demanda un proceso de
    reciclaje acorde para la obtención de nuevos productos, que cumpla las
    normativas de calidad fijadas y responda a los criterio de fin de condición
    de residuo fijado por la directiva europea marco de residuos.
</p>

<div class='image-container'>
  <%= image_tag 'topic_1/table_10.jpg' %>
</div>
<p>
    En España las primeras experiencias de reciclaje son de finales de los años
    noventa, coincidiendo con las transformaciones urbanísticas de la Barcelona
    olímpica, y la aparición de los primeros proyectos piloto de I+D de
    empresas privadas en los vertederos de escombros en Madrid. La primera
    Planta de Tratamiento de RCD a nivel industrial fue operada en Madrid por
    la empresa Tecnología y Reciclado, obtuvo licencia de actividad en el año
    2000, y se ubicó en terrenos cercanos a Valdemingomez, y como alternativa
    de gestión de RCD a los depósitos en vertedero. Hoy en día existen en
    España más de 300 instalaciones de Gestión de RCD.
</p>
<p>
    <strong>Propuestas para el control</strong>
    <strong> </strong>
    <strong>del sector del reciclaje de RCD en España </strong>
</p>
<ul>
    <li>
        Aumentar el control oficial de los RCD en las CCAA mediante
        estadísticas fiables.
    </li>
    <li>
        Se deben recabar datos de los Gestores Autorizados, estimar datos de
        Producción a través de las licencias de obra en sus Ayuntamientos,
        datos de empresas transportistas de RCD en su CCAA, datos de obras
        realizadas con materiales reciclados, datos de obras de demolición con
        reciclaje en obra, datos de rellenos y restauraciones autorizadas,
        entradas en otros gestores, etc.
    </li>
    <li>
        Los Ayuntamientos deben establecer un sistema de fianzas para asegurar
        la correcta gestión de los RCD producidos en obras con licencia
        municipal, y controlar el destino de los RCD de obras menores de
        reparación domiciliaria.
    </li>
    <li>
        Crear un sistema de control de la correcta gestión de los RCD por medio
        de certificados telemáticos expedidos por las empresas autorizadas para
        el tratamiento de RCD y que lleguen directamente a la administración
        para agilizar las tramitaciones administrativas.
    </li>
    <li>
        Fomentar el uso de áridos reciclados en todas las obras públicas.
    </li>
    <li>
        Autorizar rellenos y restauraciones de zonas degradadas por actividades
        mineras “únicamente” cuando se realizan por gestores autorizados y con
        áridos y materiales reciclados.
    </li>
    <li>
        Cumplir la legislación vigente y legislar con criterios de fomento al
        reciclaje.
    </li>
    <li>
        En las contrataciones de obra pública el sistema de puntuación de los
        concursos debe favorecer las empresas que utilicen áridos reciclados a
        la hora de valorar la adjudicación de la obra.
    </li>
</ul>
<p>
    <strong>
        1.5 Protocolo de gestión de residuos de construcción y demolición en la
        EU
    </strong>
</p>
<p>
    El 7 de Noviembre del 2017 se hizo en Madrid la presentación del Protocolo
    de gestión de residuos de construcción y demolición en la EU, este
    documento tiene como objetivo:
</p>
<p>
    <em>
        “Aumentar la confianza en el proceso de gestión de los residuos de
        construcción y demolición, así como la confianza en la calidad de los
        materiales reciclados procedentes de ambas actividades. Este objetivo
        se conseguirá mediante:
    </em>
</p>
<p>
    <em>
        a) la mejora de la identificación de residuos, la separación según el
        origen y la recogida;
    </em>
</p>
<p>
    <em>b) la mejora de la logística de residuos;</em>
</p>
<p>
    <em>c) la mejora del procesamiento de residuos;</em>
</p>
<p>
    <em>d) la gestión de la calidad;</em>
</p>
<p>
    <em>e) Condiciones marco y políticas adecuadas. “</em>
</p>
<p>
    Este protocolo abarca lo ya contemplado en el Real Decreto 105/2008 sobre
    residuos de construcción y demolición y profundiza en algunos temas que el
    Real Decreto no desarrolló lo suficiente.
</p>
<p>
    Los temas tratados son:
</p>
<p>
    <strong>
        Identificación de residuos, separación según el origen y recogida
    </strong>
</p>
<ul>
    <li>
        <strong>Auditoria previa a demolición</strong>
        que en el Real Decreto 105/2008 equivale al estudio de gestión de
        residuos para solicitar la licencia de obra.
    </li>
    <li>
        <strong>Plan de gestión de residuos </strong>
        que está legislado en el 105/2008 en el <em>Artículo 5</em>.
        <em>
            Obligaciones del poseedor de residuos de construcción y demolición
        </em>
        , el protocolo va más allá incluyendo la demolición selectiva y la
        separación en origen como paso previo a un reciclaje eficiente.
    </li>
    <li>
        <strong>Correcta gestión de los residuos peligrosos: </strong>
        El Real Decreto 105/2008 deja del ámbito de aplicación estos residuos
        los cuales tienen normativa especifica pero que en muchos de los casos
        no son tratados correctamente, contaminando los RCD y dificultando su
        reciclaje como residuos no peligrosos, en España el amianto sigue
        siendo de difícil control en las plantas ya que suele llegar mezclado
        en los RCD en pequeñas cantidades lo que dificulta en mucho de los
        casos su detección.
    </li>
</ul>
<p>
    <strong>Logística de los residuos</strong>
</p>
<ul>
    <li>
        Transparencia, rastreo y trazabilidad, para esto se requiere que todos
        los agentes involucrados en la gestión de los RCD tengan identificados
        y documentados las operaciones realizadas, se propone algo que desde la
        Asociación venimos solicitando desde hace tiempo, como es el control
        electrónico por medio de un certificado único, una manera fácil y
        rápida de controlar el flujo de RCD.
    </li>
    <li>
        Se pide que se minimice el consumo de combustibles en el transporte de
        los RCD, para ello se deberían utilizar puntos de transferencia en
        lugares apartados, y el estudio de las vías a utilizar para ahorrar en
        consumo de combustibles.
    </li>
    <li>
        Los transportistas deben tener cuidado para no contaminar los residuos
        separados en obra, cuando se transporten RCD de diferente composición
        se deberá garantizar que los contenedores estén limpios de otros
        residuos.
    </li>
</ul>
<p>
    <strong>Procesamiento y tratamiento de los residuos</strong>
</p>
<ul>
    <li>
        El protocolo habla en este punto, de
        <strong>
            la necesidad de la reutilización por encima del reciclaje
        </strong>
        , ya que la reutilización da una segunda vida a materiales de la
        construcción, esto es solo posible en un proceso de deconstrucción que
        priorice la recuperación de los materiales que puedan tener una segunda
        vida como son ventanas, inodoros, lavamanos, luminarias, falsos techos,
        etc…
    </li>
    <li>
        Otro de los temas tratados en este apartado es el reciclaje y su
        importancia como fuente de protección del Medio Ambiente, por la
        minimización de utilización de recursos naturales y el aporte económico
        que del reciclado se produce gracias a la transformación de residuos en
        productos de la construcción. También se trata el tema del reciclaje in
        situ pero se recalca la necesidad de controles adecuados para que estas
        prácticas de reciclado no generen contaminación en el lugar donde se
        realizan.
    </li>
    <li>
        En cuanto al uso de materiales y áridos para rellenos el protocolo
        acentúa que si bien es una práctica de reciclaje, esta debe de ser la
        última opción ya que desaprovecha usos superiores que se le pueden dar
        a los áridos y materiales reciclados.
    </li>
    <li>
        Por otra parte se insiste en la utilización de subproductos (madera
        contaminada y productos de madera no adecuados para la reutilización ni
        el reciclaje, plásticos, materiales de aislamiento orgánicos térmico o
        sonoro, membranas de impermeabilización bituminosas, etc…) con alto
        valor energético en la valorización energética en cementeras, esta
        práctica ya es habitual en muchos países de la UE .
    </li>
</ul>
<p>
    <strong>Gestión y garantía de calidad</strong>
</p>
<div class='table-container'>
  <%= image_tag 'topic_1/table_11.jpg' %>
</div>
<p>
    La gestión de la calidad incluye toda la cadena de reciclaje de los RCD
    desde la correcta deconstrucción, el transporte, hasta la gestión final de
    los RCD por medio de la reutilización, reciclaje, y la eliminación de los
    RCD no reciclable y el control de los áridos reciclados producidos.
</p>
<p>
    Este apartado recomienda el uso de las ISO 14001 de Medio Ambiente, la ISO
    9000 de Calidad y la certificación medioambiental Europea EMAS, para la
    mejora del proceso de producción de materiales reciclados de construcción.
</p>
<p>
    En cuanto a la calidad de los productos reciclados este protocolo recalca
    la necesidad de la certificación, la acreditación, el etiquetado y el
    marcado. Para ello recomienda las siguientes normas de calidad Europeas.
</p>
<ul>
    <li>
        Reglamento sobre productos de construcción (Reglamento (UE) n.º
        305/2011, RDC)
    </li>
    <li>
        Las evaluaciones técnicas europeas se han realizado para productos que
        no cuenten con normas armonizadas. Como ejemplo el recuadro 20 del
        Anexo D
    </li>
</ul>
<table cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td valign="top">
                <p>
                    <strong>
                        Recuadro 20: normas para la madera reciclada
                    </strong>
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <p>
                    Desde hace más de 15 años, los fabricantes aplican las
                    normativas del sector al uso de madera reciclada para la
                    producción de paneles de madera. Una primera norma de la
                    European Wood-based Panels Federation (EPF) está destinada
                    a garantizar que los paneles de madera sean tan seguros
                    como los juguetes y sean ecológicos. Se basa en las normas
                    europeas de seguridad de los juguetes, que establecen
                    valores límite para la presencia de posibles elementos
                    contaminantes. La segunda norma de la EPF describe las
                    condiciones en las cuales puede aceptarse madera reciclada
                    para fabricar paneles de madera. Esta norma comprende
                    requisitos generales en materia de calidad y contaminación
                    química, tipos de materiales inaceptables (por ejemplo,
                    madera tratada con pentaclorofenol), así como métodos de
                    referencia para el muestreo y la realización de pruebas.
                </p>
                <p>
                    Fuente: European Panel Federation (EPF), 2016,
                    www.europanels.org en inglés
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    <strong>Condiciones marco y políticas</strong>
</p>
<p>
    Este capítulo habla de la importancia de una correcta legislación y
    normativa en los estados miembros y de la implicación que las
    administraciones deben tener en la gestión de los RCD.
</p>
<ul>
    <li>
        Los permisos y licencias de obra deben de ir acompañados de un
        seguimiento y control por parte de las Administraciones.
    </li>
    <li>
        También se habla de estrategias para la minimización de RCD que van a
        vertederos poniendo mayores restricciones en la entrada en estos, con
        impuestos y normativas estrictas, para disminuir los RCD que entren en
        vertedero y el aumento del reciclaje.
    </li>
    <li>
        Otra alternativa propuesta para la ayuda a la comercialización de los
        productos resultantes es impuestos sobre las materias primas vírgenes.
    </li>
    <li>
        Conceder espacios para el reciclado si no existieran en lugares
        apartados o en ciudades donde la iniciativa privada no pueda abarcar
        todo lo producido por la población.
    </li>
    <li>
        Se debe hacer una correcta valoración por parte de las administraciones
        de los pros y contras para la autorización de maquinaria móvil en
        núcleos urbanos para la protección de la población cercana a la
        valorización in situ.
    </li>
    <li>
        Así mismo se habla de lo crucial que es la aplicación de la normativa,
        tanto para la regulación de las entradas en vertedero como para el
        control de las obras por parte de los ayuntamientos.
    </li>
    <li>
        Se deberán imponer sanciones proporcionales a las actividades ilegales,
        para que contaminar no resulte más barato que hacerlo legalmente.
    </li>
    <li>
        Las administraciones deberán tener una correcta evaluación de los RCD
        que se producen en sus áreas.
    </li>
    <li>
        Se hace hincapié en la contratación pública verde para que se priorice
        el uso de los materiales reciclados y reutilizados por parte de las
        administraciones en sus obras.
    </li>
    <li>
        Las administraciones deben educar y concienciar a todos los actores
        involucrados en el proceso de producción.
    </li>
</ul>
<p>
    Todo este documento se puede descargar en el siguiente link:
</p>
<p>
    http://rcdasociacion.es/images/varios/Protocol-EU-RCD.pdf
</p>
<p>
    <strong>
        1.6 Gestión prioritaria en numerosos países emergentes a nivel mundial,
        y en el plan de acción de economía circular de la UE.
    </strong>
</p>
<p>
    Los Residuos de Construcción y Demolición RCD, por su gran volumen de
    producción, impacto en el medio, y facilidad de reciclaje, representan uno
    de los cinco sectores prioritarios del Plan de Acción de la Unión Europea
    para la Economía Circular.
</p>
<p>
    El Plan de acción de la UE, contempla 50 acciones clave y 4 propuestas
    legislativas referidas principalmente a las modificaciones en la Directiva
    de Residuos que los Estados Miembros deberán incorporar a sus
    legislaciones, en España el Programa Marco de Residuos (PEMAR 2016-2020),
    incorpora los objetivos de las orientaciones comunitarias para la política
    de residuos que tratan de convertir a Europa en una sociedad eficiente en
    el uso de los recursos, produciendo menos residuos, y utilizando como
    recursos los que no pueden ser evitados.
</p>
<div class='image-container'>
  <%= image_tag 'topic_1/image_9.jpg' %>
</div>
<p>
    Se sustituye una economía lineal basada en producir, consumir y tirar, por
    la economía circular en la que se reincorporan al proceso productivo una y
    otra vez los materiales que contienen los residuos para la producción de
    nuevos productos como materias primas, en este planteamiento, el reciclaje
    o la valorización de los RCD juegan un papel primordial.
</p>
<p>
    El Plan plantea como objetivos la reparación, reutilización y reciclaje,
    proveer a los consumidores de la información necesaria sobre el impacto de
    los productos consumidos, establecer criterios de Contratación Pública
    Verde, y expectativas derivadas del concepto de economía circular que
    tendrá importantes ahorros de recursos, inversiones económicas, creación de
    mas de 170.000 puestos de trabajo en el sector de residuos, apertura de los
    mercados para incrementar el uso de materias primas secundarias, mejora del
    medioambiente, etc.
</p>
<p>
    La conferencia de Rótterdam de enero de 2016 sobre economía circular
    (Países Bajos ostenta en el primer semestre de 2016 la presidencia de la
    UE) se desarrolló a partir de las experiencias y contribuciones que
    expusieron organizaciones y empresas invitadas de los diferentes sectores
    de residuos, estas trataron de sintetizar en sus ponencias y exposiciones,
    las acciones claves que deberán trasladarse a la redacción de las políticas
    efectivas y medidas legislativas concretas.
</p>
<p>
    RCDA junto con la asociación italiana AMPAR fueron las invitadas por la
    organización para exponer la problemática y acciones necesarias del sector
    de los RCD para el cumplimiento de los objetivos 2020 y de economía
    circular.
</p>
<p>
    España presentó el análisis del sector de los RCD con varias sentencias y
    propuestas de mejora que fueron realizadas y reivindicadas con la
    colaboración de los gestores autorizados, como principales problemas en
    España nos encontramos con:
</p>
<ul>
    <li>
        Gestión del 40% de los RCD depositados en el medio ó en el paisaje de
        manera ilegal, con gran parte del 60% restante controlado que termina
        ante la falta de demanda depositado finalmente en vertedero.
    </li>
    <li>
        Se contemplan en muchas CCAA como restauración de huecos mineros los
        “rellenos” con RCD, prácticas ilegales que no pueden nunca calificarse
        como una valorización
    </li>
    <li>
        Precio de gestión de RCD muy bajo para su correcta gestión al existir
        un mercado ilegal muy barato.
    </li>
    <li>
        La mayoría de los Ayuntamientos en España no han incorporado a sus
        normativas municipales la legislación básica del Estado en materia de
        residuos de construcción y demolición, los Ayuntamientos y las CCAA,
        responsables del control y sanción de la producción y gestión de
        residuos cuentan con pocos recursos técnicos para realizar dicha labor
        por lo que todavía queda camino por recorrer.
    </li>
</ul>
<p>
    Propuestas de mejora para lograr el 70% de valorización en cumplimiento con
    los objetivos de la UE en el 2.020:
</p>
<ul>
    <li>
        Necesidad de un cumplimiento legislativo efectivo para terminar con las
        prácticas ilegales.
    </li>
    <li>
        Aumento del precio del vertido como fomento al reciclaje.
    </li>
    <li>
        Favorecer el consumo de áridos reciclados en los procesos productivos y
        en obra.
    </li>
    <li>
        Necesidad de un compromiso de los organismos oficiales encargados de la
        gestión, imponiendo fuertes sanciones al vertido ilegal.
    </li>
    <li>
        Obligatoriedad de utilización de reciclado en porcentaje en todas las
        obras públicas.
    </li>
    <li>
        Favorecer los acuerdos sectoriales para su comercialización.
    </li>
    <li>
        Incorporar a las legislaciones en curso las definiciones de “relleno”,
        entendiendo que únicamente se pueda rellenar con tierras limpias de
        excavación sin ningún RCD mezclado y con materiales reciclados para ese
        uso procedentes de Gestores Autorizados
    </li>
    <li>
        Armonizar unas estadísticas fiables a nivel de las CCAA.
    </li>
    <li>
        Articular mecanismos eficientes de verdadero cumplimiento normativo que
        no debería pasar únicamente por el filtro de una administración pública
        sino con la colaboración directa de las asociaciones empresariales
        implicadas.
    </li>
</ul>
<p>
    <strong></strong>
    <br/>
</p>
