<h4>
    TEMA 9. Viabilidad económica del reciclaje de RCD
</h4>
<h4>
</h4>
<p>
    9.1 Planteamiento económico
</p>
<p>
    9.2 Producción y parámetros en proyectos de reciclaje
</p>
<p>
    9.3 Inversiones y amortizaciones
</p>
<p>
    9.4 Ingresos y Gastos
</p>
<p>
    9.5 Cuenta de resultados
</p>
<p>
    <strong><u></u></strong>
</p>
<p>
    <strong><u> </u></strong>
</p>
<p>
    <strong><u>9.1 Planteamiento económico</u></strong>
</p>
<p>
    La gestión de RCD tiene la peculiaridad económica de que la materia prima
    de fabricación a diferencia de otras actividades empresariales supone un
    ingreso económico, es decir se cobra por gestionar el residuo y se cobra
    por la venta de materiales y áridos reciclados, éste factor económico debe
    posicionar a los áridos reciclados de manera favorable y competitiva en el
    mercado global de áridos y materiales.
</p>
<p>
    El equilibrio entre los precios de entrada y salida que puede permitir un
    mercado concreto en el entorno de cada proyecto de reciclaje, así como los
    gastos y el resultado que pueda reportar la actividad, es lo que debemos
    estudiar a fondo para definir si un proyecto es viable, hay proyectos con
    demanda de áridos donde los precios de entrada para la gestión son bajos, y
    al contrario proyectos donde los áridos reciclados compiten con áridos
    naturales de alta calidad a precios bajos y que deben basar su
    planteamiento económico en los precios de entrada.
</p>
<p>
    Si hablamos por otra parte de reciclaje en obra como el cobro por un
    servicio, pueden variar estas consideraciones, generalmente hay que definir
    en la contratación la propiedad de los áridos reciclados y de los
    subproductos producidos tales como los materiales férricos.
</p>
<p>
    Es importante también para realizar un planteamiento económico general para
    la gestión de RCD, conocer si está previsto ó cuenta el centro de
    tratamiento con un vertedero ó relleno sanitario de cola y por tanto
    contamos con la seguridad y estabilidad de precios de vertido además de
    poder procesar porcentualmente los RCD gestionados, ó hablamos únicamente
    de reciclaje en cuyo caso nuestros rechazos deben trasladarse a un
    vertedero externo con su sistema de tarifas y sus costes de transporte.
</p>
<p>
    Los centros de tratamiento que cuentan con vertedero propio de rechazos
    basan sus ingresos principalmente en los cobros por la gestión del residuo,
    es decir por la entrada de camiones en las instalaciones, generalmente las
    plantas de reciclaje que no cuentan con vertedero propio están obligadas a
    contar con los ingresos por la venta de materiales y áridos reciclados y a
    realizar procesos de calidad para competir en un mercado con referencia
    económica con los áridos naturales, por otra parte deben producir los
    mínimos rechazos ya que su gestión externa les suponen un alto coste.
</p>
<p>
    Por tanto podemos encontrarnos plantas de tratamiento con precios de salida
    de materiales reciclados bajos y pocas prestaciones técnicas que
    económicamente han basado su planteamiento en los precios de entradas de
    RCD en sus instalaciones, y plantas con procesos complejos ya que el
    planteamiento económico estaba basado en la calidad de sus productos.
</p>
<p>
    Estas diferencias de planteamientos deben ir definiendo desde inicio
    nuestro plan de viabilidad y ayudarnos en la toma de decisiones del
    proyecto con referencia a los procesos de tratamiento necesarios, maquina,
    equipos humanos y materiales, etc.
</p>
<p>
    En primer lugar y paralelamente al apoyo legislativo y de los agentes que
    acompañan el ciclo de vida de los materiales de construcción, deberemos
    realizar el estudio de viabilidad del proyecto a partir de un estudio de
    mercado lo mas amplio posible que responda a diferentes cuestiones, cuanto
    RCD se produce?, como se gestiona actualmente?, cuanto se paga?, cuantos
    vertederos operan en el entorno?, a que distancias y ubicaciones?, cuantas
    plantas de tratamiento existen?, donde se ubican?, cual es su sistema
    tarifario?, cuanto podremos captar?, como se realiza el transporte de RCD?,
    cuantas empresas operan en la demolición y transporte de RCD?, cual es el
    precio de áridos naturales?, cual es la demanda de áridos?, cuales son las
    expectativas de construcción?, cuales son las rutas del transporte?, cual
    es el volumen de construcción en los últimos años?, que tipologías de obra
    se realizan?, cual es la tendencia?, cual es el precio de la energía?, los
    salarios?, seguros sociales?, cual es el coste de gestión de rechazos?,
    etc.
</p>
<div class='image-container'>
   <%= image_tag 'topic_9/image_1.jpg' %>
</div>
<p>
    El estudio de viabilidad económica definirá las claves del proyecto y
    ayudará en la toma de decisiones para los promotores ó inversionistas, que
    producción necesitamos, a que precios de entrada y salida, que maquinaria y
    equipos debemos adquirir, personal necesario, necesidad de acopios y por
    tanto las necesidades de superficies y terrenos, ubicaciones preferentes
    para nuestro proyecto, etc.
</p>
<p>
    <strong><u>9.2 Producción y Parámetros del Proyecto</u></strong>
</p>
<p>
    <strong><u> </u></strong>
</p>
<p>
    Como hemos visto en capítulos anteriores existen varios métodos para
    conocer los RCD que se producen en el entorno próximo a nuestro proyecto
    (aproximadamente en un círculo máximo de distancia de 30 a 40 Kilómetros),
    podemos realizar una estimación de la producción de RCD por dos métodos:
</p>
<p>
    · Producción de RCD por Ratios en relación al Nº de habitantes y años.
</p>
<p>
    · Producción de RCD por Ratios en relación a la superficie de obra
    construida por tipología de obra.
</p>
<p>
    <strong><u> </u></strong>
</p>
<p>
    La producción calculada por ratios en relación al número de habitantes del
    área de influencia de un proyecto se calcula multiplicando un ratio teórico
    basado en producciones, estadísticas ó circunstancias sociales y económicas
    similares a las del proyecto por el número de habitantes en un periodo de
    tiempo.
</p>
<p>
    También pueden calcularse los ratios dividiendo las mediciones de RCD
    realizadas en vertederos, rellenos ó botaderos existentes, ó directamente
    sobre mediciones de los camiones que circulan en los accesos a los
    vertederos, ó botaderos existentes, al dividir estos datos por el número de
    habitantes en un periodo de tiempo.
</p>
<p>
    El cálculo de producción por ratios en relación a la superficie construida,
    aplica ratios basados en mediciones reales de producción realizadas a
    diferentes tipologías de obra, para realizarlo necesitamos conocer a través
    de datos municipales, el número de licencias otorgadas, superficies y
    tipologías de las obras, así como conocer los actos comunicados ó
    estimaciones de obras menores realizadas.
</p>
<p>
    Los estudios de Viabilidad de proyectos de reciclaje realizan en lo posible
    ambas estimaciones de producción, pudiendo establecer la media de ambas
    como la producción de partida, conocida la producción en el entorno de
    nuestro proyecto, deberemos estimar el porcentaje de captación de estos
    residuos que creemos pueden acceder a nuestro proyecto, para ello tendremos
    en cuenta factores legislativos (obligatoriedad), precios, distancias,
    posicionamiento en el mercado, competencia, etc.
</p>
<p>
    En el cuadro del ejemplo siguiente, estimamos una producción de 309.318
    toneladas como la media de los cálculos por ratios de población y
    tipologías de obras. Este dato al dividirlo por la población, nos da un
    ratio considerado de 0,43 toneladas/habitante/año.
</p>
<p>
    En el cuadro hemos considerado que somos capaces de captar el 65% de los
    RCD producidos. Lo que nos dará una primera aproximación de cantidad de los
    residuos que vamos a generar anualmente.
</p>
<div class='table-container'>
   <%= image_tag 'topic_9/table_1.jpg' %>
</div>
<p>
    Es importante referir también las producciones anuales a otras referencias
    como cantidad mensual, ó al número de camiones que vamos a gestionar al
    mes, día, ó a la hora, etc. para ir visualizando y comprobando los datos
    del proyecto.
</p>
<p>
    Obtenida la producción anual (año1), podemos realizar una proyección en el
    tiempo (5 ó 10 años), con la estimación de variaciones dependiendo de
    factores tales como el índice de precios, crecimiento del sector en los
    últimos años, previsiones de obras ó desarrollos urbanísticos, aplicaciones
    normativas, recesión del mercado, etc, en nuestro ejemplo hemos considerado
    un crecimiento anual de la producción del 3%.
</p>
<p>
    En esta estimación podemos ya indicar el porcentaje previsto del tipo de
    RCD de entrada según su naturaleza, bien RCD “Limpio” (hormigones,
    aglomerados, etc.), ó bien RCD “mezclados”, ya que las tarifas de entrada,
    los procesos, los acopios previos al tratamiento, etc., también son
    diferentes.
</p>
<p>
    Las estimaciones de porcentaje pueden realizarse conociendo las tipologías
    de obra (algunas producen directamente RCD limpios), ó bien realizando
    estimaciones sobre los camiones de recogida y transporte, como regla
    general si no existe selección en origen podemos estimar que las tipologías
    de obra que producen RCD “Limpios”, son un 25% de todos los RCD producidos.
</p>
<div class='table-container'>
   <%= image_tag 'topic_9/table_2.jpg' %>
</div>
<p>
    Los diferentes tipos de RCD de entrada como hemos visto en capítulos
    anteriores se acopian de manera diferenciada previamente a su tratamiento.
</p>
<p>
    Podemos estimar por experiencias de otras plantas de reciclaje, así como
    por nuestras necesidades de cara a su comercialización, los porcentajes de
    diferentes materiales producidos tanto de la planta de clasificación, como
    de las plantas de trituración y cribado. (Hay que tener en cuenta que parte
    de los materiales de la planta de clasificación se someten posteriormente
    al proceso de trituración y cribado).
</p>
<p>
    En el ejemplo, a las 50,264 t de inertes limpios, sumamos 51.270 t que
    hemos preparado en la planta de clasificación.
</p>
<div class='table-container'>
   <%= image_tag 'topic_9/table_3.jpg' %>
</div>
<p>
    <strong><u> </u></strong>
</p>
<p>
    Estos primeros datos del estudio nos permiten estimar para el periodo de
    tiempo considerado las capacidades y necesidades de la maquinaria y equipos
    de tratamiento, para realizarlo hay que tener en cuenta la unidad de medida
    con la que estamos trabajando y conocer las unidades de medida comerciales
    de la maquinaria y equipos, en nuestro caso si hablamos de equipos de
    clasificación de RCD los rendimientos se establecen en m3 a la hora, por lo
    que deberemos estimar la producción también en m3, si hablamos de los
    rendimientos de los equipos de trituración y cribado comercialmente las
    producciones se establecen en toneladas/hora que es nuestra medida de
    trabajo.
</p>
<p>
    Podemos también adecuar los rendimientos necesarios de maquinaria para
    nuestras necesidades de producción, ampliando ó reduciendo los turnos de
    trabajo de la instalación.
</p>
<p>
    En el ejemplo, para dimensionar la maquinaria de clasificación, pasamos las
    toneladas a m3, considerando una densidad media del RCD mezclado de 0,7
    t/m3, calculamos los m3 anuales que necesitamos procesar, en nuestro caso
    para 8 horas de trabajo necesitaríamos un rendimiento de maquinaria de
    90t/hora.
</p>
<div class='table-container'>
   <%= image_tag 'topic_9/table_4.jpg' %>
</div>
<p>
    <strong><u> 9.3 Inversiones y amortizaciones</u></strong>
</p>
<p>
    <strong><u> </u></strong>
</p>
<p>
    Podemos dividir las inversiones a realizar en los siguientes capítulos:
</p>
<ul type="disc">
    <li>
        Obra Civil:
    </li>
</ul>
<p>
    Este capítulo recoge las inversiones en adquisición ó adecuación de
    terrenos, y las obras de infraestructura e instalaciones necesarias para la
    puesta en marcha de la planta, si incluimos la inversión en terrenos los
    plazos de amortización pueden ser de 50 ó mas años, el resto de
    infraestructuras e instalaciones pueden tener amortizaciones a 5, 10 ó 20
    años, (hay que tener en cuenta la legislación nacional al respecto).
</p>
<div class='table-container'>
   <%= image_tag 'topic_9/table_5.jpg' %>
</div>
<ul type="disc">
    <li>
        Maquinaria Fija
    </li>
</ul>
<h4>
    Inversiones en maquinaria y equipos de tratamiento de la planta, los plazos
    de amortización pueden variar de 5 a 10 años.
</h4>
<h4>
</h4>
<div class='table-container'>
   <%= image_tag 'topic_9/table_6.jpg' %>
</div>
<ul type="disc">
    <li>
        Maquinaria Móvil
    </li>
</ul>
<h4>
</h4>
<h4>
    Inversiones en los equipos de transporte y carga de la planta
</h4>
<h4>
</h4>
<div class='table-container'>
   <%= image_tag 'topic_9/table_7.jpg' %>
</div>
<h4>
</h4>
<ul type="disc">
    <li>
        Varios
    </li>
</ul>
<h4>
</h4>
<h4>
    Este capítulo recoge el resto de inversiones necesarias tales como
    consultorías, permisos y licencias, etc. los plazos de amortización pueden
    ser muy diferentes aunque para el estudio de viabilidad podemos considerar
    un plazo de amortización único lo más corto posible.
</h4>
<h4>
</h4>
<div class='table-container'>
   <%= image_tag 'topic_9/table_8.jpg' %>
</div>
<h4>
</h4>
<h4>
    Con estos datos podemos realizar un cuadro de amortización de las
    inversiones en el periodo considerado del proyecto.
</h4>
<h4>
</h4>
<div class='table-container'>
  <%= image_tag 'topic_9/table_9.jpg' %>
</div>
<h4>
</h4>
<p>
    <strong><u>9.4 Ingresos y Gastos </u></strong>
</p>
<h4>
</h4>
<h4>
    Los ingresos de las instalaciones de gestión de RCD provienen
    principalmente de las entradas ó “inputs” por la gestión del residuo, y de
    los ingresos por la venta de áridos y materiales reciclados.
</h4>
<h4>
</h4>
<h4>
    Pueden existir otros ingresos como la venta de subproductos con “valor
    económico” como el caso de los materiales férricos, pero que en el estudio
    económico los consideramos dentro del capítulo de gastos de gestión
    conjuntamente con los rechazos con otros subproductos que pueden tener un
    valor negativo.
</h4>
<h4>
</h4>
<h4>
    Conocidas las toneladas de entrada anuales en la instalación, el estudio
    económico considerará unos precios de gestión adecuados para su mercado, es
    importante señalar que la mayoría de las instalaciones y para los RCD
    mezclados, la referencia a los precios de gestión se realizan por el
    volumen de RCD de entrada, es decir en €/m3, esto es debido a que se evita
    pesar todos los camiones en la instalación, y la referencia es más
    económica para el mercado al tratarse de RCD con densidades inferiores a
    1t/m3.
</h4>
<h4>
</h4>
<h4>
    Al contrario, para los RCD “Limpios” las referencias de precios de entrada
    suelen establecerse en peso (toneladas), al igual que en la referencia de
    precios “Output” ó salidas de los áridos y materiales reciclados.
</h4>
<h4>
</h4>
<h4>
    En el ejemplo de ingresos por entradas en Planta, hemos considerado un
    precio de 2€/t para RCD limpios, y 5€/m3 para RCD mezclados.
</h4>
<h4>
</h4>
<div class='table-container'>
   <%= image_tag 'topic_9/table_10.jpg' %>
</div>
<h4>
</h4>
<h4>
    En el ejemplo de ingresos por venta de áridos y materiales reciclados, no
    aparecen las toneladas de materiales que enviamos a otros gestores y los
    rechazos a vertederos ya que estas suponen un gasto.
</h4>
<h4>
</h4>
<div class='table-container'>
   <%= image_tag 'topic_9/table_11.jpg' %>
</div>
<h4>
</h4>
<h4>
    Es importante en el estudio económico establecer precios “reales” de áridos
    y materiales reciclados que admita ó pueda admitir el mercado y en lo
    posible con referencia al mercado de los áridos naturales, para los
    materiales de gran producción y pocas prestaciones con aplicaciones en
    rellenos y restauraciones (equiparables a tierras de excavación),
    necesitamos importantes salidas de la planta para evitar acumulación en
    acopios y para los que debemos considerar precios muy cercanos a cero
    incluso valores negativos en algunos proyectos.
</h4>
<h4>
</h4>
<h4>
    Destacar de los ingresos, la importancia porcentual de los ingresos por las
    entradas en las instalaciones de los RCD mezclados.
</h4>
<h4>
</h4>
<h4>
    Los gastos de producción podemos dividirlos en gastos fijos, variables, y
    generales, como gastos fijos deberemos considerar el mantenimiento ó
    alquiler en su caso de los terrenos, los seguros y mantenimiento de
    licencias, el personal de la planta, y un capítulo de gastos varios que
    incluye el gasto fijo de luz y agua, equipamiento del personal, controles
    ambientales, etc.
</h4>
<h4>
</h4>
<h4>
    Los gastos variables son los relacionados con la puesta en marcha de las
    instalaciones, consumo, mantenimiento, y gestión de los rechazos
    producidos.
</h4>
<h4>
</h4>
<div class='table-container'>
  <%= image_tag 'topic_9/table_12.jpg' %>
</div>
<h4>
</h4>
<h4>
    Los rechazos que se producen podemos denominarlos externos (Metales,
    plásticos, maderas, etc.) cuando tenemos que enviarlos a su coste a otros
    gestores autorizados, ó rechazos destinados a vertedero que suponen también
    un coste para la instalación.
</h4>
<h4>
    Debemos separar los costes variables de las plantas de clasificación, de
    los costes de las de machaqueo y cribado, el cálculo de estos costes se
    realiza en base a su rendimiento, en calcular el coste por tonelada y
    multiplicarlo por las toneladas previstas de la instalación, para su
    cálculo partimos de los rendimientos de la maquinaria y de las
    producciones, es importante también asignar a cada unidad de producción la
    maquinaria móvil ó periférica prevista (retroexcavadora y/o pala
    cargadora), y conocer los consumos que marca el fabricante, principalmente
    de los grupos electrógenos y el precio en planta del gasoil, debemos
    también conocer los desgastes de maquinaria y tiempos que marca el
    fabricante y el precio de los repuestos, podemos asignar un costo de
    reparaciones e incluir los costes de agua, analíticas previstas, etc.
</h4>
<h4>
</h4>
<div class='table-container'>
   <%= image_tag 'topic_9/table_13.jpg' %>
</div>
<h4>
</h4>
<h4>
    Los gastos generales podemos calcularlos a efectos del estudio de
    viabilidad como un porcentaje sobre los ingresos y que podemos fijar
    dependiendo de la estructura de la empresa
</h4>
<h4>
    <u> </u>
</h4>
<h4>
    <u>9.5 Cuenta de resultados, financiación, ratios financieros.</u>
    <u></u>
</h4>
<h4>
    <u> </u>
</h4>
<h4>
    La cuenta de resultados de explotación del proyecto es la diferencia entre
    ingresos y gastos de cada periodo, sin contar los gastos financieros ya que
    dependen más de nuestra capacidad de inversión.
</h4>
<h4>
</h4>
<h4>
    Es importante referenciar siempre las cantidades económicas a las unidades
    de gestión, en nuestro caso €/tonelada.
</h4>
<h4>
</h4>
<div class='table-container'>
   <%= image_tag 'topic_9/table_14.jpg' %>
</div>
<h4>
</h4>
<h4>
    La cuenta de resultados del ejemplo, refleja la media del periodo en un
    beneficio de 2,42€ por cada tonelada gestionada.
</h4>
<h4>
</h4>
<h4>
    A esta cuenta de resultados, sumamos los costes financieros y calculamos el
    EBITDA que es la generación de recursos sin amortizaciones ni impuestos.
</h4>
<h4>
</h4>
<div class='table-container'>
   <%= image_tag 'topic_9/table_15.jpg' %>
</div>
<h4>
</h4>
<h4>
    Para ello, conocida la inversión, podemos estimar dependiendo de nuestra
    capacidad de inversión, los recursos propios y/ó ajenos necesarios, y
    calcular los costes financieros, en el ejemplo hemos estimado la necesidad
    de financiar el 60% de la inversión.
</h4>
<h4>
</h4>
<div class='table-container'>
   <%= image_tag 'topic_9/table_16.jpg' %>
</div>
<h4>
</h4>
<h4>
    Al restar las amortizaciones, obtendremos el BAI (Beneficio Antes de
    Impuestos), y el BDI (Beneficio Después de Impuestos).
</h4>
<h4>
</h4>
<div class='table-container'>
   <%= image_tag 'topic_9/table_17.jpg' %>
</div>
<h4>
</h4>
<h4>
    El Cash Flow (Flujo de Caja) del Proyecto es la suma del BDI y las
    amortizaciones propias y ajenas de la inversión realizada.
</h4>
<h4>
</h4>
<div class='table-container'>
   <%= image_tag 'topic_9/table_18.jpg' %>
</div>
<h4>
</h4>
<h4>
    El Cash del Proyecto, permite calcular por medio de funciones financieras
    en hoja de cálculo (Excel) los ratios financieros, la TIR (tasa interna de
    rendimiento), y el VAN (Valor Actual Neto) que es el dinero sobrante al
    porcentaje requerido de nuestra inversión.
</h4>
<h4>
</h4>
<div class='image-container'>
   <%= image_tag 'topic_9/table_19.jpg' %>
</div>
<h4>
</h4>
<h4>
    En el grafico podemos visualizar en azul el Cash Flow del proyecto y el
    acumulado en rojo lo que nos permiten una representación gráfica del
    estudio de viabilidad.
</h4>
<div class='table-container'>
   <%= image_tag 'topic_9/table_20.jpg' %>
</div>
<h4>
</h4>
<h4>
    El estudio de viabilidad permite distintas simulaciones que nos ayudarán en
    la toma de decisiones de inversión en un proyecto.
</h4>
<h4>
</h4>
<h4>
</h4>
