<p>
    <strong>TEMA 3. Control de los RCD.</strong>
</p>
<p>
    3.1 Agentes que intervienen
</p>
<p>
    3.2 Estudio de Gestión de los RCD
</p>
<p>
    3.3 Calculo de los RCD que se van a producir
</p>
<p>
    3.4 Control de Obras con proyecto técnico
</p>
<p>
    3.5 Control de Obras menores
</p>
<p>
    3.6 Ejemplo de FIANZA: Plan de Gestión del Edificio España.
</p>
<p>
    3.7 Control de los RCD por el Gestor Autorizado
</p>
<p>
    3.8 Proceso de deconstrucción
</p>
<p>
    En España como hemos visto en el capítulo de legislación, el Real Decreto
    105/2008 sobre el régimen de control de la producción, posesión y gestión
    de los residuos de construcción y demolición, contempla la posibilidad del
    establecimiento en los términos previstos en la legislación de las
    comunidades autónomas, de un mecanismo de control vinculado a la obtención
    de la licencia de obras que otorgan los Ayuntamientos ó Municipalidades, y
    mediante la constitución por parte del productor de una Fianza, u otra
    garantía equivalente, que responda del cumplimiento de los requisitos del
    real decreto, y en particular, de la gestión de los residuos de
    construcción y demolición que se producirán en la obra. Agentes que
    intervienen
</p>
<p>
    Para una correcta Gestión de los RCD es necesario implicar a todos los
    agentes que intervienen en su ciclo de vida, los más importantes:
</p>
<p>
    <strong>El Promotor de la obra:</strong>
</p>
<p>
    Es el Titular de la Licencia Urbanística, y responsable final de la
    correcta gestión de los RCD, debe presentar al Ayuntamiento ó Municipalidad
    con la solicitud de licencia y junto con el Proyecto Técnico de la Obra, un
    Estudio de Gestión de RCD que indicará entre otros los RCD que se van a
    producir.
</p>
<p>
    El Promotor depositará una FIANZA ó GARANTIA equivalente que recuperará una
    vez entregados los RCD a un Gestor Autorizado.
</p>
<p>
    El Promotor exigirá a las empresas que ejecuten la obra, la correcta
    gestión de los RCD.
</p>
<div class='image-container'>
  <%= image_tag 'topic_3/image_1.jpg' %>
</div>
<p>
    <strong>Ayuntamiento ó Municipalidad:</strong>
</p>
<p>
    Es la figura clave de funcionamiento del sistema, deberá exigir el
    cumplimiento legislativo sobre RCD en todas las obras, exigir y comprobar
    el estudio de gestión, calcular el coste de la FIANZA y no liberarlo hasta
    la comprobación del certificado de entrega firmado por el Gestor
    Autorizado.
</p>
<p>
    <strong>Contratista de la obra:</strong>
</p>
<p>
    Es el encargado de ejecutar las obras y el poseedor de los residuos, deberá
    elaborar un Plan de Gestión de Residuos acorde con el Estudio de Gestión
    recibido de la Dirección Facultativa, en el, se describan las actividades a
    realizar para garantizar la correcta gestión de los RCD, se comprometerá
    con el Promotor a entregar los residuos a Gestor Autorizado, y le
    entregarle el certificado de correcta gestión.
</p>
<p>
    <strong>Transportista:</strong>
</p>
<p>
    Es la empresa contratada por la Obra encargada del transporte de los RCD y
    de entregarlo finalmente a un gestor ó planta autorizada, deberá ser una
    empresa autorizada para el transporte de RCD, y deberá entregar al
    Contratista los albaranes y el Certificados de su Correcta Gestión.
</p>
<p>
    <strong>Gestor intermedio</strong>
</p>
<p>
    Se le denominan así a las empresas que no realizan el tratamiento completo
    de los RCD y deberán llevar los residuos a un gestor final de valorización
    y/o eliminación las dos modalidades más frecuentes son:
</p>
<p>
    Plantas de clasificación: Son instalaciones donde solo se separa la
    fracción pétrea del resto de residuos presentes en los RCD para
    posteriormente entregarse a un gestor final de valorización o eliminación.
</p>
<p>
    Puntos de transferencia: Este tipo de instalaciones cuentan con muy poca
    infraestructura suelen ubicarse en zonas alejadas donde no es
    económicamente viable una planta de gestión de RCD, dan servicio a pequeña
    poblaciones, su función es acopiar los RCD hasta tener una cantidad
    considerable para ser transportada hasta la planta de tratamiento mas
    cercana.
</p>
<p>
    <strong>Gestor de Residuos en Valorización y/o Eliminación:</strong>
</p>
<p>
    Es la empresa autorizada y encargada para reciclar los RCD, deberá realizar
    las tareas de reciclaje y vertido según las condiciones de su autorización
    emitidas por su CCAA correspondiente, y deberá emitir a petición de sus
    clientes y a nombre del Promotor el certificado de correcta gestión.
</p>
<ol>
    <li>
        <strong></strong>
        <strong>Estudio de Gestión de los RCD</strong>
    </li>
</ol>
<p>
    El Estudio de Gestión deberá realizarse de acuerdo con el Artículo 4º del
    Real Decreto 105/2008, Obligaciones del productor de residuos de
    construcción y demolición. Además de los requisitos exigidos por la
    legislación sobre residuos y la normativa autonómica si existiera, el
    productor de residuos de construcción y demolición deberá cumplir con las
    siguientes obligaciones:
</p>
<p>
    a) Incluir en el proyecto de ejecución de la obra un estudio de gestión de
    residuos de construcción y demolición, que contendrá como mínimo:
</p>
<p>
    1.º Una estimación de la cantidad, expresada en toneladas y en metros
    cúbicos, de los residuos de construcción y demolición que se generarán en
    la obra, codificados con arreglo a la lista europea de residuos publicada
    por Orden MAM/304/2002, de 8 de febrero, por la que se publican las
    operaciones de valorización y eliminación de residuos y la lista europea de
    residuos, o norma que la sustituya.
</p>
<p>
    2.º Las medidas para la prevención de residuos en la obra objeto del
    proyecto.
</p>
<p>
    3.º Las operaciones de reutilización, valorización o eliminación a que se
    destinarán los residuos que se generarán en la obra.
</p>
<p>
    4.º Las medidas para la separación de los residuos en obra, en particular,
    para el cumplimiento por parte del poseedor de los residuos, de la
    obligación establecida en el apartado 5 del artículo 5.
</p>
<p>
    5.º Los planos de las instalaciones previstas para el almacenamiento,
    manejo, separación y, en su caso, otras operaciones de gestión de los
    residuos de construcción y demolición dentro de la obra. Posteriormente,
    dichos planos podrán ser objeto de adaptación a las características
    particulares de la obra y sus sistemas de ejecución, previo acuerdo de la
    dirección facultativa de la obra.
</p>
<p>
    6.º Las prescripciones del pliego de prescripciones técnicas particulares
    del proyecto, en relación con el almacenamiento, manejo, separación y, en
    su caso, otras operaciones de gestión de los residuos de construcción y
    demolición dentro de la obra.
</p>
<p>
    7.º Una valoración del coste previsto de la gestión de los residuos de
    construcción y demolición que formará parte del presupuesto del proyecto en
    capítulo independiente.
</p>
<p>
    b) En obras de demolición, rehabilitación, reparación o reforma, hacer un
    inventario de los residuos peligrosos que se generarán, que deberá
    incluirse en el estudio de gestión a que se refiere la letra a) del
    apartado 1, así como prever su retirada selectiva, con el fin de evitar la
    mezcla entre ellos o con otros residuos no peligrosos, y asegurar su envío
    a gestores autorizados de residuos peligrosos.
</p>
<p>
    c) Disponer de la documentación que acredite que los residuos de
    construcción y demolición realmente producidos en sus obras han sido
    gestionados, en su caso, en obra o entregados a una instalación de
    valorización o de eliminación para su tratamiento por gestor de residuos
    autorizado, en los términos recogidos en este real decreto y, en
    particular, en el estudio de gestión de residuos de la obra o en sus
    modificaciones. La documentación correspondiente a cada año natural deberá
    mantenerse durante los cinco años siguientes.
</p>
<p>
    d) En el caso de obras sometidas a licencia urbanística, constituir, cuando
    proceda, en los términos previstos en la legislación de las comunidades
    autónomas, la fianza o garantía financiera equivalente que asegure el
    cumplimiento de los requisitos establecidos en dicha licencia en relación
    con los residuos de construcción y demolición de la obra.
</p>
<p>
    2. En el caso de obras de edificación, cuando se presente un proyecto
    básico para la obtención de la licencia urbanística, dicho proyecto
    contendrá, al menos, los documentos referidos en los números 1.º, 2.º, 3.º,
    4.º y 7.º de la letra a) y en la letra b) del apartado 1.
</p>
<ol>
    <li>
        <strong></strong>
        <strong>Calculo de los RCD que se van a producir:</strong>
    </li>
</ol>
<p>
    Existen dos métodos para calcular los RCD que producen en obra:
</p>
<ul>
    <li>
        Medición de las partidas de la obra
    </li>
    <li>
        Estimación por tipologías de obra
    </li>
</ul>
<p>
    La medición calcula en volumen de residuos a partir de la relación de todas
    las partidas de un proyecto a demoler ó construir, se realiza basándose en
    las mediciones del proyecto técnico, y/ó sobre medición directa de cubicaje
    ó en los planos (CAD).
</p>
<p>
    La estimación tipológica se realiza sobre los m2 de superficie, mediante la
    aplicación de ratios de producción expresados en m3/m2, y para diferentes
    tipologías de obra, es un método basado en producciones reales de RCD de
    obras cuantificadas en plantas de reciclaje, ó que aparecen en los estudios
    de escuelas técnicas realizadas a partir de las mediciones de numerosos
    proyectos técnicos.
</p>
<p>
    La estimación es un método rápido de cálculo que aunque puede tener
    desviaciones importantes (+-20%) debido a que cada obra tiene sus
    condiciones particulares, nos permite evaluar a efectos de cálculos para
    cuantificar espacios, costes ó fianzas, los RCD que se producen en una
    intervención.
</p>
<p>
    Algunos estudios de gestión, realizan el cálculo por los dos métodos y
    estiman una media de producción de RCD.
</p>
<p>
    RCDA cuenta con una tabla estimatoria de ratios expresados en m3 de RCD por
    m2 de intervención.
</p>
<div class='image-container'>
  <%= image_tag 'topic_3/table_1.jpg' %>
</div>
<ol>
    <li>
        <strong></strong>
        <strong>Control de Obras con proyecto técnico.</strong>
    </li>
</ol>
<p>
    Los Ayuntamientos y/ó Municipalidades, pueden controlar la gestión de los
    RCD mediante el sistema de FIANZAS que regula en España el RD/105/2008:
</p>
<ol>
</ol>
<ul>
</ul>
<ol>
    <li>
        1.Cuando se solicita la Licencia de obras, el Ayuntamiento requerirá al
        titular de la licencia (Productor) para que conjuntamente con el
        proyecto técnico, presente el Estudio de Gestión de RCD adaptado a los
        requisitos del RD/105/2008.
    </li>
    <li>
        2.El Ayuntamiento con base en los RCD calculados en el estudio de
gestión elaborado por el promotor y tras comprobación Municipal,        <strong>establecerá la FIANZA</strong> ó Garantía Equivalente que
        garantizara la correcta gestión de los RCD que se produzcan en la obra.
    </li>
    <li>
        3.La comprobación municipal puede realizarse mediante revisión del
        Estudio de Gestión ó de acuerdo con las tablas estimativas de
        producción de RCD y basadas en diferentes tipologías de obras, La
        finalidad de la fianza es disuasoria por lo que pueden admitirse
        desviaciones de +/- 20 % entre la estimación de la cantidad y la
        certificación de correcta gestión que se presente.
    </li>
    <li>
        4.El Ayuntamiento una vez depositada la fianza/aval por el promotor,
        otorga la Licencia de Obras.
    </li>
    <li>
        5.El contratista deberá realizar un plan de gestión de RCD de acuerdo
        con el estudio de gestión de RCD del proyecto, entregará los RCD
        producidos a un gestor autorizado en operaciones de Valorización y/ó
        Eliminación que emitirá un CERTIFICADO de correcta gestión de la obra.
    </li>
    <li>
        6.El titular de la licencia ó promotor, presenta en el Ayuntamiento el
        certificado del gestor autorizado para la devolución de la fianza.
    </li>
</ol>
<p>
    Es importante para los productores que han depositado su fianza, que a la
    hora de subcontratar la obra reflejen en sus contratos y pliegos con la
    empresa, su obligación de entregar los RCD en una instalación autorizada y
    la de contar con el certificado de correcta gestión en planta autorizada
    que le permitirá al productor la devolución de la misma.
</p>
<ol>
    <li>
        <strong></strong>
        <strong>Control de obras menores de reparación domiciliaria</strong>
    </li>
</ol>
<p>
    La obras menores son domiciliarias, en comercios ú oficinas, de sencilla
técnica y escasa entidad que    <strong>no precisan proyecto firmado por profesional titulado</strong> y
    que solo precisan ser notificadas ó comunicadas en el Ayuntamiento con
    breve descripción de las obras y un presupuesto.
</p>
<p>
    En el Real Decreto 105/2008 se da la potestad a los Ayuntamientos para que
    ajusten a sus ordenanzas municipales la gestión de los RCD producidos en
    obras menores, los Ayuntamientos que han adaptado sus ordenanzas a estas
    obras se han basado en <strong>dos opciones</strong>:
</p>
<ol>
    <li>
        1.El Ayuntamiento a la presentación del Acto Comunicado puede establece
        una FIANZA UNICA (sobre 120€) que garantice la correcta gestión de los
        RCD.
    </li>
    <li>
        2.El Ayuntamiento puede fijar una FIANZA VARIABLE para obras menores en
        función del presupuesto presentado, ó en función de los m3 de RCD
        estimados.
    </li>
    <ol>
        <li>
            <strong></strong>
            <strong>
                Ejemplo de FIANZA: Plan de Gestión del Edificio España (Madrid)
            </strong>
        </li>
    </ol>
</ol>
<p>
    El Ayuntamiento de Madrid, solicitó a la promotora del edificio la
    presentación (junto con el proyecto técnico de las obras de rehabilitación
    del edificio España), un Estudio de Gestión con arreglo a las disposiciones
    del RD/105/2008.
</p>
<div class='image-container'>
  <%= image_tag 'topic_3/image_2.jpg' %>
</div>
<p>
    El estudio realizado contemplaba entre otros capítulos, la estimación de la
    cantidad de RCD que se producirían en las obras de rehabilitación. El
    calculo se realizó de dos maneras, la primera realizada con la medición
    planta a planta de las partidas a demoler y realizada sobre planos en
    programa CAD, este método nos daba una primera estimación de la cantidad de
    RCD generada, y una segunda estimación realizada directamente sobre los m2
    de la intervención multiplicados por el ratio teórico para obras de
    rehabilitación.
</p>
<p>
    Se realizó como ejemplo de mediciones en plano, una medida de toda la
    tabiquería a demoler, calculando alturas y espesores para calcular los
    metros cúbicos, esto mismo se realiza cuando se trata de estructuras
    similares como las soleras de hormigón cuando la demolición es total. En
    cuanto a ventanas y puertas se pueden calcular la cantidad exacta que va a
    salir haciendo una simple contabilización en plano. Este método es mucho
    más efectivo para calcular las diferentes tipologias de RCD y planificar
    mejor la separación en obra así como contactar directamente con gestores de
    madera y metales que pueden gestionar y pagar por los residuos bien
    seleccionados. Una vez se han calculado todos los volúmenes, se debe
    aplicar un coeficiente de esponjamiento ya que los RCD cambian de volumen
    al ser demolido, este coeficiente dependerá de las características del RCD
    y de cómo ha sido reconstruido, según la experiencia recabada la media es
    de 1,3 de coeficiente de esponjamiento lo que quiere decir que por cada 10
    metros cúbicos medidos sobre plano deberían generarse 13 metros cúbicos
    demolidos.
</p>
<p>
    Para el cálculo aproximado de las toneladas producidas hace falta saber
    primero los metros cúbicos demolidos y por tipos de residuos multiplicamos
    por la densidad.
</p>
<div class='image-container'>
  <%= image_tag 'topic_3/image_3.jpg' %>
</div>
<p>
    A continuación damos la densidad de algunos de los RCD producidos en obra.
</p>
<div class='image-container'>
  <%= image_tag 'topic_3/table_2.jpg' %>
</div>
<p>
    El volumen de los RCD del estudio, estimo la media de los dos cálculos.
</p>
<div class='image-container'>
  <%= image_tag 'topic_3/table_3.jpg' %>
</div>>
<p>
    (Es importante señalar que en esta obra se realizó un seguimiento de los
    RCD hasta su destino, por lo que se pudo comprobar que el volumen y peso
    estimado en el estudio de gestión se ajustaba en más de un 90% a los
    residuos realmente generados.)
</p>
<p>
    El Ayuntamiento tras la comprobación del estudio de gestión de RCD
    presentado, solicito a la promotora y como requisito para la obtención de
    la licencia de obras, la constitución de una fianza ó garantía equivalente
    que respondiese de la correcta gestión de los residuos generados.
</p>
<p>
    El cálculo se realizo multiplicando los m3 de RCD por el unitario 10€/m3.
</p>
<p>
    La importante cuantía de la fianza depositada por la promotora por importe
    de (255.036€), condicionó a esta para subcontratar los trabajos de la
    rehabilitación con la exigencia a la empresa subcontratista de entregar los
    RCD a una empresa gestora autorizada por la CAM para asegurar el
    certificado de correcta gestión.
</p>
<p>
    Una vez que se gestionaron los RCD, la planta autorizada emitió un
    certificado de correcta gestión a la promotora, lo que permitió a esta al
    presentado en el Ayuntamiento, la devolución íntegra de la fianza
    depositada.
</p>
<p>
    <strong>3.7 Control de los RCD por el Gestor Autorizado</strong>
</p>
<p>
    Los centros de tratamiento de RCD, contarán en la entrada de las
    instalaciones con un control de admisión (generalmente en construcciones
    modulares a la altura de las cabinas de los camiones) donde deberán
    registrarse todas las entradas y salidas.
</p>
<div class='image-container'>
  <%= image_tag 'topic_3/image_4.jpg' %>
</div>
<p>
    El número de controles de admisión y salidas necesarios para un centro,
    dependerán de la frecuencia de los camiones y de las previsiones futuras de
    la instalación, generalmente estas operaciones no suelen demorarse más de 5
    minutos por camión, y plantas de gestión de unas 150.000 tn/Año pueden
    contar con un control único de entrada y salida, en centros con vertedero
    de cola y gran afluencia de camiones podemos encontrarnos con 4 ó más
    controles a la entrada de la instalación.
</p>
<p>
    El Control deberá contar con báscula de pesaje de entrada y salida, equipos
    informáticos, equipos de impresión, programas de software (bien del tipo
    estándar existentes en el mercado, ó diseñados a medida para la empresa
    explotadora), cámaras de visión rotatorias para el control de los
    materiales, y/ó plataforma de inspección para la comprobación de los
    materiales de entrada.
</p>
<p>
    Los programas informáticos trabajan generalmente con una base de datos con
    diferentes campos de registro, donde prevalece en dato de la matrícula del
    camión, es importante en la primera entrada a las instalaciones, cubicarlo
    para obtener los m3 de carga (VOLUMEN), y pesarlos sin carga generalmente
    después de la primera descarga (TARA: peso en vacío) así como
    periódicamente comprobar estas mediciones. En esta primera entrada
    rellenamos los datos solicitados por el programa informático, datos de
    empresa, contacto, dirección, código fiscal, etc.
</p>
<p>
    El control emitirá para cada entrada y salida en la instalación, un albarán
    que una vez cumplimentado deberá ser firmado por el conductor y entregada
    su copia antes de darle la luz verde de entrada ó salida.
</p>
<p>
    Podemos contar con un único albarán de entrada y salida, en el mismo deberá
    figurar además de la lógica numeración, fecha, hora, matrícula,
    identificación del conductor, empresa, código fiscal, etc., los siguientes
    datos:
</p>
<p>
    En las entradas:
</p>
<ul>
    <li>
        <strong>Cantidad</strong>
        : Es el peso y/o volumen de los RCD de entrada, necesario tanto para la
        aplicación del sistema de tarifas de la planta, como para el control de
        los acopios y estadísticas.
    </li>
    <li>
        <strong>Naturaleza</strong>
        : Indica que tipo de residuo accede al Centro, desde RCD limpio
        hormigón, aglomerado asfáltico, ó cerámico , hasta RCD mezclados ó
        mixtos, indicar la naturaleza de entrada es importante para la
        aplicación de tarifas, y determina el lugar de descarga en la planta, y
        que el personal de control debe indicar al conductor.
    </li>
</ul>
<p>
    La “picaresca” del sector y las restricciones de gestión para residuos
    distintos a los autorizados en el centro, obliga a controles esporádicos en
    el momento de las descargas, ya que pueden aparecer residuos no visibles en
    el control de admisión.
</p>
<p>
    Si apareciesen residuos distintos a los especificados en el albarán,
    podemos dependiendo de su naturaleza cargarlos en el mismo camión para que
    se los lleve, ó reflejar la incidencia en las observaciones y que el
    conductor las firme a la salida para sus trámites posteriores.
</p>
<p>
    Cada tipo de RCD podemos adecuarla a los Códigos de Residuos (LER)
    permitidos en el Centro.
</p>
<ul>
    <li>
        <strong>Origen; </strong>
        Indica la Procedencia del RCD, habitualmente se indica la dirección
        completa de la obra y su tipología. En el origen debe indicarse también
        el número de licencia de la obra, estos datos son necesarios a la hora
        de emitir el Centro los certificados de Correcta Gestión de RCD.
    </li>
    <li>
        <strong>Destino: </strong>
En el albarán de entrada esta casilla<strong> </strong>debe indicar        <strong> </strong>el destino final de los RCD, bien clasificación y
        reciclaje, rechazo a vertedero, etc., algunas instalaciones añaden como
        destino y en la emisión de certificados de correcta gestión, los
        porcentajes globales de valorización de la instalación.
    </li>
</ul>
<p>
    En las salidas:
</p>
<ul>
    <li>
        <strong>Cantidad: </strong>
        Peso y/ó volumen de los materiales de salida de la instalación.
    </li>
    <li>
        <strong>Naturaleza; </strong>
        debe indicar el tipo de árido, material, subproducto ó rechazo que sale
        de la instalación.
    </li>
</ul>
<p>
    Pueden ser tanto áridos y materiales reciclados con destino a obra, como
    residuos clasificados para otros gestores como Maderas, Metales, Plásticos,
    etc., así como salidas de rechazos a vertedero, etc.
</p>
<p>
    En áridos y materiales con destino a obra, podemos indicar la
    granulometría, y el material predominante en su fabricación, (Ejemplo;
    Zahorra 0-40 ARh).
</p>
<p>
    Para las salidas de subproductos ó rechazos, utilizaremos los códigos LER
    adecuados, .
</p>
<ul>
    <li>
        <strong>Origen: </strong>
        Indicar los datos de la planta de clasificación y/o reciclaje.
    </li>
    <li>
        <strong>Destino</strong>
        : Indicar la obra, gestor ó vertedero destino previsto de los
        materiales de salida de la instalación.
    </li>
</ul>
<p>
    Los programas informáticos, ó programas Excel adaptados, nos permitirán a
    partir de estas informaciones, realizar la facturación de la instalación y
    elaborar los datos de control y estadísticos que consideremos necesarios.
</p>
<p>
    Las cantidades de entrada en acopios únicos ó diferenciados de la
    instalación, son el punto de partida como materia prima, para contrastar
    los acopios con los datos de producción de la instalación.
</p>
<p>
    Ejemplo: Existencia inicial RCD hormigón + entradas RCD hormigón –
    producción áridos hormigón = existencia Final del acopio, estos controles
    de los acopios de RCD previos al tratamiento deberemos realizarlos sobre
    cada acopio diferenciado de la instalación.
</p>
<p>
    Para el control de producción, podemos bien estimar una producción a partir
    de las diferencias bien en peso ó volumen de un acopio existente, y/ó pesar
    directamente la producción mediante básculas instaladas en las cintas de
    salida ó instaladas en los cazos de las palas cargadoras.
</p>
<p>
    Su comprobación se realizara finalmente en la bascula de salida de la
    planta y tendremos que corregir con alguna frecuencia los datos de
    producción mediante la comprobación de los acopios.
</p>
<p>
    Existen otro tipo de controles químicos ó radiactivos que generalmente por
    su condición de “inerte” y por el alto coste del ensayo, no se realizan en
    las instalaciones de RCD, algunas plantas en desmantelamiento y
    demoliciones puntuales cercanas a centrares nucleares han instalado
    temporalmente arcos de detección a la entrada de las instalaciones.
</p>
<ol>
    <li>
        <strong></strong>
        <strong>Proceso de deconstrucción </strong>
    </li>
</ol>
<p>
    La deconstrucción se define como el conjunto de operaciones coordinadas en
    una demolición, orientadas a facilitar la máxima recuperación de los RCD
    que se generan minimizando la fracción no valorizable (FNV) destinada a su
    depósito en vertedero.
</p>
<p>
    Como norma general en las demoliciones se procurará actuar retirando los
    elementos contaminantes y/o peligrosos tan pronto como sea posible, así
    como los elementos a conservar o valiosos (cerámicos, mármoles…).
    seguidamente se actuará desmontando aquellas partes accesibles de las
    instalaciones, carpintería, y demás elementos que lo permitan. por último,
    se procederá derribando el resto.
</p>
<p>
    El depósito temporal de los escombros, se realizará bien en sacos
    industriales iguales o inferiores a 1 metro cúbico, contenedores metálicos
    específicos con la ubicación y condicionado que establezcan las ordenanzas
    municipales. Dicho depósito en acopios, también deberá estar en lugares
    debidamente señalizados y segregados del resto de residuos.
</p>
<p>
    El depósito temporal para RCD valorizables (maderas, plásticos,
    chatarra...), que se realice en contenedores o en acopios, se deberá
    señalizar y segregar del resto de residuos de un modo adecuado.
</p>
<p>
    Los contenedores deberán si es posible estar pintados en colores que
    destaquen su visibilidad, especialmente durante la noche, y contar con una
    banda de material reflectante de, al menos, 15 centímetros a lo largo de
    todo su perímetro. En los mismos debe figurar la siguiente información:
    razón social, CIF, teléfono del titular del contenedor/envase, y el número
    de inscripción en el registro de transportistas de residuos. dicha
    información también deberá quedar reflejada en los sacos industriales u
    otros elementos de contención, a través de adhesivos, placas, etc.
</p>
<p>
    El responsable de la obra a la que presta servicio el contenedor adoptará
    las medidas necesarias para evitar el depósito de residuos ajenos a la
    misma. Los contenedores permanecerán cerrados o cubiertos, al menos, fuera
    del horario de trabajo, para evitar el depósito de residuos ajenos a las
    obras a la que prestan servicio.
</p>
<p>
    En el equipo de obra se deberán establecer los medios humanos, técnicos y
    procedimientos de separación que se dedicarán a cada tipo de RCD.
</p>
<p>
    Se deberán atender los criterios municipales establecidos (ordenanzas,
    condicionados de la licencia de obras), especialmente si obligan a la
    separación en origen de determinadas materias objeto de reciclaje o
    deposición. En este último caso se deberá asegurar por parte del
    contratista realizar una evaluación económica de las condiciones en las que
    es viable esta operación. También, considerar las posibilidades reales de
    llevarla a cabo y que la obra o construcción lo permita y que se disponga
    de plantas de reciclaje/gestores adecuados. La dirección de obras será la
    responsable última de la decisión a tomar y su justificación ante las
    autoridades locales o autonómicas pertinentes.
</p>
<p>
    Se deberá asegurar en la contratación de la gestión de los RCD, que el
    destino final (Planta de Reciclaje, Vertedero, Cantera, Incineradora,
    Centro de Reciclaje de Plásticos/Madera) son centros con la autorización
    para este fin. Asimismo se realizará un estricto control documental, de
    modo que los transportistas y gestores de RCD deberán aportar los albaranes
    de cada retirada y entrega en destino final.
</p>
<p>
    La gestión (tanto documental como operativa) de los residuos peligrosos que
    se hallen en una obra de derribo o se generen en una obra de nueva planta
    se regirá conforme a la legislación vigente.
</p>
<p>
    Asimismo los residuos de carácter urbano generados en las obras (restos de
    comidas, envases, lodos de fosas sépticas…), serán gestionados acorde con
    los preceptos marcados por la legislación y autoridad municipales.
</p>
<p>
    Para el caso de los residuos con amianto, están considerados como
    peligrosos por lo que será necesario seguir las directrices de seguridad
    marcadas por cada país, en España la gestión del amianto está regulada por
    el REAL DECRETO 396/2006, de 31 de marzo, por el que se establecen las
    disposiciones mínimas de seguridad y salud aplicables a los trabajos con
    riesgo de exposición al amianto.
</p>
<p>
    Los restos de lavado de canaletas/cubas de hormigón, serán tratados como
    residuos “escombro”.
</p>
<p>
    Se evitará en todo momento la contaminación con productos tóxicos o
    peligrosos de los plásticos y restos de madera para su adecuada
    segregación, así como la contaminación de los acopios o contenedores de
    escombros con componentes peligrosos.
</p>
<p>
    Los residuos se mantendrán en condiciones adecuadas de higiene y seguridad,
    evitando la contaminación y mezcla con otras fracciones ya seleccionadas y
    que impidan o dificulten su posterior valorización.
</p>
<p>
    Para conseguir la optimización de los residuos generados durante el
    desarrollo de las obras, se recomienda seguir las siguientes
    recomendaciones basadas en los procesos de deconstrucción:
</p>
<p>
    Al igual que en otros procesos de reciclado, la selección en origen incide
    directamente en sus posibilidades de reutilización, y en el caso concreto
    de los RCD, se parte de un nuevo concepto denominado “deconstrucción”,
</p>
<p>
    Se realiza en diferentes fases orientadas a los distintos destinos donde se
    pueden recuperar gran parte de los materiales.
</p>
<p>
    Fases en una deconstrucción.
</p>
<div class='image-container'>
  <%= image_tag 'topic_3/table_4.jpg' %>
</div>
