<h4>
    TEMA 5. Reciclaje para los RCD.
</h4>
<p>
    5.1 Producción de áridos y materiales reciclados
</p>
<p>
    5.2 Maquinaria de tratamiento para los RCD.
</p>
<p>
    5.3 Etapas del proceso de reciclado
</p>
<p>
    5.4 Tratamiento para RCD Limpios
</p>
<p>
    5.5 Tratamiento RCD Mezclados
</p>
<p>
    <strong>5.1 Producción de áridos y materiales reciclados </strong>
</p>
<p>
    Las Plantas de Reciclaje de RCD, producen en un 80% áridos y materiales
    reciclados para el sector de la construcción, y recuperan otros materiales
    para su valorización como maderas, metales, plásticos, etc., siendo en
    muchos casos la fracción de rechazo del proceso de reciclaje destinada a su
    depósito en vertedero inferior al 10% de los RCD tratados.
</p>
<p>
    El reciclaje de RCD se realiza principalmente en plantas de clasificación
    estacionarias, y en plantas de trituración y cribado tanto estacionarias
    como móviles.
</p>
<p>
    Las plantas de clasificación separan la fracción pétrea el resto de
    materiales tales como maderas, plásticos, metales, impurezas, etc., y en
    las de trituración y cribado, los RCD se transforman mediante diferentes
    tecnologías de reducción de tamaño, cribado, separación, limpieza de
    impurezas, etc. en nuevos productos para la construcción, principalmente
    denominados áridos reciclados cuando estos cumplen los requisitos técnicos
    necesarios para una aplicación determinada, y materiales reciclados otras
    aplicaciones como cubiertas ecológicas, rellenos y restauraciones, etc.
</p>
<div class='image-container'>
  <%= image_tag 'topic_5/imagen_1.png' %>
</div>>
<p>
    Medioambientalmente el reciclaje ahorra el volumen de depósitos de RCD en
    vertedero y en la extracción de recursos naturales, ahorra también
    transportes y por tanto emisiones a la atmósfera al encontrarse
    generalmente las plantas más cerca de las ciudades que las canteras de
    donde se extraen los áridos, crea puestos de trabajo directos e indirectos,
    y participa en numerosos proyectos de innovación y nuevas aplicaciones con
    productos reciclados. Se ha demostrado que cuando utilizamos materiales
    reciclados en rellenos y restauraciones procedentes de gestores autorizados
    y no se depositan en el medio directamente los RCD que generamos, se
    consigue reducir la contaminación al medio (de un 15% a un 2%), y los
    materiales de relleno cumplen dentro de los límites establecidos.
</p>
<p>
    Las plantas de reciclaje transforman el RCD en productos para su
    comercialización, principalmente áridos reciclados para bases y subbases de
carreteras, suelos, áridos para hormigones, gravas para encachados, etc.    <strong>Pero cual es el secreto de reciclaje?,</strong> para entenderlo
    haremos un símil con la cocina de nuestras casas, los RCD son como los
    ingredientes de la cocina, depende de como los acopiemos, los mezclemos y
    los tratemos, para obtener una diversidad de productos y calidades para
    distintas aplicaciones.
</p>
<p>
    Las plantas de reciclaje para la producción de áridos reciclados de calidad
    deben contar con acopios diferenciados para hormigones, aglomerados
    asfálticos, cerámicos limpios y mezclados, las plantas de reciclaje de
    acopio único de RCD, basan su funcionamiento en productos de menor calidad
    para aplicaciones menos exigentes.
</p>
<p>
    Como hemos visto en capítulos anteriores, la producción de áridos y
    materiales reciclados en la Unión Europea varía de unos países a otros en
    función de la normativa y la necesidad de materias primas para la
    construcción. Las tasas de reciclado de RCD en Europa presentan, resultados
    muy dispares, pudiendo comparar por ejemplo porcentaje de reciclado del 80%
    en Holanda, ó 60% en Alemania frente al 5% de Grecia, ó Eslovaquia.
</p>
<p>
    La promoción e incentivo del uso de áridos reciclados es un factor
    importante para aumentar las tasas de reciclado actuales. La disposición de
    un marco normativo sobre áridos reciclados, facilita su puesta en obra y
    favorece al sector del reciclaje de RCD. En Bélgica, Alemania o Finlandia
    se han implementado normativas técnicas que especifican los requisitos que
    deben cumplir los áridos reciclados para su empleo en la construcción,
    incluidas las consideraciones medioambientales.
</p>
<div class='image-container'>
  <%= image_tag 'topic_5/imagen_2.png' %>
</div>>
<p>
    Las Plantas de reciclaje estudiadas en la Guía Española de Aridos
    Reciclados, producen en un 55% áridos procedentes de RCD mixtos, el 15%
    áridos de RCD de hormigón, y el 30% produce las dos categorías de áridos
    reciclados (ARH y ARM), puede estimarse que la producción de áridos
    reciclados de hormigón fue de aproximadamente un 30%, y el 70% produce
    áridos reciclados de categoría mixta.
</p>
<p>
    Para iniciar la producción de áridos y materiales reciclados, deberemos
    planificar los acopios previos según su composición, podemos clasificarlos
    y acopiarlos como RCD limpios directamente en la planta de trituración y
    cribado, y como RCD mezclados en la planta de clasificación.
</p>
<div class='image-container'>
  <%= image_tag 'topic_5/imagen_3.png' %>
</div>>
<p>
    Los RCD limpios los acopiaremos preferentemente de manera diferenciada por
    material predominante, hormigones en masa y hormigones armados, aglomerados
    asfálticos de capas de rodadura, productos cerámicos limpios (excedentes de
    obra y residuos de fabricación), áridos de excavación o zanjeo, etc.
</p>
<p>
    Los RCD mezclados se pueden depositar en dos acopios dependiendo de su
    grado de mezcla, la proporción mayor o igual a un 70 % de residuos pétreos
    (tabiquería, hormigón, cerámica, etc.) se podrá depositar directamente en
    la planta para RCD limpios siempre que contemos con equipos y procesos que
    puedan separarlos, los RCD que cuenten con un porcentaje menor se deberán
    acopiar separadamente para realizar una clasificación previa.
</p>
<div class='image-container'>
  <%= image_tag 'topic_5/imagen_4.png' %>
</div>>
<p>
    La persona que está en la báscula de pesaje puede realizar un control
    visual para conocer la cantidad de los RCD mezclados que entran a la
    planta, y/ó calcular su densidad si cuenta con báscula de pesaje.
</p>
<p>
    Densidad de los RCD= Peso del RCD/volumen de los RCD
</p>
<p>
    Generalmente para las densidades mayores de 0,70 se puede considerar que
    los residuos están en condiciones para entrar en el proceso de producción
    de áridos reciclados sin una separación previa de residuos no pétreos.
</p>
<p>
    El proceso de producción de áridos reciclados a partir de RCD limpios es
    muy similar al de una cantera ó gravera, cribamos la parte fina del
    material, la reducimos de tamaño, y la cribamos, a este proceso añadimos
    maquinaria y equipos de limpieza de impurezas, separadores magnéticos para
    los materiales férricos, y en las plantas estacionarias podemos añadir
    cabinas de triaje para la separación manual de impropios tales como
    plásticos, maderas ó papeles, estas cabinas de triaje se utilizan incluso
    para separar materiales asfálticos ó cerámicos cuando vamos a fabricar
    áridos reciclados para hormigón. Opcionalmente estas plantas pueden contar
    con soplantes y ciclones para eliminar los ligeros por diferencia de
    densidades.
</p>
<div class='image-container'>
  <%= image_tag 'topic_5/imagen_5.png' %>
</div>>
<p>
    Cuando el RCD de partida es de naturaleza mixta, debemos separar la
    fracción pétrea del resto de materiales, existen plantas de reciclaje que
    cuentan con procesos diferenciados de clasificación y reciclaje, y plantas
    con proceso único en una misma línea.
</p>
<p>
    Las plantas de producción de áridos reciclados procedentes de RCD suelen
    ser instalaciones fijas ubicadas en recintos cerrados con la mayoría del
    proceso productivo al aire libre. Generalmente necesitan de espacios
    importantes (de 50.000 a 200,000m2), para el almacenamiento de materia
    prima (RCD), maquinaria de producción, y acopios de los diferentes
    productos terminados.
</p>
<div class='image-container'>
  <%= image_tag 'topic_5/imagen_6.png' %>
</div>>
<p>
    En España, suelen situarse debido al alto coste del suelo en los
    calificados como “suelos no urbanizable” que necesitan un expediente previo
    de calificación urbanística favorable y que se obtiene por su interés
    social, también pueden ubicarse en menores dimensiones y sin vertederos
    para rechazos, en suelo industrial, incluso situadas dentro de naves
    industriales, otras plantas están directamente situadas en Centros que
    cuentan con vertedero para la eliminación de rechazos.
</p>
<p>
    <strong><u>5.2 Maquinaria de tratamiento para los RCD</u></strong>
</p>
<p>
    La maquinaria para el reciclaje de RCD puede considerarse fija ó móvil
    dependiendo de su facilidad de desplazamiento, en plantas estacionarias la
    maquinaria está ubicada generalmente sobre estructuras metálicas, y la
    maquinaria móvil se ubica sobre ruedas u orugas convencionales,
    especialmente en el caso de grandes obras de demolición o de mantenimiento
    y renovación de infraestructuras, se suele realizar el reciclaje con
    plantas móviles que se desplazan para operar en la obra, con el material
    previamente seleccionado y previendo generalmente la utilización del
    reciclado en la propia obra, de hecho en España, un porcentaje muy
    importante del reciclado se realiza mediante plantas móviles.
</p>
<div class='image-container'>
  <%= image_tag 'topic_5/imagen_7.png' %>
</div>>
<ul>
    <li>
        <u>Maquinaria de carga y manipulación de RCD:</u>
    </li>
</ul>
<p>
    <u>Palas cargadoras</u>
    , con cazo de 1 a 3 m3, permiten mezclar el material del acopio y
    transportarlo fácilmente en distancias cortas. Las palas cargadoras son la
    maquinaria más adecuada para la retirada y formación de acopios de
    productos procesados, así como para la carga de camiones.
</p>
<p>
    <u>Retroexcavadoras,</u>
    recomendadas para la carga a equipos móviles en acopios únicos, el
    movimiento es más acompasado evitando golpes en la descarga, permite
    fácilmente separar tamaños superiores ó materiales no deseados.
</p>
<p>
    Es recomendable en las plantas de reciclaje, utilizar la combinación de
    ambas maquinarias, retroexcavadora en la carga y palas cargadoras para
    acercar los materiales, formación de acopios y carga de camiones.
</p>
<ul>
    <li>
        <u>Recepción y Pre-Cribado del RCD</u>
        :
    </li>
</ul>
<p>
    (Carga de los RCD y separación de tamaños superiores e inferiores en el
    proceso)
</p>
<p>
    <u>Tolvas de recepción</u>
    , su función es acopiar las cargas discontinuas de materiales que inician
    el proceso para su reciclaje, y mediante bandeja vibradora en su fondo
    convierten las cargas discontinuas en un proceso continuo.
</p>
<p>
    Las tolvas suelen formar un mismo equipo con la maquinaria de precribado,
    en el reciclaje de RCD cuentan con una parrilla superior de barrones que
    limita los tamaños superiores a las especificaciones de admisión de la
    trituración. Estas parrillas pueden ser tipo basculante para facilitar su
    limpieza, generalmente de plásticos y/ó voluminosos que pueden quedarse
    enganchados, así como de hierros ó aceros corrugados de los trozos de
    hormigón. En su parte inferior cuentan con una bandeja vibrante lisa ó
    directamente con un precribador.
</p>
<p>
    <u>Pre Cribador</u>
    ; su función es separar los finos que puedan contener los RCD, bien por ser
    estas las fracciones con menos prestaciones ó mas contaminadas con yesos,
    materia orgánica, etc., bien para separar los materiales inferiores en
    tamaño que no necesitan una trituración.
</p>
<div class='image-container'>
  <%= image_tag 'topic_5/imagen_8.png' %>
</div>>
<p>
    Las Plantas de reciclaje de RCD suelen precribar en tamaños inferiores a 20
    ó 25mm y algunas separan ya desde inicio la fracción 20-80mm, ó 20-100mm.,
    como gravas para múltiples aplicaciones.
</p>
<p>
    Los precribados pueden ser fijos ó móviles y de diferentes tecnologías,
    generalmente son bandejas con diferentes tamaños de mallas que se mueven
    por vibración, podemos encontrarnos también precribadores de fingers ó
    barras en cascada que permiten voltear el material y deben soportar fuertes
    impactos por la caída del material, estos últimos son muy adecuados para
    evitar atascos de ferralla de los RCD de hormigón.
</p>
<p>
    <u>Tromeles,</u>
    suelen emplearse para los RCD mixtos ó mezclados, son maquinarias de gran
    tamaño que van girando el material y separan los tamaños inferiores del
    flujo principal, los trómeles pueden contar con una ó dos mallas ó virolas
    de separación, Para los RCD de naturaleza mixta, en concreto los
    procedentes de sacos y contenedores, se recomienda la utilización de esta
    maquinaria como elemento de precribado mas eficiente.
</p>
<ul>
    <li>
        <u>Maquinaria para trituración y reducción de tamaño:</u>
    </li>
</ul>
<p>
    Su elección dependerá del tipo de RCD a tratar, de la trituración primaria
    ó secundaria (una ó dos trituraciones en el proceso), de la reducción de
    tamaño que se quiera obtener, y de las características que buscamos en el
    producto final. En general, los equipos más utilizados para fabricar áridos
    reciclados son los molinos de impactos, las machacadoras de mandíbulas, y
    machacadoras de eje horizontal.
</p>
<p>
    <u>Los molinos de impacto</u>
    son maquinarias que reducen el material por la proyección del RCD sobre una
    cámara de blindaje (impacto), consisten en un rotor que gira a gran
    velocidad sobre un eje y en el que se acoplan las barras ó barrones que
    impactan el material, cuenta con una boca de entrada protegida por una
    carcasa para evitar que salga el material proyectado, en la parte inferior
    del molino se sitúa una tolva con bandeja de descarga en la que se puede
    regular el tamaño máximo de salida, es la maquinaria preferida para muchos
    recicladores ya que produce los finos limpios necesarios para
    granulometrías continuas, y mejor forma cúbica se obtiene del material.
</p>
<div class='image-container'>
  <%= image_tag 'topic_5/imagen_9.png' %>
</div>>
<p>
    <u>La machacadora de mandíbulas</u>
    se componen de una cámara de trituración en la que se alojan dos grandes
    mandíbulas que mediante compresión de una de ellas (móvil) sobre la otra
    (fija) producen la fragmentación del material, cualidad importante para los
    áridos reciclados para bases y subbases de carreteras y para los áridos
    para hormigón
</p>
<p>
    La elección del equipo de reducción de tamaño se realiza en función del
    tipo de RCD a tratar. Las trituradoras de mandíbulas tienen una alta
    producción, pero producen un alto porcentaje de lajas lo que obliga e
    emplear un molino secundario que confiera forma cúbica al árido. Para RCD
    compuestos de hormigón, puede emplearse este esquema, pero es probable que
    se produzcan atascos por la ferralla del hormigón cuando esté armado. Para
    RCD procedente de capas de aglomerado asfáltico, las trituradoras de
    mandíbulas no son adecuadas, ni tampoco las machacadoras de eje horizontal.
    El tipo de RCD, al ser levantamiento de capas de rodadura, ya es lajoso de
    por sí, luego puede ocurrir que bloques de material no lleguen a
    triturarse. Por esta razón, es preferible emplear directamente un molino de
    impactos, que reduce fácilmente el tamaño del bloque y produce granos
    cúbicos.
</p>
<p>
    Se recomienda que el molino secundario, independientemente del primario,
    sea un molino de impacto, ya que no necesita que la boca de entrada sea
    demasiado grande y el volumen de material a tratar tampoco será del orden
    del molino primario.
</p>
<p>
    El material cerámico por la misma razón deberá reciclarse con equipos que
    proporcionen cubicidad al árido final, y no se emplearan molinos de
    martillos, porque por el tamaño del RCD de entrada no llegaría a
    triturarlos a menos que la regulación del mismo fuera tal que no permitiera
    el paso del material.
</p>
<p>
    <u>La machacadora de eje horizontal,</u>
    utiliza la misma tecnología que las machacadoras convencionales pero a
    diferencia de estas en que trabajan en un plano vertical, en estas el flujo
    de residuos trabaja en un eje horizontal, lo que evita atascos en RCD de
    gran tamaño como vigas ó traviesas de ferrocarril.
</p>
<p>
    <u>Los molinos de Martillo</u>
    , utilizan la tecnología de los molinos de impacto pero a diferencia de
    estos, el RCD es golpeado directamente por los martillos del rotor sobre
    una superficie plana en movimiento, son muy eficaces para reducir el tamaño
    al hormigón armado.
</p>
<div class='image-container'>
  <%= image_tag 'topic_5/imagen_10.png' %>
</div>>
<p>
    <u>Los molinos de Cono</u>
    , se utilizan generalmente para la molienda de áridos muy finos naturales y
    muy pocas veces para el tratamiento de RCD, reducen los materiales por
    compresión al aproximarse el tronco cono central a una pared cóncava fija.
</p>
<p>
    <u>Los molinos de martillos giratorios,</u>
    son maquinas de trituración derivadas de los molinos de impacto, tienen la
    característica de sustituir los barrones con los que cuentan los rotores
    por martillos que giran libremente sobre un eje.
</p>
<ul>
    <li>
        <u>Maquinaria de Cribado</u>
    </li>
</ul>
<p>
    <u>Las Cribas: </u>
    separan las distintas fracciones granulométricas, generalmente no presentan
    características específicas y son la misma maquinaria que se emplean en las
    plantas de áridos naturales. Esta maquinaria separa por medio de mallas de
    diferente tamaño de abertura un árido en dos o más granulometrías
    generalmente son vibrantes. Las hay móviles y fijas.
</p>
<ul type="disc">
    <li>
        <u>Maquinaria de Separación y Limpieza de RCD</u>
    </li>
</ul>
<p>
    <u>Cabinas de Triaje</u>
    , se utilizan para separar manualmente sobre una cinta ancha y de velocidad
    lenta, los residuos mixtos (Papel-Cartón, Madera, Plásticos, etc.), las
    cabinas de triaje funcionan por simple gravedad, se instalan sobre una
    plataforma elevada para albergar en su fondo contenedores específicos para
    los distintos materiales.
</p>
<div class='image-container'>
  <%= image_tag 'topic_5/imagen_11.png' %>
</div>>
<p>
    <u>Separadores magnéticos (Overband)</u>
    , se utilizan para separar los metales férricos que contienen los RCD,
    principalmente el acero corrugado del hormigón, y se instalan
    preferentemente en la cinta de salida después de la trituración,
</p>
<p>
    <u>Electroimán: </u>
    son imanes de gran potencia que se instalan sobre cintas transportadoras,
    generalmente utilizados para separar los metales férricos de pequeñas
    dimensiones
</p>
<p>
    <u>Limpieza por aire (sopladores).</u>
    Son equipos de separación de impurezas generalmente plásticos, trozos de
    madera, etc., de pequeño tamaño y peso que pasarían inadvertidas en el
    triaje manual, suelen instalarse en cabeza de las cintas transportadoras y
    después de los procesos de precribado para evitar que arrastren los finos
    del material.
</p>
<p>
    Los sopladores aprovechan la caída de materiales de una cinta a la otra
    para aplicar el chorro de aire que separa los residuos ligeros no deseados
    para la calidad de los áridos reciclados.
</p>
<p>
    <u>Limpieza por aire (aspiradores),</u>
    son equipos de aspiración que se instalan sobre las cintas transportadoras
    y eliminan todos los materiales ligeros, al igual que los sopladores
    necesitan que el material se encuentre sin finos.
</p>
<p>
    <u>Limpieza por agua</u>
    , son equipos basados en la flotabilidad de las partículas ligeras que
    quedan en la superficie cuando introducimos los RCD en agua, los equipos
    barren la superficie del agua mediante cepillos giratorios y eliminan las
    impurezas, estos equipos necesitan un cribado previo para separar la
    fracción fina.
</p>
<p>
    Tienen un inconveniente añadido de carácter ambiental ya que el agua que se
    usa suele quedar con niveles altos de sulfatos provenientes de los yesos
    que se utilizan en la construcción, por lo que esta agua y los lodos
    producidos en el proceso deben de ser tratados de manera especial.
</p>
<p>
    <strong><u>5.3 Etapas del proceso de reciclado</u></strong>
</p>
<p>
    El proceso de reciclaje se inicia en planta por la admisión del residuo y
    finaliza en el almacenamiento del producto reciclado. Las etapas y
    configuración del proceso productivo depende de la composición del residuo
    aceptado y de las características técnicas exigidas al producto final.
</p>
<p>
    Las principales etapas en que se puede articular el proceso de reciclaje de
    RCD, son:
</p>
<p>
    · Control de admisión: conjunto de procedimientos de control y registro
    destinados a caracterizar las cargas recibidas y garantizar la trazabilidad
    del material.
</p>
<p>
    · Pre tratamientos: conjunto de operaciones manuales y/o mecánicas
    destinadas a “preparar” la/s materia/s prima/s antes de su procesado.
</p>
<p>
    · Limpieza y Clasificación: proceso en varias etapas y mediante sistemas
    diferentes, donde separamos y clasificamos las fracciones no pétreas y
    separamos otras partículas impropias del flujo principal.
</p>
<p>
    · Trituración: proceso mecánico de reducción de tamaño.
</p>
<p>
    · Separación de materiales férricos contenidos en los RCD.
</p>
<p>
    · Cribado: Proceso por el cual se separan los áridos producidos en
    distintos tamaños.
</p>
<p>
    La “distancia” en masa y composición que se debe recorrer entre el residuo
    admitido y el producto reciclado determina la complejidad del proceso de
    reciclaje y la configuración de sus equipos.
</p>
<p>
    Podemos clasificar las plantas de reciclado a partir del número de etapas
    que contemplan:
</p>
<p>
    · Plantas de una única etapa: característicamente está formado por las
    plantas de reciclaje móviles para RCD limpios, y que operan dentro del
    recinto de una obra, suelen triturar, cribar y separar los materiales
    férricos de un residuo homogéneo y suelen destinar el producto reciclado
    obtenido a un uso dentro de la propia obra.
</p>
<p>
    También deben incluirse en este grupo plantas de reciclaje que
    exclusivamente someten el material a un proceso de limpieza (trommel,
    cribado, etc…) y cuyo destino suele ser restauraciones o materiales para
    rellenos de baja exigencia.
</p>
<p>
    · Plantas de doble etapa: son aquellas que utilizan conjuntamente un
    proceso de clasificación y trituración, empiezan con un sistema de limpieza
    y clasificación y terminan con un proceso de trituración y cribado, o bien
    a la inversa en muchas plantas de reciclado que inician con el proceso de
    trituración y finalizan con la limpieza, generalmente para materiales
    reciclados con pocas prestaciones.
</p>
<p>
    · Plantas complejas: son aquellas que disponen de tres o más etapas,
    algunas de la cuales pueden ser múltiples, y que pueden tener varias líneas
    de producción diferentes (simultáneamente o alternativamente modificando su
    configuración básica).
</p>
<div class='image-container'>
  <%= image_tag 'topic_5/imagen_12.png' %>
</div>>
<p>
    Particularmente, las plantas de reciclado más automatizadas suelen tener
    una única gama de productos. Mientras que las otras, suelen tener varias
    gamas diferenciadas (áridos reciclados de hormigón, áridos reciclados
    mixtos cerámicos, etc.)
</p>
<p>
    Como resultados más significativos del análisis de las instalaciones
    estudiadas en la Guía Española de Áridos Reciclados podemos señalar:
</p>
<p>
    · El 77% de las plantas presenta algún sistema de limpieza, sea por aire,
    agua o ambos, mientras que todas disponen de al menos un electroimán en el
    proceso.
</p>
<p>
    · El 14% de las plantas analizadas no realizan el pesaje en el control de
    admisión por carecer de báscula. Se incluyen aquí todas las plantas móviles
    estudiadas.
</p>
<p>
    · El 5% de las plantas analizadas no dispone de una unidad de trituración
    en su proceso normal de producción (en este caso utilizan exclusivamente
    sistemas de clasificación y limpieza) que genera material reciclado
    destinado a rellenos, capas drenantes y restauración.
</p>
<p>
    <strong>5.4 Tratamiento para RCD Limpios</strong>
</p>
<p>
    Los RCD limpios están compuestos por un solo elemento mayoritario (≥ 90% en
    peso) y contienen un porcentaje de impurezas menor del 5%, entendiendo por
    impurezas residuos no peligrosos como plásticos, maderas, elementos
    metálicos, etc., habitualmente los RCD limpios proceden de demoliciones de
    edificios y naves industriales así como de prefabricados de hormigón, y de
    obras en las cuales ya se realiza previamente una separación de RCD por
    tipos para destinarlos al gestor autorizado correspondiente, también
    aparecen en contenedores procedentes de tipologías de obras como las zanjas
    en ciudad por suministros ó reparaciones de viales.
</p>
<div class='image-container'>
  <%= image_tag 'topic_5/imagen_13.png' %>
</div>>
<p>
    En una planta de reciclado nos encontraremos con hormigones estructurales y
    en masa, procedentes de elementos estructurales de demoliciones, pilares,
    vigas, soleras, cimentaciones, y prefabricados de hormigón, y hormigones en
    masa procedentes de canalizaciones, reparaciones, aceras, soleras,
    pavimentos, sobrantes de ejecución, etc.
</p>
<p>
    Los RCD limpios los acopiaremos a ser posible de manera diferenciada y
    dependiendo de la aplicación que estemos buscando. Debemos separar los
    hormigones, los aglomerados asfálticos, los materiales cerámicos limpios, y
    los áridos naturales, individualmente ó mediante dosificaciones entre ellos
    produciremos distintos áridos reciclados para distintas aplicaciones.
</p>
<p>
    Los trozos de hormigón presentan junto con los áridos, mortero adherido que
    aportan a estos áridos reciclados un índice de absorción mayor de agua que
    el de los áridos naturales e incide en la menor densidad de los áridos
    reciclados.
</p>
<p>
    Cuando el RCD “Limpios”, proceden del levantamiento de la capas de firme,
    su composición es una combinación de hormigón, árido natural y capa de
    aglomerado asfáltico. Aunque existe un cierto grado de mezcla en ellos, se
    siguen considerando limpios, puesto que la presencia de hormigón y áridos
    con la capa de aglomerado no hace sino mejorar las propiedades finales del
    producto final por lo que pueden reciclarse directamente y su origen es el
    del material predominante (hormigón ó asfalto).
</p>
<p>
    Cuando el acopio es únicamente de Aglomerado Asfáltico, el tratamiento es
    similar al del hormigón, aunque la composición de maquinaria dependerá de
    los productos finales requeridos.
</p>
<p>
    Hay que tener mucho cuidado con los aglomerados asfálticos antiguos ya que
    estos pueden contener alquitrán de hulla, sustancia que se considera
    peligrosa y que no puede ser usada para la fabricación de áridos
    reciclados.
</p>
<p>
    Los acopios diferenciados de materiales cerámicos limpios suelen contener
    ladrillos cortados en obra y sobrantes de ejecución y fabricación, también
    pueden ser mezclas de cualquier tipo de material cerámico limpio y con
    restos de plásticos fácilmente separables en el proceso de producción.
</p>
<p>
    El tratamiento de los RCD limpios, puede realizarse con plantas
    estacionarias, ó mediante equipos móviles de machaqueo y cribado, el
    proceso consiste en un precribado que elimina la parte fina del material
    (con menos prestaciones), una reducción de tamaño mediante equipos de
    trituración, una separación de hierro y acero que puedan contener,
    finalmente se criban para obtener distintas fracciones granulométicas,
    generalmente para RCD de Hormigón un material continuo 0-40, una grava
    40-80, y un retorno a trituración de la fracción &gt;80mm.
</p>
<p>
    Los tamaños de admisión de los RCD limpios deben ajustarse a las admitidas
    por la maquinaria, en los hormigones armados que contienen el hierro y
    acero el tamaño suele ser inferior a 400x400x400, necesitando para las
    piezas de mayor tamaño una demolición previa que tenemos que considerar en
    el momento de su admisión en la planta, esto suele ocurrir con grandes
    prefabricados como cerchas prefabricadas de hormigón ó dovelas defectuosas.
</p>
<p>
    Las Plantas estacionarias mas sofisticadas para los RCD limpios pueden
    contar también con cabinas de triaje ó separación de impurezas por flujo de
    aire, ciclonado ó separación por flotación en agua para productos mixtos
    que pueden encontrarse en pequeñas cantidades mezclados desde la demolición
    ó que no se han separado correctamente en el origen de la obra, tales como
    restos de plásticos procedentes de embalajes, soleras de hormigón, ó restos
    de tuberías de canalización, también podemos encontrarnos maderas de
    encofrados ó embalajes, incluso otros residuos de múltiples procedencias
    como cartones ó trozos de aislamientos, etc., cuando hablamos de áridos
    reciclados de calidad es importante separar también todos los materiales de
    origen cerámico y de aglomerado asfáltico que puedan haber aparecido en el
    acopio.
</p>
<p>
    El proceso se inicia con la carga de las tolvas de admisión que se realiza
    con retroexcavadora ó pala cargadora, se realiza un primer precribado para
    separar del flujo principal todos los restos de tierras y/ó materiales
    finos que suelen encontrarse mezclados y son los que pueden presentar
    peores características ó contener restos de yesos ó de elementos
    contaminantes que debemos eliminar, para ello se realiza generalmente el
    precribado para tamaños inferiores 20 ó 40mm, esto garantiza que los finos
    que aparezcan al final del proceso son finos de la propia trituración.
</p>
<p>
    Algunas plantas de reciclaje para RCD limpios, realizan ya en este primer
    cribado una primera clasificación ó corte de la fracción intermedia 20-80mm
    que puede comercializarse directamente como materiales para encachados y
    drenajes.
</p>
<p>
    Las plantas estacionarias suelen contar con una cabina de triaje intermedia
    para el flujo principal antes de la trituración, esta cabina es muy útil
    cuando hablamos de áridos para hormigones ya que además de la separación de
    posibles impurezas, nos permite separar materiales cerámicos ó aglomerados.
</p>
<p>
    La trituración del flujo principal suele realizarse bien mediante molinos
    de impacto que es el que mejor forma cúbica y caras de fractura realiza al
    material, ó bien mediante trituración de mandíbula, reduciendo el material
    de 400mm a aproximadamente un 0-180 a la salida del molino, en la cinta de
    salida suele colocarse un overband de separación magnética para el acopio
    del material férrico, en plantas estacionarias podemos encontrar diferentes
    composiciones con trituraciones primarias y secundarias con la ventaja de
    eliminar fracciones de morteros triturados en el proceso intermedio.
</p>
<p>
    Como ejemplo de planta móvil, la siguiente figura muestra un equipo
    compuesto de molino de impacto con precribador y overband en la cinta de
    salida, acoplado a una criba que separa las fracciones 0-40, 40-100, y
    mayores de 100mm.
</p>
<div class='image-container'>
  <%= image_tag 'topic_5/imagen_14.png' %>
</div>>
<p>
    Los procesos posteriores de cribado y retrituración de tamaños superiores a
    100mm son similares a los de cualquier cantera ó gravera. Cuando hablamos
    de áridos reciclados para hormigones, eliminamos del cribado final la
    fracción fina de la trituración (&lt;6mm), y utilizamos la fracción 6-12mm,
    ó 6-20mm
</p>
<p>
    Debido a que las materias primas, sistemas constructivos y demandas de
    áridos y materiales son diferentes para distintas ubicaciones, las plantas
    de reciclaje dependiendo también de la climatología, ubicación, y
    diferentes factores económicos, son también muy diferentes en su diseño y
    funcionamiento.
</p>
<p>
    También son diferentes los sistemas de mitigación de ruido y polvo,
    condicionantes que debemos tener en cuenta, y que generalmente vienen
    reflejados en las condiciones de las autorizaciones.
</p>
<p>
    <strong>5.2 </strong>
    <strong><u>Tratamiento RCD Mezclados</u></strong>
</p>
<p>
    Los RCD mezclados, son aquellos que contienen porcentajes de mezclas con
    residuos no pétreos (maderas, plásticos, metales, cartones, papeles, etc.),
    superiores al 5% en control visual de volumen, y con densidades inferiores
    a 0,7 t/m3, habitualmente mezclados con las distintas fracciones de RCD
    inertes generalmente materiales cerámicos de albañilería en cualquiera de
    sus variedades y restos de otros materiales pétreos.
</p>
<p>
    Debemos diferenciar dos tipos de obras que producen RCD mezclados. Por un
    lado, las demoliciones sin seleccionar que generan fundamentalmente una
    mezcla de mampostería, hormigón, plásticos, etc., y las obras de reforma y
    rehabilitación, más conocidas como obras menores, que producen un RCD
    caracterizado por una composición variada donde el componente mayoritario
    es el ladrillo y el azulejo con morteros, yesos y escayolas, además de
    maderas, plásticos y otros, aunque el porcentaje en peso sea bajo,
    visualmente llegan incluso a ser el 30% en volumen de la composición del
    RCD.
</p>
<p>
    Ambos tipos de RCD se procesan generalmente en las plantas de clasificación
    con la finalidad de separar la fracción pétrea del resto de componentes, en
    plantas de una sola etapa, suele realizarse una separación manual ó
    mecánica directamente en el momento de la descarga del RCD del camión, y en
    el acopio.
</p>
<p>
    Esta clasificación nos permite tratar la fracción pétrea como una materia
    prima de inferior calidad a la del RCD limpio, pero válida no solo para la
    obtención de materiales reciclados generalmente destinados a aplicaciones
    menos exigentes como suelos ó restauraciones, sino en muchos de los casos
    para la obtención de gravas para encachados ó drenajes, incluso una vez
    triturados y clasificados como materiales para subbases de carreteras y
    caminos.
</p>
<p>
    Cada planta de clasificación, tiene su línea de producción, adaptada al
    tipo de RCD admitido y a las necesidades del producto final, prácticamente
    todas ellas cuentan con un modelo basado en la limpieza y separación de
    impurezas, la diferencia principal con las plantas de trituración y cribado
    es la no separación de los RCD en acopios diferentes por tipologías de obra
    ó materiales predominantes, sino que existe un acopio todo uno para la
    obtención de un producto final unificado dentro de un estándar que
    posteriormente tendremos que triturar y cribar para obtener los materiales
    reciclados, las plantas de clasificación por tanto preparan los residuos
    pétreos para su posterior (ó el línea) trituración y cribado.
</p>
<p>
    Es conveniente en las descargas de RCD en las plantas de clasificación y
    para los tamaños superiores realizar un primer triaje manual que evitará
    atascos y permitirá un mejor funcionamiento de la instalación.
</p>
<p>
    Se inicia el proceso con la carga de las tolvas de admisión, generalmente
    con retroexcavadora ya que nos permite separar residuos voluminosos
    mezclados, habitualmente colocamos en la primera cinta de flujo un overband
    ó electroimán de separación magnética, y se realiza un precribado
    generalmente con trommel de simple ó doble malla donde separamos la
    fracción 0-40, ó en doble malla 0-30, y 30-60, pasando en flujo principal
    la fracción &gt;60mm.
</p>
<p>
    Estas separaciones nos permiten la instalación de equipos de limpieza en
    cada granulometría y posibilitan la separación manual en cabinas de triaje.
</p>
<p>
    Las cabinas de triaje manual se componen de una cinta ancha en velocidad
    lenta, generalmente elevada para permitir la descarga directa por gravedad
    a contenedores específicos para cada material, dependiendo de la
    instalación suelen tener de 2 a 8 empleados que manualmente separan las
    maderas, plásticos, metales no férricos, rechazos, etc. del flujo
    principal. En países avanzados y con mano de obra muy cara se utilizan
    sistemas robotizados para estas separaciones.
</p>
<p>
    La siguiente figura muestra la disposición de maquinaria de una planta de
    clasificación compuesta por un pre-cribador que separa directamente las
    fracciones 0-20, y 20-40, un overband de separación magnética, y una cabina
    de triaje manual para separar los materiales como papel, cartón, plástico,
    etc. del resto de materiales pétreos que quedan listos para su posterior
    trituración.
</p>
<div class='image-container'>
  <%= image_tag 'topic_5/imagen_15.png' %>
</div>>
<p>
    Los equipos de limpieza más habituales en las plantas de clasificación son
    los soplantes de aire, ciclones, y equipos de limpieza por flotación en
    agua que eliminan los elementos más ligeros, como plásticos, papeles o
    maderas de
</p>
<p>
    En el siguiente link podemos ver un ejemplo de planta de gestion de RCD en la
    comunidad de Madrid:
</p>
<p>
    https://www.youtube.com/watch?v=ubO6x7MuC6E
</p>
