<h4>
    TEMA 7. Áridos reciclados (AR) procedentes de RCD.
</h4>
<h4>
</h4>
<p>
    7.1 Áridos Reciclados
</p>
<p>
    7.2 Normativa aplicable a los áridos reciclados
</p>
<p>
    7.3 Ensayos para los RCD
</p>
<p>
    7.4 Recomendaciones Técnicas de la Guía Española de Aridos Reciclados
</p>
<p>
    7.5 Áridos Reciclados para la fabricación de Hormigones
</p>
<p>
    7.6 EHE. Recomendaciones para hormigones reciclados
</p>
<h4>
</h4>
<h4>
    7.1 Áridos Reciclados.
</h4>
<p>
    Los áridos reciclados (AR) procedentes de residuos de construcción y
    demolición (RCD) se definen como “el árido resultante del tratamiento de
    material inorgánico previamente utilizado en la construcción” (art.3.4 UNE
    EN 13242: noviembre 2003).
</p>
<p>
    Los RCD proceden como hemos visto en los temas anteriores de las
    actividades de construcción, entre otras obras de reforma, ampliación,
    mantenimiento, demolición, urbanización, infraestructuras y edificación.
    También pueden considerarse como materiales asimilables a los áridos
    reciclados procedentes de RCD, a los residuos procedentes de la industria
    de fabricación de materiales de construcción, aunque su procedencia sea de
    origen industrial.
</p>
<p>
    Los áridos reciclados de RCD se distinguen de los materiales procedentes de
    otras industrias, en que estos últimos requieren de un tratamiento
    específico de inertización para su utilización, tales como:
</p>
<p>
    - Áridos siderúrgicos: procedentes de escorias de la industria metalúrgica,
</p>
<p>
    - Escorias y cenizas inertizadas: procedentes de incineración de residuos,
</p>
<p>
    - Lodos de estaciones de depuración de aguas.
</p>
<p>
    En Europa la Directiva 2008/98/CE de Residuos, establece las condiciones y
    requisitos bajo los cuales un residuo (en nuestro caso, los residuos de
    construcción y demolición) deja de ser residuo y pasa a ser considerado un
    producto (artículo 6 “fin de la condición de residuo”):
</p>
<p>
    - La sustancia u objeto se usa normalmente para finalidades específicas,
</p>
<p>
    - Existe un mercado o una demanda para dicha sustancia u objeto,
</p>
<p>
    - Satisface los requisitos técnicos para las finalidades específicas, y
    cumple la legislación existente y las normas aplicables a los productos,
</p>
<p>
    - Su uso no generará impactos adversos globales para el medio ambiente o la
    salud.
</p>
<p>
    Por ello, los áridos reciclados producidos en Europa deben cumplir con la
    normativa técnica para áridos y otros materiales de construcción que rigen
    los usos en los que se vayan a emplear y, si esta no existe, deberá
    demostrarse su adecuación al uso, en muchas Comunidades Autonomas a los
aridos reciclados se les catalogo como residuos con el código LER    <em>19 12 09 Minerales [por ejemplo, arena, piedras].</em>
</p>
<p>
    La Directiva 89/106/CE de Productos de Construcción, que tiene por objeto
    garantizar la libre circulación de todos los productos de construcción en
    la Unión Europea, establece las normas europeas armonizadas y los
    documentos de idoneidad técnica europeos en el que los fabricantes deben
    indicar las características técnicas del producto que comercializan.
</p>
<p>
    El Marcado CE que significa de Conformidad Europea sobre un producto indica
    que éste cumple con todos los requisitos esenciales que son de aplicación
    en virtud de sus respectivas directivas comunitarias. El marcado CE no es
    una marca de calidad, sino que se trata de un certificado que declara la
    conformidad de un determinado producto con las normas armonizadas (EN) que
    establecen su utilización.
</p>
<p>
    Por lo tanto, los Áridos Reciclados (procedentes de RCD) en Europa son
    aquellos productos procedentes de un proceso de reciclaje que cumplen con
    los requisitos técnicos de los áridos para una aplicación determinada y
    tienen el marcado CE.
</p>
<p>
    La condición necesaria para que los productos reciclados encuentren su
    mercado como un sustitutivo de materias primas, es que satisfagan las
    exigencias técnicas y sean económicamente competitivos.
</p>
<p>
    El cuadro siguiente (Guía Española de Áridos Reciclados), refleja la media
    del porcentaje de cada tipo de RCD que aparece en los áridos reciclados.
</p>
<div class='table-container'>
  <%= image_tag 'topic_7/image_1.jpg' %>
</div>
<div class='image-container'>
  <%= image_tag 'topic_7/image_2.jpg' %>
</div>
<p>
    <strong>Tipos de Áridos y Materiales Reciclados </strong>
</p>
<p>
    Denominaremos áridos a los productos de la valorización de RCD que cumplan
    con la normativa técnica sobre áridos, esto se comprueba por medio de los
    ensayos establecidos en la normativa. Los productos que no cumplan como
    áridos los catalogaremos como materiales reciclados.
</p>
<p>
    Los áridos reciclados se pueden clasificar en cuatro tipos, en tres de
    ellos suele predominar un tipo de RCD (Hormigón, Asfalto, Cerámico) y uno
    en el cual se mezclan en diversas cantidades los tres anteriores.
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>Áridos reciclados de Hormigón.</strong>
</p>
<p>
    Los áridos procedentes de RCD compuestos mayoritariamente de hormigón,
    tienen un abanico muy amplio de aplicaciones siendo aptos para casi
    cualquier sector de la construcción
</p>
<p>
    Los áridos reciclados procedentes de hormigón son los más estudiados y los
    que presentan un mayor número de aplicaciones. El RCD de origen puede ser
    muy variado, como de procedencia en cimentaciones y estructuras de
    edificios, bases de firmes rígidos, prefabricados, etc.
</p>
<p>
    La resistencia de trabajo del hormigón de partida nos da una idea
    aproximada de las características finales de los áridos, aunque es
    prácticamente imposible determinarla y clasificar los RCD en planta por
    acopios diferenciados, podemos realizar acopios diferenciados de hormigones
    armados, y hormigones en masa, en reciclaje en obra podemos suponer una
    misma resistencia y producir áridos reciclados con estructuras demolidas
    que han sido fabricadas con el mismo hormigón.
</p>
<p>
    Cuando hablamos de áridos para bases y subbases, el grado de mezcla con
    otros materiales (cerámico o asfalto) hasta un cierto porcentaje, tiene
    efectos más visuales que estructurales, mientras que para la producción de
    áridos para hormigones y morteros, es imprescindible la ausencia total de
    residuos diferentes a los de hormigón.
</p>
<p>
    Dentro del grupo de áridos reciclados producidos a partir de hormigón
    destacan las zahorras y las gravas, cuyas aplicaciones son las bases y
    subbases de carreteras, áridos para hormigones en masa y estructurales, y
    áridos para rellenos en encachados y drenajes. Se ha comprobado que en la
    mayoría de los casos la utilización de fracciones finas en la elaboración
    de morteros no es aconsejable ya que estas fracciones presentan una elevada
    cantidad de impurezas en especial de compuestos químicos como sulfatos y
    cloruros que alteran la calidad de los morteros.
</p>
<div class='image-container'>
  <%= image_tag 'topic_7/image_3.jpg' %>
</div>
<p>
    <strong>Áridos reciclados de asfalto</strong>
</p>
<p>
    Los áridos procedentes de capas de aglomerado asfáltico son en su mayoría
    los producidos por el levantamiento de viales, tienen su mayor aplicación
    en las bases y subbases de carreteras, o como árido para proceso de nuevas
    mezclas bituminosas.
</p>
<p>
    Las mezclas bituminosas utilizadas en la fabricación de áridos reciclados
    deberán ser analizadas con anterioridad para comprobar que no contengan
    alquitrán de hulla, ya que los áridos reciclados resultantes serian
    considerados residuos peligrosos.
</p>
<div class='image-container'>
  <%= image_tag 'topic_7/image_4.jpg' %>
</div>
<p>
    Para más información sobre este compuesto consultar el siguiente link:
</p>
<p>
    <a href="https://es.wikipedia.org/wiki/Alquitr%C3%A1n_de_hulla">
        https://es.wikipedia.org/wiki/Alquitr%C3%A1n_de_hulla
    </a>
</p>
<p>
    <strong>Áridos y materiales reciclados Cerámicos</strong>
</p>
<p>
    Son los procedentes de ladrillos y tejas cerámicas, para que estos sean
    considerados en esta categoría, los áridos reciclados deben contener al
    menos un 70 % de estos materiales cerámicos.
</p>
<p>
    Debido a que retienen la humedad (higroscopicidad), tienen numerosas
    aplicaciones en jardinería y cubiertas ecológicas, al tener un color
    homogéneo y llamativo se suele usar también como ornamentación en jardines.
</p>
<div class='image-container'>
  <%= image_tag 'topic_7/image_5.jpg' %>
</div>
<p>
    <strong>Áridos y materiales reciclados de RCD Mezclados</strong>
</p>
<p>
    Los materiales reciclados procedentes de mezclas de RCD y con componente
    mayoritario de material cerámico, se emplean generalmente como suelos ó
    materiales de relleno en restauración de espacios degradados,
</p>
<p>
    Estos materiales no suelen cumplir en la mayoría de los casos como áridos
    en España debido a la normativa vigente, en países como Bélgica y Holanda
    debido a la escasez de áridos naturales su utilización suele ser bastante
    extendida con excelentes resultados.
</p>
<p>
    Los áridos reciclados procedentes mezclas de RCD presentan generalmente
    buenas condiciones de compactación y pueden emplearse para subbases en
    caminos y viales, empleando como capa superficial zahorra reciclada.
</p>
<div class='image-container'>
  <%= image_tag 'topic_7/image_6.jpg' %>
</div>
<p>
    <strong>7.2 Normativa aplicable a los áridos reciclados.</strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    Los áridos en general cuentan con una normativa para diferentes usos a
    nivel Europeo denominadas Normas Armonizadas que cada Estado suele adaptar
    dependiendo de sus circunstancias.
</p>
<p>
    Listado de algunas de las normas más significativas.
</p>
<div class='table-container'>
  <%= image_tag 'topic_7/image_7.jpg' %>
</div>
<p>
    En España las normas más utilizadas para la aplicación de los áridos
    reciclados son:
</p>
<ul type="disc">
    <li>
        Pliego de Prescripciones Técnicas Generales para Obras de Carreteras y
        Puentes.
    </li>
</ul>
<p>
    <a
        href="http://www.fomento.gob.es/MFOM.CP.Web/handlers/pdfhandler.ashx?idpub=ICW020"
    >
        http://www.fomento.gob.es/MFOM.CP.Web/handlers/pdfhandler.ashx?idpub=ICW020
    </a>
</p>
<ul type="disc">
    <li>
        Instrucción de hormigón estructural (EHE-08)
    </li>
</ul>
<p>
    <a
        href="http://www.fomento.gob.es/MFOM/LANG_CASTELLANO/ORGANOS_COLEGIADOS/MASORGANOS/CPH/instrucciones/EHE_es/"
    >
        http://www.fomento.gob.es/MFOM/LANG_CASTELLANO/ORGANOS_COLEGIADOS/MASORGANOS/CPH/instrucciones/EHE_es/
    </a>
</p>
<p>
    <strong>7.3 Ensayos para los RCD</strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    Existen múltiples ensayos para los áridos dependiendo del uso que se vayan
    a dar, dentro de los tipos de ensayos encontramos físicos - mecánicos,
    geométricos y químicos, para la evaluación de los áridos y dependiendo de
    las distintas aplicaciones contamos con las normas de carácter Europeo
    (Armonizadas), que en el caso de España son elaboradas por AENOR y que se
    identifican con las siglas EN, estas normas son iguales para toda la Unión
    Europea.
</p>
<p>
    Daremos algunos ejemplos de los ensayos más representativos para los áridos
    reciclados de acuerdo a las normas armonizadas más utilizadas.
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>Ensayos Geométricos. </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    Granulometría:
</p>
<p>
    Por medio de este ensayo se separan los granos de una muestra por tamaños
    para lo que se hace un tamizado, cada aplicación exige unos porcentajes de
    cada uno de las fracciones granulométricas, como ejemplo damos los rangos
    en porcentaje permitidos para el Pliego de Prescripciones técnicas
    Generales para Obras de Carreteras y Puentes (en adelante PG3) para las
    zahorras.
</p>
<div class='image-container'>
  <%= image_tag 'topic_7/image_8.jpg' %>
</div>
<p>
    El ensayo utilizado para la granulometría de la zahorra es UNE-EN 933-1
</p>
<div class='table-container'>
  <%= image_tag 'topic_7/image_9.jpg' %>
</div>
<p>
    Video sobre ensayo granulométrico para suelos.
</p>
<p>
    <a href="https://www.youtube.com/watch?v=l5wM7k5MvUM">
        https://www.youtube.com/watch?v=l5wM7k5MvUM
    </a>
</p>
<p>
    <strong>Índice de Lajas:</strong>
</p>
<p>
    El ensayo del índice de lajas pretende determinar la cantidad de lajas que
    contiene el árido grueso, las lajas pueden reducir la calidad de los áridos
    para ciertas aplicaciones, es por esto que existen límites para la
    presencia de esta forma del árido, el ensayo realizado para determinar el
    índice de lajas en España es el UNE-EN 933-3:2012. Para realizar este
    ensayo es necesario una serie de tamices con unas características
    determinadas que permite separar las lajas de los áridos redondeados.
</p>
<p>
    <strong>
        Porcentaje de partículas trituradas o fracturadas y partículas
        totalmente redondeadas:
    </strong>
</p>
<p>
    Este ensayo determina la cantidad de partículas trituradas y redondeadas
    del árido grueso, dependiendo del uso que se pretenda dar será mejor más o
    menos áridos triturados. Con la norma UNE-EN 933-5:1999/A1:2005 se
    determinan las caras de fractura y el ensayo se realiza con la fracción
    gruesa, cada piedra se separa dependiendo del grado de trituración que
    tenga.
</p>
<p>
    <strong>Ensayos Físicos</strong>
</p>
<p>
    Los ensayos físicos determinan las propiedades físicas de los áridos, con
    esto se intenta saber el posible comportamiento del árido cuando se utilice
    en obra.
</p>
<p>
    <strong>
        Resistencia a la fragmentación (coeficiente de los Angeles):
    </strong>
</p>
<p>
    Este ensayo pretende determinar la resistencia del árido sometiendo a una
    fricción, es muy importante para determinar la resistencia que el árido
    tendrá y con qué aplicación es mas compatible. Para este ensayo se
    introducen una muestra en un cilindro con unas esferas de acero y se ponen
    a girar por un tiempo determinado en la muestra, luego se tamiza y se ve
    que cantidad de finos se produjeron para hacer finalmente el cálculo del
    coeficiente de los ángeles. Para España la norma armonizada es UNE-EN
    1097-2.
</p>
<p>
    <strong>Clasificación de los componentes de los áridos reciclados:</strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    Este ensayo fue diseñado para clasificar los áridos reciclados de acuerdo a
    su composición y para calcular la proporción de impropios que puede tener
    un árido reciclado sin que estos alteren la calidad de estos en el uso que
    se pretende hacer con ellos.
</p>
<p>
    Se hace una separación de los diferentes materiales que pueden estar
    presentes en el árido y se expresa en porcentaje.
</p>
<p>
    Rc: Hormigón, productos de hormigón, mortero Piezas para fabricación de
    albañilería de hormigón
</p>
<p>
    Ru: Aridos no tratados, piedra natural, Áridos tratados con conglomerado
    hidráulicos
</p>
<p>
    Rb: Piezas para fabricación de albañineria de arcilla (Ladrillo, tejas),
    Piezas para fabricación de albañilería de silicato de calcio.
</p>
<p>
    Ra: Materiales Bituminosos (Asfalto)
</p>
<p>
    Rg: Vidrio
</p>
<p>
    FL: Materiales flotantes en volumen.
</p>
<p>
    X: Otros, Materiales cohesivos (Es decir arcilla y suelo), varios metales
    (ferrosos y no ferrosos), madera, materia plástica, caucho, yeso
</p>
<p>
    <strong>Equivalente de Arena:</strong>
</p>
<p>
    Este ensayo sirve para evaluar la calidad de los finos, los áridos que
    contengan menos arcillas y materiales flotantes tendrán más aplicaciones.
    La presencia de arcillas puede ser perjudicial en muchas aplicaciones ya
    que esta al hidratarse se hincha produciendo daños en las estructuras donde
    se utilicen áridos con excesivas arcillas.
</p>
<p>
    Para realizar este ensayo se disuelve una muestra de árido fino en una
    probeta con floculante (liquido que contiene glicerina, formaldehido y
    cloruro cálcico anhidro) este reacciona y hace que arcillas y otros
    materiales contaminantes floten. Después de agitar durante unos minutos la
    muestra se deja reposar y se mide la altura de la columna, el valor de la
    altura se introduce en una fórmula que nos da el equivalente de arena.
</p>
<div class='image-container'>
  <%= image_tag 'topic_7/image_10.jpg' %>
</div>
<p>
    <strong>Ensayos Químicos</strong>
</p>
<p>
    Los ensayos químicos determinan si los áridos contienen ciertos componentes
    químicos que pueden provocar problemas al entrar en contacto con sustancias
    del medio donde se utilizan, reaccionando con el cemento o el asfalto que
    se utilice para la fabricación de conglomerados hidráulicos, ó presencias
    de cloruros que invalidarían su uso en hormigones armados al atacar las
    armaduras.
</p>
<p>
    <strong>Sulfatos solubles en acido:</strong>
</p>
<p>
    Es un ensayo utilizado para aplicaciones con conglomerados hidráulicos,
    sobre todo con cementos ya que la presencia de sulfatos en el hormigón
    produce problemas de desgaste, es por eso aconsejable que cuando se haga
    hormigón con áridos reciclados se utilicen cementos resistentes a los
    sulfatos.
</p>
<p>
    <strong>Azufre total:</strong>
</p>
<p>
    El Azufre total es una prueba muy útil para los áridos reciclados ya que
    los áridos reciclados pueden tener niveles altos de este mineral debido al
    yeso que se utiliza en la construcción.
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>Sulfatos solubles en agua:</strong>
</p>
<p>
    Este ensayo se usa sobre todo en áridos reciclados que son utilizados como
    bases y subbases de carreteras.
</p>
<p>
    <strong>
        7.4 Recomendaciones técnicas de la Guía Española de Áridos y Materiales
        Reciclados
    </strong>
</p>
<p>
    Estas recomendaciones técnicas se basaron en las experiencias realizadas
    con áridos reciclados en diferentes puntos de España.
</p>
<p>
    La guía establece seis recomendaciones técnicas para los áridos reciclados
    procedentes de RCD, para su utilización como:
</p>
<p>
    1. RT1 Material granular en firmes
</p>
<p>
    2. RT2 Material granular en rellenos y explanaciones
</p>
<p>
    3. RT3 Material tratado con ligantes hidráulicos en firmes y explanaciones
</p>
<p>
    4. RT4 Material tratado con ligantes hidráulicos en prefabricados
</p>
<p>
    5. RT5 Material tratado con ligantes hidráulicos en hormigones
</p>
<p>
    6. RT6 Material tratado con ligantes hidráulicos en hormigones compactados
    con Rodillo.
</p>
<p>
    <strong><u>GEAR RT 01, Material Granular en Firmes</u></strong>
</p>
<p>
    Aplicaciones en carreteras y caminos, (bases, subbases, arcenes)
</p>
<div class='image-container'>
  <%= image_tag 'topic_7/image_11.jpg' %>
</div>
<p>
    Probablemente sea la aplicación más utilizada para los áridos reciclados,
    las bases y subbases son las capas anteriores al pavimento, la base
    generalmente va mezclada con algún agente estabilizador como el cemento.
</p>
<div class='table-container'>
  <%= image_tag 'topic_7/image_12.jpg' %>
</div>
<p>
    En el siguiente link se explica de manera sencilla como se fabrica firmes
    para carretera
</p>
<p>
    <a href="https://www.youtube.com/watch?v=qOLPZ2Sw7Lo">
        https://www.youtube.com/watch?v=qOLPZ2Sw7Lo
    </a>
</p>
<p>
    <strong><u> </u></strong>
</p>
<p>
    <strong><u> </u></strong>
</p>
<p>
    <strong><u> </u></strong>
</p>
<p>
    <strong>
        <u>GEAR RT 02, Material Granular en Rellenos y Explanaciones.</u>
    </strong>
</p>
<p>
    Aplicaciones en terraplenes, explanaciones y rellenos.
</p>
<div class='image-container'>
  <%= image_tag 'topic_7/image_15.jpg' %>
</div>
<p>
    Estos materiales son los llamados suelos, con los cuales se suelen
    construir los terraplenes sobre los que se asientan las carreteras.
</p>
<div class='image-container'>
  <%= image_tag 'topic_7/image_13.jpg' %>
</div>
<p>
    Cuando los productos resultantes del reciclado de RCD no suelen cumplir
    como árido uno de los usos que se les suele dar es el de suelo para este
    tipo de aplicaciones.
</p>
<p>
    Los suelos se clasifican de acuerdo a sus características físicas químicas
    y mecánicas. Teniendo cada tipo unas aplicaciones especificas, a
    continuación damos los valores recomendados en la guía y que cumplen con el
    PG3.
</p>
<div class='table-container'>
  <%= image_tag 'topic_7/image_14.jpg' %>
</div>
<p>
    En el siguiente link el apartado de terraplenes del PG3
</p>
<p>
    <a
        href="http://www.carreteros.org/normativa/pg3/articulos/3/iii/a_330c.htm"
    >
        http://www.carreteros.org/normativa/pg3/articulos/3/iii/a_330c.htm
    </a>
</p>
<p>
    <strong>
        <u>
            GEAR RT 03, Material Tratado con Ligantes Hidráulicos en Firmes y
            Explanaciones.
        </u>
    </strong>
</p>
<p>
    Aplicaciones en suelocemento, y gravacemento
</p>
<p>
    La mezcla entre áridos y cemento se suele utilizar para diversas
    aplicaciones, se denominar suelocemento cuando se hace con áridos de
    granulometría mixtas y gravacemento cuando se realiza solo con árido
    grueso.
</p>
<p>
    En el PG3 se recogen en su artículo 513 las especificaciones para la
    fabricación de suelocemento y gravacemento
</p>
<p>
    <a href="http://www.carreteros.org/normativa/pg3/articulos/5/ii/a_513d.htm">
        http://www.carreteros.org/normativa/pg3/articulos/5/ii/a_513d.htm
    </a>
</p>
<p>
    <a href="https://www.youtube.com/watch?v=NeBqbvvvR9U">
        https://www.youtube.com/watch?v=NeBqbvvvR9U
    </a>
</p>
<div class='table-container'>
  <%= image_tag 'topic_7/image_16.jpg' %>
</div>
<p>
    <strong>
        <u>
            GEAR RT 04, Material Tratado con Ligantes Hidráulicos en
            Prefabricados
        </u>
    </strong>
</p>
<p>
    Aplicaciones como Bordillos, Bovedillas, Bancos, Bloques, etc.
</p>
<p>
    Otras de las aplicaciones muy usadas para los áridos reciclados es la
    fabricación de piezas prefabricadas para múltiples usos en la construcción,
    las cuales requieren una menor exigencia que otros tipos de hormigón.
</p>
<p>
    Como ejemplo ponemos las piezas construidas por la empresa Casalé de
    Zaragoza.
</p>
<div class='image-container'>
  <%= image_tag 'topic_7/image_17.jpg' %>
</div>
<p>
    Todas las especificaciones técnicas en el siguiente enlace:
</p>
<p>
    <a href="http://casale.info/bloques-tipo-lego-megalito-zaragoza/">
        http://casale.info/bloques-tipo-lego-megalito-zaragoza/
    </a>
</p>
<div class='table-container'>
  <%= image_tag 'topic_7/image_18.jpg' %>
</div>
<p>
    GEAR RT 05, Material Tratado con Ligantes Hidráulicos en Hormigones
</p>
<p>
    Aplicaciones en Hormigones estructurales &lt;30 MPa, Hormigones No
    estructurales &lt;20 MPa, Hor. de Limpieza &gt;150 Kg/m3 de cemento.
</p>
<p>
    Por sus características este tipo de hormigones exigen que la calidad del
    árido reciclado sea muy alta, por lo que se utilizan áridos reciclados
    fabricados con material predominante RCD de hormigón, el cual suele ser el
    que mejor resultados tiene para esta aplicación.
</p>
<p>
    Actualmente la Instrucción de Hormigón Estructural (EHE), permite un 20% de
    árido reciclado, este debe de ser mayor de 4mm ya que la fracción fina es
    la que más problemas suele dar al hormigón
</p>
<p>
    <a href="http://www.cedex.es/CEDEX/LANG_CASTELLANO/ORGANISMO/CENTYLAB/GT-REAC/LINEAS/TTIGEM/ACCION_2_2_1.htm">
        http://www.cedex.es/CEDEX/LANG_CASTELLANO/ORGANISMO/CENTYLAB/GT-REAC/LINEAS/TTIGEM/ACCION_2_2_1.htm
    </a>
</p>
</p>
<div class='table-container'>
  <%= image_tag 'topic_7/image_19.jpg' %>
</div>
<p>
    <strong>
      GEAR RT 06, Material Tratado con Ligantes Hidráulicos en Hormigones
      Compactados con Rodillo
    </strong>
</p>
<p>
    Aplicaciones en Capas de Rodadura, y Base para Pavimentos.
</p>
<p>
    Esta aplicación es para la construcción de vías, en la actualidad se
    incluye en España dentro de esta recomendación las bases para carreteras
    T00 a T2, y las capas de rodadura para vías de tráfico T3 y T4.
</p>
<div class='table-container'>
  <%= image_tag 'topic_7/image_20.jpg' %>
</div>
<h1>
    <a name="_Toc278443965">7.5</a>
    Áridos Reciclados para la Fabricación de Hormigones.
</h1>
<p>
    La fabricación de hormigón con áridos reciclados en España comenzó a partir
    de las experiencias previas en otros países de la UE de gran tradición en
    reciclaje como Alemania y Holanda, y experiencias de países como Japón con
    una amplia costumbre en la utilización de áridos reciclados para
    hormigones.
</p>
<p>
    La búsqueda de nuevas aplicaciones para los áridos reciclados llevó a la
    consideración de su posible utilización como áridos para la fabricación de
    hormigón, se realizaron inicialmente pruebas a nivel de laboratorio para
    terminar unos años después y paralelamente al borrador de la instrucción
    EHE con la puesta en obra de hormigones con áridos reciclados.
</p>
<div class='image-container'>
  <%= image_tag 'topic_7/image_21.jpg' %>
</div>
<p>
    Estructura construida con áridos reciclados
</p>
<p>
    Las primeras experiencias consistieron en la demostración de la viabilidad
    técnica de los áridos reciclados para hormigones, en estos trabajos se
    analizaba básicamente las características técnicas de los áridos
    reciclados, siempre comparándolos con patrones de árido natural y siguiendo
    las especificaciones de la normativa técnica vigente. Otros trabajos
    iniciales consistieron en la fabricación de hormigón reciclado a escala de
    laboratorio, analizando el comportamiento del hormigón tanto en estado
    fresco como endurecido y comparando estos resultados con muestras patrón.
</p>
<p>
    Ambos tipos de experiencias han constituido el punto de partida para la
    realización de pruebas a escala industrial. Durante las primeras
    ejecuciones de hormigón reciclado, se analizaba fundamentalmente el
    comportamiento tanto del árido reciclado como del hormigón fuera de las
    condiciones ideales del laboratorio, los resultados de todos los trabajos
    previos han sido siempre positivos para hormigones reciclados en masa y
    armados y resistencias de trabajo no elevadas.
</p>
<p>
    El factor determinante que ha hecho posible que comiencen en España a
    realizarse obras y actuaciones con hormigones reciclados, ha sido la
    publicación del anejo 15 de la EHE 2008 en el cual se establecen las
    recomendaciones oportunas tanto para los áridos reciclados como para los
    hormigones reciclados, A día de hoy, se han realizado numerosas
    investigaciones sobre el empleo de áridos reciclados para hormigones
    estructurales y en masa, sobre caracterización del hormigón reciclado y sus
    campos de aplicación.
</p>
<p>
    <strong>Características del hormigón reciclado</strong>
    <strong></strong>
</p>
<p>
    Las propiedades del hormigón reciclado varían en función de la naturaleza
    del RCD de origen del árido reciclado, preferentemente hablamos de hormigón
    reciclado fabricado con áridos reciclados de componente mayoritario
    hormigón, pero también podemos hablar de la utilización de áridos
    reciclados de naturaleza cerámica.
</p>
<p>
    En general, los áridos gruesos reciclados procedentes de residuos de
    hormigón pueden ser utilizados tanto para la fabricación de hormigones en
    masa como hormigones armados, si mantenemos los mismos criterios de
    dosificación, las principales características del hormigón reciclado son la
    demanda de agua del hormigón en estado fresco reciclado que es mayor que la
    de los hormigones convencionales, un consumo de cemento para la misma
    resistencia algo mayor, y una densidad del hormigón reciclado inferior que
    la del hormigón con áridos naturales.
</p>
<p>
    Para sustituciones de hasta el 30% de árido natural por árido reciclado la
    resistencia a compresión no se ve alterada de forma significativa. Sin
    embargo para sustituciones mayores la resistencia a compresión puede verse
    disminuida, las recomendaciones actuales sobre la fabricación de hormigones
    con áridos reciclados no aconseja el uso de las fracciones menores a 4mm ya
    que la fracción fina de los áridos reciclados reducen la calidad del
    hormigón.
</p>
<p>
    El módulo de elasticidad del hormigón reciclado es inferior al del hormigón
    convencional. Si se emplease árido fino reciclado en la dosificación, el
    módulo de elasticidad alcanzaría valores menores. Para sustituciones
    inferiores al 20%, la retracción y la fluencia se mantienen, mientras que
    para sustituciones mayores ambas aumentan con la cantidad de árido
    reciclado, pudiendo verse incrementada la retracción en un 50% y la
    fluencia entre un 30-60%. Si se utiliza árido fino reciclado, estos valores
    aumentan más.
</p>
<p>
    Para la misma dosificación, la absorción y la porosidad del hormigón
    reciclado son mayores que en el caso de hormigones convencionales. La
    resistencia al hielo-deshielo, depende de las características del hormigón
    de origen y de la dosificación del nuevo hormigón. Hormigones resistentes a
    la helada, darán lugar a hormigones reciclados que se comportarán bien
    frente a este tipo de ambiente.
</p>
<p>
    Los áridos reciclados deberán limitar tanto el contenido de cloruros como
    de Sulfatos SO3, para su uso en hormigones, al mismo valor que se contempla
    en las normas para los áridos convencionales.
</p>
<p>
    Los áridos reciclados procedentes de RCD de naturaleza cerámica, presentan
    una densidad menor que los áridos reciclados procedentes de hormigón. Por
    eso se encuentran dentro de la categoría de áridos ligeros y pueden ser de
    aplicación para la fabricación de hormigones ligeros sin finos.
</p>
<p>
    El hormigón no ligero fabricado con ladrillo triturado suficientemente
    denso, puede ser empleado en la construcción de estructuras de hormigón en
    masa y hormigón armado, tales como: muros de sótano, pilas de hormigón,
    chimeneas, todo tipo de hormigón armado prefabricado, elementos para
    tejados, bloques de hormigón o tejas de hormigón.
</p>
<p>
    Se debe tener en cuenta que la resistencia de este tipo de hormigón
    fabricado con materiales cerámicos es considerablemente menor que la de
    hormigones convencionales y por tanto es también menor su utilización.
</p>
<p>
    Las principales características de este tipo de hormigón en su dosificación
    es que el contenido en cemento debe ser aproximadamente un 20% superior que
    en un hormigón normal, para alcanzar la equivalente resistencia del
    hormigón, el hormigón fabricado con ladrillo triturado presenta una peor
    trabajabilidad, debido a la textura rugosa de la superficie del ladrillo
    triturado. La absorción varía en función de la composición del árido
    reciclado empleado, alcanzando los valores más altos cuando se emplea árido
    procedente de ladrillos.
</p>
<p>
    La densidad del hormigón depende además del contenido en cemento de la
    densidad del árido empleado, por tanto la densidad del hormigón fabricado
    con árido reciclado cerámico será menor, la resistencia a compresión de
    este tipo de hormigones es reducida, la resistencia a tracción y flexión de
    hormigones reciclados fabricados con áridos procedentes de materiales
    cerámicos la resistencia a tracción y flexión sufre grandes variaciones, el
    módulo de elasticidad está comprendido entre la mitad y dos tercios del de
    un hormigón normal de la misma resistencia.
</p>
<p>
    Para hormigones con árido reciclado cerámico la fluencia es mayor, en
    general, la retracción de secado del hormigón fabricado con áridos
    reciclados de naturaleza cerámica es aproximadamente un 40% mayor que en
    hormigones convencionales. <a name="_Toc278443967"></a>
</p>
<p>
    <strong>7.6</strong>
    <strong> EHE. Recomendaciones para hormigones reciclados</strong>
    <strong></strong>
</p>
<p>
    En los últimos años se ha producido importantes avances en la tecnología de
    la construcción en general y del hormigón en particular. En 2008, mediante
    Real Decreto, se publica la nueva EHE, adaptada a la nueva normativa
    europea en materia de productos de la construcción, en particular a:
</p>
<p>
    · La finalización de los trabajos desarrollados por el Comité Europeo de
    Normalización (CEN) en relación con los Eurocódigos estructurales y, en
    particular, con la norma europea EN 1992-1-1 “Eurocódigo 2. Proyecto de
    estructuras de hormigón. Parte 1.1. Reglas generales y edificación”.
</p>
<p>
    · Entrada en vigor del marcado CE para los primeros casos de productos de
    construcción, en el ámbito de la Directiva 89/106/CEE del Consejo, de 21 de
    diciembre de 1988, relativa a la aproximación de las disposiciones legales,
    reglamentarias y administrativas de los Estados miembros sobre productos de
    construcción.
</p>
<p>
    La nueva EHE introduce una serie de novedades basadas en las nuevas
    tecnologías del hormigón, como la incorporación de hormigones de altas
    resistencias, hormigones ligeros, hormigones con fibras, etc., así como la
    incorporación de aspectos medioambientales en el proyecto y ejecución de
    las estructuras de hormigón, ampliando la casuística de reciclado y
    reutilización de residuos (áridos reciclados, adiciones minerales
    procedentes de subproductos industriales, etc.), previniendo la generación
    de impactos durante la ejecución y fomentando el empleo de las mejores
    prácticas medioambientales.
</p>
<p>
    La nueva EHE incluye no solo en el capítulo de materiales (áridos) la
    opción de los áridos reciclados, sino que además establece una serie de
    recomendaciones sobre las características técnicas de dichos áridos para su
    empleo en hormigones estructurales, así como las propiedades finales del
    hormigón reciclado.
</p>
<p>
    El anexo 15 de la EHE, titulado Recomendaciones para la utilización de
    hormigones reciclados, es un complemento al resto del articulado de la
    Instrucción.
</p>
<p>
    En el siguiente link teneis el anejo 15 completo:
</p>
<p>
    <a
        href="http://www.fomento.gob.es/NR/rdonlyres/BC8AD664-127D-4CEF-AD59-0A221BE54FA2/37439/Anejo15borde.pdf"
    >
        http://www.fomento.gob.es/NR/rdonlyres/BC8AD664-127D-4CEF-AD59-0A221BE54FA2/37439/Anejo15borde.pdf
    </a>
</p>
<p>
    Por un lado, establece los requisitos técnicos que deben cumplir los áridos
    reciclados que vayan a emplearse en la fabricación de hormigón reciclado.
    Por otro lado, presenta las peculiaridades y puntos a tener en cuenta,
    tanto de la mezcla de los áridos reciclados con los naturales, como del
    propio hormigón reciclado.
</p>
<p>
    Quedan fuera del propio documento los hormigones reciclados fabricados con
    árido fino reciclado o áridos reciclados a partir de otro tipo de RCD que
    no sea mayoritariamente de hormigón. También quedan fuera del alcance del
    documento aquellos hormigones fabricados con áridos reciclados procedentes
    de estructuras de hormigón que presentaran en origen patologías que puedan
    afectar a la calidad final del árido reciclado o procedentes de hormigones
    especiales.
</p>
<p>
    La base de las recomendaciones del anexo está en la fabricación de
    hormigones reciclados con un 20% máximo de sustitución de la fracción
gruesa del árido natural, con resistencias máximas recomendadas de 40 N/mm    <sup>2</sup>.
</p>
<p>
    El árido reciclado debe proceder de residuos de construcción y demolición
    compuestos mayoritariamente de hormigón, y preferentemente de una única
    procedencia.
</p>
<p>
    La particularidad del árido reciclado radica en el mortero adherido al
    árido natural. Esto le confiere una menor densidad, una mayor porosidad y
    absorción de agua y mayor friabilidad.
</p>
<p>
    Teniendo en cuenta estas características inherentes al árido reciclado se
    presentan el resto de propiedades que deben ser ensayadas y que deben
    cumplir los límites establecidos en la Instrucción. Además, la EHE marca
    una metodología para la producción de áridos reciclados para hormigones en
    las plantas de producción.
</p>
<p>
    <strong>Propiedades de los materiales</strong>
</p>
<p>
    En general, la combinación de árido grueso natural y reciclado debe cumplir
    las especificaciones de la EHE del capítulo 28 Materiales. En el Anexo se
    presentan aquellas específicas para los áridos reciclados o para la mezcla
    en su conjunto.
</p>
<p>
    Se establecen requisitos para la granulometría del árido reciclado, el
    porcentaje de terrones de arcilla y coeficiente Los Ángeles.
</p>
<p>
    La absorción de agua es una propiedad que influye a la hora de la puesta en
    obra del hormigón reciclado, por lo tanto debe controlarse. La EHE añade un
    capitulo nuevo para la absorción de agua y la limita al 7% para el árido
    reciclado e inferior a 4,5% para el árido natural cuando se trate de
    hormigones con sustituciones inferiores al 20%. Para sustituciones mayores,
    la mezcla de árido reciclado y natural deberá presentar una absorción
    inferior al 5%.
</p>
<p>
    Respecto a los requisitos químicos (contenido en cloruros y sulfatos)
    mantiene las especificaciones del articulado de la EHE, pero añade el
    control de impurezas propias del los áridos reciclados.
</p>
<p>
    La presencia de plásticos, maderas, yeso, vidrio o cualquier otro elemento
    disminuye la resistencia final del hormigón reciclado, además dependiendo
    de la naturaleza de las impurezas podría presentar otros problemas como
    reacciones álcali-sílice, ataque por sulfatos, desconchados, retracciones
    altas o mal comportamiento frente al hielo-deshielo.
</p>
<p>
    <strong>Durabilidad del hormigón y de las armaduras</strong>
</p>
<p>
    En el capítulo referente a la durabilidad del hormigón y armaduras, se hace
    una distinción entre aquellos aspectos que pueden verse afectados por la
    cantidad de árido reciclado que se agregue a la mezcla y por las
    propiedades inherentes del árido reciclado.
</p>
<p>
    En general, para sustituciones inferiores al 20% la durabilidad del
    hormigón, la relación agua/cemento, la resistencia a la helada y el
    comportamiento frente a la corrosión de las armaduras no difieren del de
    los hormigones convencionales. En el resto de los casos, el anexo
    recomienda ensayos específicos para ajustar la dosificación del hormigón.
</p>
<p>
    La resistencia del hormigón reciclado frente al ataque por sulfatos y el
    agua de mar dependen del hormigón de origen, y el anejo establece que
    dichos hormigones deben haber sido fabricados con cementos resistentes a
    los sulfatos o al agua de mar.
</p>
<p>
    <strong>Cálculos</strong>
</p>
<p>
    Las características del hormigón reciclado dependen del porcentaje de
    sustitución. Cuando este es superior al 20%, en anexo establece:
</p>
<p>
    § Diagrama tensión-deformación: puede verse afectado por la mayor
    deformabilidad del árido reciclado.
</p>
<p>
    § Módulo de deformación longitudinal: disminuye con el aumento de la
    cantidad de árido reciclado.
</p>
<p>
    § Retracción del hormigón: aumenta con el porcentaje de árido reciclado.
</p>
<p>
    § Fluencia del hormigón: aumenta progresivamente al aumentar el porcentaje
    de árido reciclado.
</p>
<p>
    La capacidad resistente de bielas, tirantes y nudos es la misma que en los
    hormigones convencionales para contenidos de árido reciclado inferiores al
    20%. Para porcentajes mayores se recomienda hacer ensayos específicos.
    Igualmente se recomienda para los cálculos relativos a los estados límite
    últimos y de servicio.
</p>
<p>
    <strong>Ejecución</strong>
</p>
<p>
    Los aspectos relativos a la elaboración y puesta en obra del hormigón
    reciclado están condicionados por la absorción de agua del árido reciclado.
    Al ser mayor la demanda de agua, la consistencia y el tiempo de amasado
    difieren un poco de los hormigones convencionales.
</p>
<p>
    Para mantener la resistencia y durabilidad del hormigón reciclado con
    sustituciones superiores al 20%, será necesario disminuir la relación
    agua/cemento, aumentando el contenido de cemento.
</p>
<p>
    Para conseguir la consistencia deseada se recomienda presaturar el árido
    reciclado en las plantas de dosificación o emplear aditivos plastificantes
    o superplastificantes. Al actuar sobre la demanda de agua, se mejorarán las
    condiciones de transporte y bombeo del hormigón reciclado.
</p>
<p>
    <strong>Control</strong>
</p>
<p>
    Debido a la diferencia de orígenes del árido reciclado y la posible
    heterogeneidad de sus propiedades, se recomienda establecer un programa de
    ensayos de control sobre las muestras de árido reciclado.
</p>
<p>
    Previamente a la puesta en obra del hormigón reciclado, también es
    recomendable la realización de ensayos en laboratorio de hormigón reciclado
    fabricado con distintas partidas de árido reciclado, para ajustar el
    proceso, el grado de saturación del árido y la consistencia del hormigón.
</p>
