<h4>
    TEMA 10. Seguridad, salud e Integración Social del reciclaje de RCD
</h4>
<h4>
</h4>
<p>
    10.1 Prevención de riesgos laborales en las instalaciones de RCD
</p>
<p>
    10.2 Integración social de colectivos desempleados y desfavorecidos.
</p>
<p>
    <strong><u> </u></strong>
</p>
<p>
    <strong>
        <u>10.1 Prevención de riesgos laborales en una planta de RCD</u>
    </strong>
</p>
<p>
    Las plantas de tratamiento de RCD requieren al igual que la mayoría de las
    instalaciones industriales unas medidas de prevención de riesgos laborales
    adaptadas a la actividad desarrollada, en la mayoría de los países que
    cuentan con este tipo de instalaciones se controlan parámetros como el
    ruido, polvo, aguas y residuos peligrosos que pueden generar peligros tanto
    para los trabajadores de la instalación como para los habitantes del
    entorno de la instalación.
</p>
<p>
    La Ley General de la Seguridad Social de España define la enfermedad
    profesional en los siguientes términos: “
    <em>
        Se entenderá por enfermedad profesional la contraída a consecuencia del
        trabajo ejecutado por cuenta ajena en las actividades que se
        especifiquen en el cuadro que se apruebe por las disposiciones de
        aplicación y desarrollo de esta Ley, y que esté provocada por la acción
        de los elementos y sustancias que en dicho cuadro se indiquen para cada
        enfermedad profesional”
    </em>
    .
</p>
<p>
    <strong>Plan de Prevención de Riesgos Laborales</strong>
</p>
<p>
    La elaboración de un Plan de Prevención de Riesgos Laborales (PPRL) en
    instalaciones de reciclado además de ser obligatorio pueden ser una valiosa
    herramienta para evitar múltiples accidentes y enfermedades profesiones
    derivados de la actividad, este beneficia al trabajador al proteger su
    integridad física, como al empresario al evitar problemas legales y de
    bajas laborales, dichos planes deberán ser de conocimiento de todos los
    trabajadores y estos deberán conocer en especial los riesgos derivados de
    su actividad profesional, además de contar con las adecuados Equipos de
    Protección Individual (EPIS).
</p>
<p>
    El PPRL debe contar con protocolos sobre las diversas emergencias que se
    pueden presentar en la instalación, a continuación damos algunas de las
    posibles emergencias que se pueden presentar y las medidas que se debe
    tomar para evitar riesgos a los trabajadores.
</p>
<p>
    <strong>Primeros auxilios</strong>
</p>
<p>
    Todas las plantas deben tener varios puntos de paradas de emergencia de la
    maquinaria en caso de presentarse algún atrapamiento de un trabajador.
</p>
<p>
    Es muy importante que al menos los encargados de cada zona de la planta
    cuenten con nociones básicas de primeros auxilios para ayudar a algún
    compañero que tenga un accidente.
</p>
<p>
    La planta debe contar con uno o varios botiquines cercanos a la zona de
    trabajo, en el caso de las plantas un lavaojos seria de gran ayuda en caso
    de presentarse alguna incidencia que afecte a los ojos de un trabajador.
</p>
<p>
    En todas las zonas de trabajo deben contar el lugar bien señalizado un
    listado de teléfonos de emergencia.
</p>
<p>
    <strong>Incendios e inundaciones</strong>
</p>
<p>
    Las plantas deben tener un punto de encuentro en caso de emergencia, este
    punto debe de ser elegido de manera adecuada, debe ser un lugar diáfano que
    tenga capacidad para albergar a todos los trabajadores de la planta.
</p>
<p>
    Se debe contar con responsables de PRL por zonas los cuales se encargaran
    de que no se quede nadie dentro de su zona en caso de evacuación y de hacer
    el recuento de los trabajadores una vez estén todos en el punto de
    encuentro.
</p>
<p>
    Se debe realizar un simulacro anual donde los responsables de planta podrán
    comprobar que los trabajadores tienen claro que deben hacer en caso de
    emergencia.
</p>
<p>
    Anualmente se debe realizar un cursillo con todos los trabajadores para
    recordar la información que el Plan de PRL hace referencia en su
    actividades laboral y las modificaciones y mejores que de este se hayan
    hecho.
</p>
<p>
    Los jefes de planta deben cerciorarse de que la instalación cuente con una
    señalización adecuada que indique entre otras cosas.
</p>
<ul type="disc">
    <li>
        Rutas de evacuación.
    </li>
    <li>
        Salidas de emergencia.
    </li>
    <li>
        Localización de extintores y otras medidas de mitigación de incendios.
    </li>
    <li>
        Primeros auxilios, botiquín, lavaojos de emergencia, etc.
    </li>
    <li>
        Punto limpio.
    </li>
    <li>
        Punto de encuentro para emergencias.
    </li>
    <li>
        Señales de tráfico.
    </li>
</ul>
<p>
    <strong>Enfermedades profesionales</strong>
</p>
<p>
    Anualmente se deben hacer reconocimientos médicos generales que garanticen
    que los trabajadores cuentan con un estado de salud adecuado para la
    actividad profesional que desarrollan, en el caso de las instalaciones de
    tratamiento de RCD se debe prestar especial atención a problemas pulmonares
    derivados del polvo producido durante el tratamiento de los RCD y comprobar
    que los maquinistas no tengan problemas en la vista que les impida manejar
    correctamente la maquinaria.
</p>
<p>
    <strong>Riesgos Ambientales</strong>
</p>
<p>
    Estos son algunos de las posibles causas de problemas sanitarios derivados
    de la actividad de gestión de RCD en una instalación de residuos de
    construcción y demolición.
</p>
<p>
    <strong><u>Polvo </u></strong>
</p>
<p>
    El tratamiento de los RCD genera una gran cantidad de polvo, esté puede
    provocar serios problemas respiratorios, debido a que los trabajadores
    tienen que estar en contacto constante con los residuos, es por esto que
    son muy importantes tanto las medidas de mitigación de polvo como las EPIS
    de los trabajadores.
</p>
<p>
    <strong>
        Medidas de reducción y control de polvo en instalaciones de tratamiento
        de RCD
    </strong>
</p>
<p>
    En el caso de instalaciones de reciclado que se encuentran dentro de naves
    industriales es muy importante que se cuente con sistemas recogida de
    partículas en suspensión, tales como extractores o filtros de mangas.
</p>
<p>
    Los filtros de mangas cuentan con una serie de mangas tejidas que dejan
    pasar el aire y retienen las particulas en suspensión.
</p>
<div class='image-container'>
>   <%= image_tag 'topic_10/image_1.jpg' %>
</div>
<div class='image-container'>
>   <%= image_tag 'topic_10/image_2.jpg' %>
</div>
<p>
    El carenado (cubrimiento) de las cintas que transportan el residuo durante
    todo el proceso de tratamiento es otra de las medidas necesarias para que
    se reduzca considerablemente la producción de polvo durante el
    funcionamiento de la planta.
</p>
<div class='image-container'>
>   <%= image_tag 'topic_10/image_3.jpg' %>
</div>
<p>
    Otra de las medidas de mitigacion de polvo es el riego por aspersión de las
    cintas transportadoras y del suelo de la planta, en las cintas esta técnica
    hace que las partículas en suspensión caigan al suelo y el riego del suelo
    hace que el trasiego de maquinaria y camiones no genere polvo.
</p>
<div class='image-container'>
>   <%= image_tag 'topic_10/image_4.jpg' %>
</div>
<div class='image-container'>
>   <%= image_tag 'topic_10/image_5.jpg' %>
</div>
<p>
    <strong>EPIS para partículas en suspensión. </strong>
</p>
<p>
    En cuanto a los Equipos de Protección Individual (EPIS) necesarios para el
    control del polvo en instalaciones de gestión de RCD se necesitan
    mascarillas, hay mascarillas para cada tipo de partículas a las que se debe
    proteger a los trabajadores.
</p>
<p>
    Las plantas de tratamiento de RCD generan gran cantidad de partículas en
    suspensión es por esto que las mascarillas deben ser las adecuadas para
    evitar enfermedades tales como silicosis.
</p>
<div class='image-container'>
>   <%= image_tag 'topic_10/image_6.jpg' %>
</div>
<p>
    Otra de las EPIS imprescindibles para la protección de los trabajadores
    contra el polvo producido en las plantas de RCD son las gafas de seguridad,
    que además protege los ojos contra posibles punciones por la manipulación
    de los residuos.
</p>
<div class='image-container'>
>   <%= image_tag 'topic_10/image_7.jpg' %>
</div>
<p>
    <strong>Ruido</strong>
</p>
<p>
    Las instalaciones de tratamiento de RCD cuentan con múltiples fuentes
    sonoras las cuales si no se controlan pueden tener graves consecuencias en
    los trabajadores que están expuestos al ruido. Por un lado están las
    consecuencias de perdida de audición que la exposición continuada tiene
    sobre la el sistema auditivo, las perdidas de audición no son recuperables,
    es por esto muy importante que se tomen las medidas adecuadas para
    prevenirlas.
</p>
<p>
    Otra de las consecuencias que puede tener sobre el organismo la exposición
    continuada al ruido son problemas de estrés que a la larga pueden ocasionar
    serios problemas síquicos en los trabajadores.
</p>
<p>
    Como medidas de prevención debemos por un lado tener periodos de descanso
    auditivo para los trabajadores, esto se puede lograr o apagando todos los
    equipos por breves periodos cada determinado tiempo o creando espacios
    libres de contaminación auditiva que permita a los empleados descansar del
    ruido.
</p>
<p>
    Por otro lado se deben tener las EPIS adecuadas para evitar consecuencias
    que deriven en enfermedades profesionales, que reduzcan el ruido hasta los
    niveles adecuados.
</p>
<div class='image-container'>
>   <%= image_tag 'topic_10/image_8.jpg' %>
</div>
<p>
    <strong>Protección cutánea.</strong>
</p>
<p>
    Los trabajadores están expuestos en las plantas de reciclado de RCD a
    riesgos de punciones por la manipulación de RCD, es por esto que se debe
    tener la planta lo mas limpia posible en las zonas de trasiego de personal,
    evitando cualquier objeto punzante.
</p>
<p>
    Las EPIS para evitar posibles peligros son:
</p>
<p>
    <em>Guantes: </em>
    Son de suma importancia ya que en las plantas de residuos suelen haber
    objetos punzantes, afilados, tóxicos y peligrosos. Deben tener especial
    cuidado los trabajadores que trabaja en operaciones de triaje manual.
</p>
<div class='image-container'>
>   <%= image_tag 'topic_10/image_9.jpg' %>
</div>
<p>
    <em>Ropa de los trabajo:</em>
    debe ser la adecuada, intentando que no queden zonas de piel descubiertas,
    esto es complicado sobre todo en estaciones o zonas calurosas por lo que la
    ropa debe adaptarse a las temperaturas de la zona de trabajo, todos los
    trabajadores deben contar con chalecos reflectantes que los hagan lo mas
    visibles posible y los proteja contra posibles atropellos por parte de
    maquinaria y camiones.
</p>
<div class='image-container'>
>   <%= image_tag 'topic_10/image_10.jpg' %>
</div>
<p>
    <em>Calzado:</em>
    Este debe ofrecer la garantía de que ningún trabajador se pinchara con
    objetos punzantes propios de los RCD, además debe contar con punteras de
    acero para proteger aplastamientos con objetos voluminosos.
</p>
<div class='image-container'>
>   <%= image_tag 'topic_10/image_11.jpg' %>
</div>
<p>
    <em>Casco:</em>
    Protege la cabeza de golpes por caída de objetos o por golpes en la cabeza
    a causa circulación por la planta, es muy importante su uso puesto que
    puede evitar lesiones graves o mortales, es por esto que los responsables
    de la seguridad de la planta debe dejar informar correctamente los riesgos
    que puede conllevar no usarlos para sus trabajadores y su uso debe ser
    obligatorio para todo los trabajadores de la planta de reciclaje.
</p>
<div class='image-container'>
>   <%= image_tag 'topic_10/image_12.jpg' %>
</div>
<p>
    <strong><u>10.2 Integración social de colectivos</u></strong>
</p>
<p>
    La actividad del reciclaje en muchos lugares del mundo se viene llevando
    acabo por las clases menos favorecidas que encontraron principalmente con
    la recuperación de chatarras, cartones, cables eléctricos, entre otros de
    su medio de vida.
</p>
<p>
    Estas prácticas se desarrollan de manera prácticamente manual y con medios
    de transporte rudimentarios ó inadecuados, recolectando los residuos que
    tienen un valor añadido tanto en escombreras en los entornos de las
    ciudades, como en las propias obras ó contenedores en las ciudades, y
    propiciado por el abandono del escombro de manera descontrolada ya que su
    tratamiento suele ser costoso y requiere unas infraestructuras que en la
    mayoría de los casos no cuentan numerosos países.
</p>
<div class='image-container'>
>   <%= image_tag 'topic_10/image_13.jpg' %>
</div>
<p align="center">
    Transporte de RCD Colombia
</p>
<p>
    La aparición de nuevas legislaciones ambientales y de instalaciones de
    tratamiento y vertederos para la gestión de los RCD, así como en los medios
    de recogida y transporte, conlleva de una profesionalización que deja en
    muchos casos tanto a colectivos de personas discapacitadas como a los
    colectivos de personas que vivían de la búsqueda y separación de residuos
    sin el acceso al trabajo en lo que ha sido su medio de vida.
</p>
<p>
    La integración de estos colectivos no es sencilla, las instalaciones de
    reciclaje cuentan con los residuos que tienen un valor añadido para su
    cuenta de resultados, y cuentan con tecnologías de separación mecánicas que
    también limitan el trabajo a estos colectivos, además permitir la
    recolección en frentes de vertedero está prohibido ya que en muchos casos
    nos llevan a graves accidentes en las descargas y en tránsito de camiones.
</p>
<div class='image-container'>
>   <%= image_tag 'topic_10/image_14.jpg' %>
</div>
<p>
    Cartagena (Colombia)
</p>
<p>
    La integración social de colectivos trata de compaginar el interés
    empresarial y medioambiental de proyectos de reciclaje con el derecho de
    colectivos desfavorecidos al mercado de trabajo.
</p>
<div class='image-container'>
>   <%= image_tag 'topic_10/image_15.jpg' %>
</div>
<p>
    Mangolore (India)
</p>
<p>
    En algunos países se han formado cooperativas por parte de las personas que
    trabajan con los residuos para intentar profesionalizar el sector, creando
    pequeños centros de acopio y tratamiento donde poder mejorar el valor
    añadido a los residuos recuperados.
</p>
<p>
    La integración social de los colectivos tenemos que estudiarla caso a caso
    ya que su casuística es amplia y no existe una única formula de
    integración.
</p>
<p>
    A continuación exponemos algunos ejemplos:
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>ESPAÑA</strong>
</p>
<p>
    En España contamos legislativamente con los denominados Centros Especiales
    de Empleo para la integración de personas con discapacidad pero que pueden
    desarrollar el trabajo necesario en una instalación de reciclaje.
</p>
<p>
    La integración de estas personas supone para la empresa una reducción muy
    importante en el pago de los seguros sociales de estos trabajadores y por
    tanto las hace mas competitivas, además del beneficio social que les
    reporta.
</p>
<p>
    Como ejemplo la empresa Reciclajes y Derribos Santa Bárbara de la Ibiza en
    España, cuenta con una plantilla de 25 personas de las cuales 16 son
    personas en situación de discapacidad, estas personas realizan trabajos que
    de acuerdo a su discapacidad pueden llevar a cabo sin ningún problema,
    incluyéndolas en el mercado laboral que tanto se les dificulta.
</p>
<p>
    <a href="https://www.youtube.com/watch?v=qL6V8nSPdgQ">
        https://www.youtube.com/watch?v=qL6V8nSPdgQ
    </a>
</p>
<p>
    La empresa TEC REC de Madrid, obtuvo desde el año 2000 la calificación de
    Centro Especial de Empleo de la CAM, y desde maquinistas a vigilantes logró
    la integración de numerosas personas discapacitadas.
</p>
<p>
    Otra forma de integración para personas desempleadas del sector de la
    Construcción, es el desarrollado por la empresa REC de Canarias con la
    realización de cursos de formación y acceso al sector del reciclaje.
</p>
<div class='image-container'>
>   <%= image_tag 'topic_10/image_16.jpg' %>
</div>
<p>
    <strong>MARRUECOS</strong>
</p>
<p>
    En un proyecto de reciclaje de RCD en la ciudad de Kenitra, se pensó de
    acuerdo con la municipalidad en la integración del colectivo de motocarros
    que tradicionalmente se dedicaban a la recogida y transporte de los
    escombros producidos en las obras de la ciudad, la idea era dotarlos por
    primera vez de un registro municipal y de seguro a su vehículo, y pagarles
    los transportes de RCD mediante un sistema de vales sellados a la entrada
    de la instalación de reciclaje.
</p>
<p>
    <strong>COLOMBIA</strong>
</p>
<p>
    En la ciudad de Cali (Colombia), es habitual que la recogida y posterior
    eliminación de los RCD en escombreras se haga en carretas impulsadas por
    tracción animal.
</p>
<p>
    A raíz de las iniciativas de la Alcaldía de la ciudad y como parte del
    proceso de profesionalización del sector y de protección de los animales de
    carga, se intercambiaron los caballos por camionetas con las que se
    agilizara el transporte de los RCD por la ciudad.
</p>
<p>
    Los caballos que han sido cambiados por camionetas son entregados a granjas
    escuelas para que los niños de la ciudad puedan conocer y disfrutar de
    estos animales.
</p>
<div class='image-container'>
>   <%= image_tag 'topic_10/image_17.jpg' %>
</div>
