<h4>
    TEMA 8. Ejemplos de Aplicaciones en España con áridos reciclados (AR)
    procedentes de RCD.
</h4>
<h4>
</h4>
<p>
    8.1 Bases y subbases de carreteras.
</p>
<p>
    8.2 Hormigones en Masa y Estructurales
</p>
<p>
    8.3 Prefabricados de Hormigón
</p>
<p>
    8.4 Suelo-Cemento
</p>
<p>
    8.5 Hormigones compactados con Rodillo.
</p>
<p>
    8.6 Otras Aplicaciones.
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    Hace más de quince años que se utilizan en España áridos reciclados para
    múltiples aplicaciones en el sector de la construcción, principalmente
    zahorras y gravas para bases y subbases de carreteras y encachados, así
    como aplicaciones que van desde la fabricación de morteros, a cubiertas
    ecológicas, ó la utilización de áridos reciclados en la fabricación de
    hormigones en masa, estructurales y prefabricados de hormigón.
</p>
<p>
    Con el desarrollo del proyecto “Guía Española de Aridos Reciclados”, y
    desde el año 2010, se realizaron en España más de 100 Obras documentadas
    técnicamente con áridos reciclados.
</p>
<p>
    Esté capítulo del curso referencia algunos ejemplos de estas realizaciones
    en España donde el concepto de reciclaje y economía circular cobran su
    sentido al introducir en los procesos productivos áridos y materiales
    reciclados.
</p>
<div class='image-container'>
>   <%= image_tag 'topic_8/image_1.jpg' %>
</div>
<p>
    <strong> </strong>
</p>
<p>
    Extendido de zahorra reciclada
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>8.1 Aplicaciones en Bases y Subbases de carreteras.</strong>
</p>
<p>
    <strong><u> </u></strong>
</p>
<p>
    Es la aplicación mas usual (junto con las gravas para drenajes y
    encachados) para los residuos de construcción y demolición, RCD.
</p>
<p>
    Debido a sus características los áridos reciclados suelen requerir un poco
    más de agua para su compactación y al contener un porcentaje de cemento que
    no fraguo en su primer uso la compactación de estos materiales es muy
    buena.
</p>
<p>
    Toda la información sobre la utilización de zahorras como bases y subbases
    está en el articulo 510 Zahorras del PG3, este articulo derogó al articulo
    500 subbases granulares.
</p>
<p>
    El artículo 510 incluye algunas especificaciones para el uso de áridos
    reciclados y permite determinados resultados diferentes en los ensayos para
    que los áridos reciclados puedan ser utilizados y cumplan con la normativa.
</p>
<p>
    Algunas de las condiciones para el uso de áridos reciclados son:
</p>
<p>
    <em>
        Los áridos reciclados de residuos de construcción y demolición deberán
        aportar documento acreditativo de su origen, de la idoneidad de sus
        características para el uso propuesto, que han sido debidamente
        tratados y que no se encuentran mezclados con otros contaminantes.
    </em>
</p>
<p>
    <em> </em>
</p>
<p>
    <strong>Comentario:</strong>
    Las plantas de reciclado deberán elaborar estos documentos acreditativos
    que incluyan toda la información de los áridos reciclados y los ensayos
    correspondientes que certifiquen que son aptos para el uso destinado.
</p>
<p>
    <em>
        Para las categorías de tráfico pesado T2 a T4 se podrán utilizar
        materiales granulares reciclados
    </em>
</p>
<p>
    <em> </em>
</p>
<p>
    <strong>Comentario: </strong>
    Se considera que para tráficos T0 y T1 los áridos reciclados no cumplen,
    estas categorías son las que más exigencias requieren debido al tráfico que
    este tipo de vías suelen tener.
</p>
<p>
    <em>
        En el caso de emplearse materiales reciclados procedentes de
        demoliciones de hormigón, el contenido de sulfatos solubles en agua del
        árido reciclado (expresados en SO3, norma UNE-EN 1744-1), deberá ser
        inferior al siete por mil (SO3 &lt; 7 ‰).
    </em>
</p>
<p>
    <strong>Comentario:</strong>
    Los sulfatos solubles en agua pueden afectar a los firmes alterando su
    calidad y al suelo donde se construye la vía por contaminación con sales
    solubles, por lo que es importan controlar estos compuestos.
</p>
<p>
    <em>
        Para materiales reciclados procedentes de capas de firme de carretera,
        así como para áridos siderúrgicos, el valor del coeficiente de Los
        Ángeles podrá ser superior en cinco (5), siempre y cuando su
        composición granulométrica esté adaptada al huso ZAD20, especificado en
        la tabla 510.5.
    </em>
</p>
<p>
    <em> </em>
</p>
<div class='image-container'>
  <%= image_tag 'topic_8/table_6.jpg' %>
</div>
<p>
    <strong>Comentario: </strong>
    Por las características de los áridos reciclados es complicado que cumplan
    para los valores exigidos para los áridos naturales, es por esto que se
    permite para el uso ZAD20 valores superiores de hasta 5 puntos.
</p>
<p>
    <em>
        Los áridos, naturales, artificiales o procedentes del reciclado,
        deberán disponer del marcado CE, según el Anejo ZA de la norma UNE-EN
        13242, con un sistema de evaluación de la conformidad 2+, salvo en el
        caso de los áridos fabricados en el propio lugar de construcción para
        su incorporación en la correspondiente obra (artículo 5.b del
        Reglamento 305/2011).
    </em>
</p>
<p>
    <em> </em>
</p>
<p>
    <strong>Comentario: </strong>
    Actualmente existe una controversia sobre si los áridos reciclados son un
    producto o un residuo. Todo producto comercializado en la Unión Europea
    deberá contar con marcado CE, es muy importante que todos los áridos
    reciclados cuenten con este marcado ya que esto reafirma su condición de
    producto.
</p>
<p>
    En el siguiente enlace el artículo 510 Zahorras completo:
</p>
<p>
    <em> </em>
</p>
<p>
    <strong>
        <a
            href="http://www.carreteros.org/normativa/pg3/ordenes/ministeriales/fom2523_2014/510.pdf"
        >
            http://www.carreteros.org/normativa/pg3/ordenes/ministeriales/fom2523_2014/510.pdf
        </a>
    </strong>
</p>
<p>
    <strong> </strong>
</p>
<ul type="disc">
    <li>
        <u>Accesos a la Terminal 4, Aeropuerto de Barajas, Madrid.</u>
    </li>
</ul>
<p>
    La antigua carretera de circunvalación del Aeropuerto de Barajas fue
    demolida íntegramente como materia prima para la construcción de los nuevos
    accesos a la T4. Se demolieron y acopiaron de manera diferenciada la capa
    de aglomerado asfáltico, los hormigones, y las zahorras naturales.
</p>
<p>
    Se utilizaron equipos móviles de reciclaje que trataron de manera
    diferenciada los RCD acopiados en las granulometrías requeridas, y se
    buscaron las fórmulas de dosificación adecuadas a los requisitos técnicos.
</p>
<div class='table-container'>
  <%= image_tag 'topic_8/table_1.jpg' %>
</div>
<div class='table-container'>
  <%= image_tag 'topic_8/table_2.jpg' %>
</div>
<ul type="disc">
    <li>
        <strong><u>Carril Verde Ciclista de Madrid</u></strong>
    </li>
</ul>
<p>
    <strong> </strong>
</p>
<p>
    Los 72 kilómetros del carril ó anillo verde ciclista de Madrid están
    construidos con materiales reciclados procedentes de RCD.
</p>
<div class='image-container'>
  <%= image_tag 'topic_8/image_2.jpg' %>
</div>
<div class='table-container'>
  <%= image_tag 'topic_8/table_3.jpg' %>
</div>
<ul type="disc">
    <li>
        <u>Tráfico subterráneo de las Torres de Madrid.</u>
    </li>
</ul>
<p>
    Para la fabricación de estos túneles su utilizo zahorra reciclada de
    hormigón 0-40 como subbase.
</p>
<p>
    <strong><u>8.2 Hormigones en masa y estructurales.</u></strong>
</p>
<p>
    El factor determinante que hizo posible que comenzasen en España a
    realizarse obras y actuaciones con hormigones reciclados, fue la
    publicación del anejo 15 de la EHE 2008 en el cual se establecieron las
    recomendaciones oportunas tanto para los áridos reciclados como para los
    hormigones reciclados.
</p>
<ul>
    <li>
        <u>Construcción de aceras en Ferrol (A Coruña).</u>
    </li>
</ul>
<div class='image-container'>
  <%= image_tag 'topic_8/image_3.jpg' %>
</div>
<p>
    Hormigones en masa para aceras, fabricados con áridos reciclados de
    hormigón y áridos reciclados mixtos. Sustituciones del 41 y del 69%,
    realizadas en Concello de Ferrol por la empresa RECINOR.
</p>
<ul>
    <li>
        <u>
            Estructura de un edificio en la localidad de Cinco Olivas.
            Zaragoza.
        </u>
    </li>
</ul>
<p>
    Casalé Transporte y Excavaciones S.L. desarrolla una única planta con una
    superficie construida de 225m2. Toda la cimentación y estructura se
    proyecto de origen con hormigones con AR, La cimentación se ha resuelto con
    zapatas aisladas bajo pilares y vigas riostras como apoyo de los muros de
    fachada. La estructura es de pórticos ortogonales de hormigón armado con
    forjados unidireccionales de 25+5/70 cm. con bovedilla de hormigón, el uso
    específico es 20% de árido reciclado 4/20 en la fabricación de hormigón
    armado.
</p>
<p>
    Entre las realizaciones que acompañaron la redacción de la instrucción de
    la EHE, cabe destacar el proyecto estructural “Tato 14” (Fernando Navarro
    &amp; Ignacio Tertre), el puente atirantado entre Manises y Paterna en
    Valencia (Pilar Alaejos CEDEX).
</p>
<ul type="disc">
    <li>
        <u>Proyecto</u>
        <u> “Tato 14”.</u>
    </li>
</ul>
<div class='image-container'>
  <%= image_tag 'topic_8/image_4.jpg' %>
</div>
<p>
    El proyecto es una obra de sustitución de edificación en Madrid y contempla
    además del hormigón reciclado en su estructura, otros condicionantes
    medioambientales como la máxima reutilización y reciclado de la demolición,
    reutilización de tierras de vaciado, ahorro energético mediante la
    combinación de energía solar, gas y electricidad, cubierta ecológica
    ajardinada y utilización de materiales reciclados en trasdós de muros,
    encachados, rellenos, morteros, y hormigón de solera, ó los áridos
    reciclados procedentes de RCD cerámicos en cubierta y jardín.
</p>
<p>
    El árido reciclado empleado en la fabricación de hormigón procede de las
    zapatas de cimentación en la demolición de la fábrica de perfumerías GAL,
    en Alcalá de Henares. Previamente al proceso de producción del árido
    reciclado, se caracterizó el hormigón de la cimentación para determinar la
    resistencia a compresión inicial. se extrajeron dos testigos prismáticos
    que dieron como resistencia media 37 N/mm2., aunque la noción de este dato
    no aporta más que una idea aproximada del comportamiento final del árido
    reciclado, si permite acotar las características técnicas finales del mismo
    y podemos pronosticar a grosso modo la resistencia a la fragmentación que
    tendrá el árido y es muy posible que el contenido de finos, el porcentaje
    de desclasificados y la absorción.
</p>
<p>
    Una vez aceptada la zapata como materia prima para la producción de árido
    reciclado para hormigón, ésta se sometió a un proceso previo de demolición
    hasta obtener un tamaño máximo de 800x600x600 mm, necesario para el proceso
    posterior de reciclado en obra donde se trituró mediante molino de impactos
    con pre-cribado y se cribó separadamente del resto de RCD de la demolición,
    obteniendo como producto final la fracción 6-20 mm.
</p>
<p>
    En laboratorio, CEMEX preparó dosificaciones con distintos porcentajes de
    árido reciclado frente al total del fracción gruesa natural, para fabricar
    hormigón de dos clases resistentes, HA25/B/20/Ia y HA35/B/20/Ia. También se
    tuvo en cuenta la naturaleza del árido natural, y las dosificaciones se
    prepararon para grava caliza y sílicea. Una vez determinada la fórmula del
    hormigón, se fabricaron 15 litros de mezcla, sobre los cuales se estudio el
    comportamiento en estado fresco y endurecido.
</p>
<div class='table-container'>
  <%= image_tag 'topic_8/table_4.jpg' %>
</div>
<p>
    Las dosificaciones se llevaron a cabo en la Planta de hormigón de CEMEX en
    Vicálvaro, donde se suministraron sacos de 1m3 con descarga directa y peso
    calibrado de los áridos reciclados para su incorporación al resto de la
    dosificación. En todos los hormigonados se tomaron probetas para determinar
    las resistencias a compresión del hormigón reciclado, obteniendo siempre
    valores por encima de las resistencias marcadas por el proyecto de la obra.
</p>
<p>
    Durante la construcción de la vivienda, se destinaron algunas unidades de
    obra para realizar comparativas entre distintos tipos de hormigones. Para
    la construcción del forjado de cubierta, se emplearon 42 m3 de hormigón del
    tipo HA 25/F/20, de los cuales, 26 m3 fueron fabricados con árido de GAL,
    en sustitución del árido natural, y los 16 m3 restantes fueron de hormigón
    convencional.
</p>
<p>
    Se observa una evolución similar en los dos tipos de hormigones, alcanzando
    antes la resistencia de trabajo el hormigón convencional pero llegando a
    los 28 días a prácticamente el mismo valor de resistencia.
</p>
<div class='image-container'>
  <%= image_tag 'topic_8/table_5.jpg' %>
</div>
<ul type="disc">
    <li>
        <u>Puente Atirantado entre Manises y Paterna en Valencia, (CEDEX).</u>
    </li>
</ul>
<div class='image-container'>
  <%= image_tag 'topic_8/image_5.jpg' %>
</div>
<p>
    Se realizó una demolición selectiva de la estructura del puente antiguo,
    separando las vigas de hormigón pretensado, las vigas de hormigón armado
    (más antiguas) y el hormigón de las pilas y los estribos del resto de
    materiales del puente.
</p>
<p>
    Los RCD seleccionados fueron reciclados en una planta de Madrid, con mucho
    cuidado para que los áridos resultantes solo estuvieran compuestos por
    hormigón.
</p>
<p>
    En el siguiente link, podéis ver detalles de esta obra:
</p>
<p>
    https://www.ieca.es/wp-content/uploads/2017/10/Realizaciones_sep-oct_2011.pdf
</p>
<p>
    <strong>8.3 Aplicaciones en Prefabricados de Hormigón.</strong>
</p>
<ul>
    <li>
        <u>Bordillos de hormigón</u>
    </li>
</ul>
<div class='image-container'>
  <%= image_tag 'topic_8/image_10.jpg' %>
</div>
<p>
    Asociación La Belonga (Asturias), el uso específico del árido reciclado es
    Material granular para bordillos de hormigón, hasta 100% de sustitución de
    árido natural por árido reciclado. El acabado no presenta variaciones
    significativas respecto a las piezas fabricadas con árido natural cuando el
    porcentaje de sustitución es inferior al 50%.
</p>
<ul>
    <li>
        <u>Bovedillas de hormigón.</u>
    </li>
</ul>
<div class='image-container'>
  <%= image_tag 'topic_8/image_6.jpg' %>
</div>
<p>
    Producción de bovedillas de hormigón hasta con un 100% de sustitución de
    árido natural por árido reciclado.
</p>
<p>
    <strong><u>8.4 Suelo-Cemento</u></strong>
</p>
<p>
    <strong><u> </u></strong>
</p>
<ul>
    <li>
        <u>Acondicionamiento de la carretera PM-804.Ibiza.</u>
    </li>
</ul>
<div class='image-container'>
  <%= image_tag 'topic_8/image_7.jpg' %>
</div>
<p>
    Promovida por el Consell Insular y realizada por Reciclajes y Derribos
    Santa Bárbara, el uso específico del árido reciclado es Suelo cemento
    mejorado tipo SC20, se utilizó Árido reciclado mixto do 0/10mm, La
    ejecución de la obra siguió los procedimientos indicados en PG3, el árido
    reciclado cumple con los requisitos indicados por el PG3 para su uso en
    suelo estabilizado “in situ” con cemento, concretamente el material es apto
    para su uso como suelo estabilizado S-EST-3. PG3<strong><u></u></strong>
</p>
<p>
    <strong><u> </u></strong>
</p>
<ul>
    <li>
        <u>Senda Peatonal, (Paseo Marítimo) A Coruña.</u>
    </li>
</ul>
<p>
    Obra realizada por Reciclaje de Inertes del Noroeste, S.L. (RECINOR), el
    uso específico del árido reciclado es Suelo cemento, se utilizó Árido
    reciclado mixto 0-6 mm. La ejecución de la obra siguió los procedimientos
    indicados en PG3, los ensayos a compresión de la mezcla fabricada en
    laboratorio, cumple las especificaciones para su uso como suelo cemento,
    obteniendo unas resistencias de 4MPa para el contenido mínimo exigible de
    cemento del 3%.
</p>
<ul>
    <li>
        <u>Suelo Cemento en Mejora de Enlace de la carretera C-17</u>
    </li>
</ul>
<div class='image-container'>
  <%= image_tag 'topic_8/image_8.jpg' %>
</div>
<p>
    Obra realizada por Tecnocatalana de Runes S.L., el uso específico del árido
    reciclado es Suelo cemento, se utilizó Árido reciclado mixto 0-20 mm,
    realización de estudio especifico para análisis del material:
    Granulometría, Próctor Modificado, Materia orgánica, Plasticidad,
    reactividad Alcali silice con cemento tipo CEM II 32,5, Coeficiente Los
    Angeles, Absorción, Índice de lajas, Sulfatos solubles en ácido,
    Resistencia à compresión.
</p>
<ul>
    <li>
        <u>
            Suelo Cemento en Tramo experimental en la CV-560 en Villanueva de
            Castellón (Valencia)
        </u>
    </li>
</ul>
<p>
    Uso específico del árido reciclado es Suelo Cemento SC40, se utilizó Suelo
    y Zahorra artificial reciclada (0/40mm), la ejecución de la obra siguió los
    procedimientos indicados en PG3,
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong><u>8.5 Hormigón compactado con rodillo</u></strong>
</p>
<p>
    <strong><u> </u></strong>
</p>
<ul>
    <li>
        <u>Carretera en Valencia.<strong></strong></u>
    </li>
</ul>
<div class='image-container'>
  <%= image_tag 'topic_8/image_9.jpg' %>
</div>
<p>
    Construido en Vial de acceso a la nueva zona pesquera e industrial en el
    puerto de Vinaroz Castellón – Valencia. El uso específico del árido
    reciclado Material granular para la producción de Hormigón Compactado con
    Rodillo como base para Pavimento de tráfico T32 árido reciclado de hormigón
    4/20 mm (ArH).
</p>
<p>
    8.6 Otras Aplicaciones
</p>
<p>
    Cubiertas ecológicas o cubiertas verdes
</p>
<p>
    Para este tipo de aplicaciones se suelen usar sobre todo aridos reciclados
    provenientes de RCD ceramicos, estos debido a sus caracteristicas ayudan a
    conservar la humedad durante mas tiempo que un arido natural, ya que tienen
    una mayor porosidad, ademas se aprovecha su coloración rojiza para hacer
    contraste con el verde de las plantas.
</p>
