<h4>
    TEMA 6. Vertederos
</h4>
<h4>
    6.1 Los vertederos
</h4>
<h4>
    6.2 Normativa sobre vertederos de RCD
</h4>
<h4>
    6. 3 Tipos de vertederos
</h4>
<h4>
    6.4 Diseño de los vertederos
</h4>
<h4>
    6.1 Los Vertederos
</h4>
<h4>
    Los vertederos son los lugares donde se depositan los residuos de manera
    controlada para posteriormente ser enterrados, en Latinoamérica son
    llamados rellenos sanitarios, estos deben de ser la última opción en la
    gestión de residuos y solo se deben depositar en ellos los residuos que no
    pueden ser valorizados.
</h4>
<div class='image-container'>
  <%= image_tag 'topic_6/image_1.jpg' %>
</div>
<p>
    Hasta hace algunos años el vertido era con la incineración descontrolada
    las únicas técnicas de tratamiento de RCD, en el caso de estos la
    incineración no es una opción para el 90% de estos residuos ya que son
    materiales que en su mayoría no son de fácil combustión.
</p>
<p>
    Los vertederos modernos son instalaciones que garantizan que los residuos
    depositados no van a afectar al entorno, por eso es necesario tomar
    múltiples medidas de seguridad que garanticen la correcta construcción,
    gestión y sellado de estos.
</p>
<p>
    La Unión Europea cuenta desde hace varios años con legislación que recoge
    las especificaciones que debe tener los diferentes vertederos dependiendo
    del tipo de residuo que se van a depositar.
</p>
<p>
    A pesar de que los vertidos de RCD no se consideran peligrosos por no
    representar graves consecuencias para el medio ambiente se debe tener en
    cuenta que en muchos de los casos estos residuos pueden contener botes de
    pintura, disolventes y diferentes sustancias que pueden ser toxicas y
    peligrosas, es por esto que este tipo de vertidos deben de ser controlados.
</p>
<p>
    En muchos lugares del mundo todavía se vierten RCD sin control y sobre todo
    en poblaciones pequeñas donde no existen plantas de tratamiento cercanas
    para valorizar este tipo de residuos es normal que haya una zona para la
    eliminación de estos residuos.
</p>
<p>
    <strong>6.2 Normativa sobre vertederos.</strong>
</p>
<p>
    <strong>
        Directiva 1999/31/CE, del Consejo, de 26 de abril, relativa al vertido
        de residuos:
    </strong>
</p>
<p>
    “La Directiva 1999/31/CE, del Consejo, de 26 de abril, relativa al vertido
    de residuos, establece un régimen concreto para la eliminación de los
    residuos mediante su depósito en vertederos. Configuran las líneas básicas
    de su regulación la clasificación de los vertederos en tres categorías, la
    definición de los tipos de residuos aceptables en cada una de dichas
    categorías, el establecimiento de una serie de requisitos técnicos
    exigibles a las instalaciones, la obligación de gestionar los vertederos
    después de su clausura y una nueva estructura e imputación de los costes de
    las actividades de vertido de residuos”.
</p>
<p>
    <a href="https://www.boe.es/buscar/doc.php?id=DOUE-L-1999-81425">
        https://www.boe.es/buscar/doc.php?id=DOUE-L-1999-81425
    </a>
</p>
<p>
    Según las tres categorías catalogadas en esta Directiva encontramos los
    vertederos de:
</p>
<p>
    <strong>Vertedero de residuos peligrosos:</strong>
    En este se deben depositar los residuos que sean o contengan sustancias
    toxicas y/o peligrosos, en el caso de los RCD podemos destacar:
</p>
<ul>
    <li>
        <strong>Las tierras contaminadas de excavación</strong>
        : Estas son habitualmente encontradas en demoliciones y vaciados de
        instalaciones que hayan manipulado sustancias químicas y que no hayan
        tenido un correcto aislamiento para evitar la contaminación del suelo.
    </li>
    <li>
        <strong>El Amianto o asbesto</strong>
        : Este material muy usado en construcción hasta su prohibición en
        Europa debido al descubrimiento de su relación con el cáncer de pulmón
        debe ir debidamente encapsulado antes de ser vertido para que sus
        fibras no estén expuestas al aire y puedan ser inaladas por quien lo
        manipule.
    </li>
</ul>
<p>
    Todos los demás RCD que entren en contacto con sustancias peligrosas deben
    ser llevados a este tipo de instalaciones.
</p>
<p>
    <strong>Vertederos de residuos no peligrosos: </strong>
</p>
<p>
    Los residuos no peligrosos son los que no presentan características toxicas
    o peligrosas, en este grupo podemos incluir los Residuos Sólidos Urbanos
    (RSU).
</p>
<p>
    Existen algunos residuos que están presentes tanto en los RCD como en los
    RSU, los más significativos son los plásticos, papeles y cartones, para que
    estos sean catalogados como RCD basta con que hayan sido producidos en
    construcción o demolición.
</p>
<p>
    <strong>Vertedero de residuos inerte:</strong>
</p>
<p>
    Se definen como residuos inertes los que no presenten transformaciones
    físicas y químicas considerables, en general son residuos de construcción.
</p>
<p>
    <strong>Real Decreto 1481/2001 Vertedero:</strong>
</p>
<p>
    Este Real Decreto fue la trasposición de la<strong> </strong>Directiva
    1999/31/CE y en él se dieron las pautas para la construcción de vertederos
    en el Estado Español, dentro de los temas más significativas podemos
    destacar la impermeabilización de los terrenos donde se va a depositar los
    residuos, en el caso de los RCD de carácter inerte las medidas de
    prevención de contaminación del suelo son menos exigentes que para los
    otros tipos de residuos.
</p>
<p>
    Según la definición de este Real Decreto los residuos inertes son:
</p>
<p>
    «Residuos inertes»: aquellos residuos no peligrosos que no experimentan
    transformaciones físicas, químicas o biológicas significativas. Los
    residuos inertes no son solubles ni combustibles, ni reaccionan física ni
    químicamente ni de ninguna otra manera, ni son biodegradables, ni afectan
    negativamente a otras materias con las cuales entran en contacto de forma
    que puedan dar lugar a contaminación del medio ambiente o perjudicar a la
    salud humana. La lixiviabilidad total, el contenido de contaminantes de los
    residuos y la ecotoxicidad del lixiviado deberán ser insignificantes, y en
    particular no deberán suponer un riesgo para la calidad de las aguas
    superficiales y/o subterráneas.
</p>
<p>
    En el siguiente esquema del Real Decreto 1481/2001 se pueden ver las
    características de impermeabilización que debe tener un vertedero de
    inertes donde se depositan los residuos inertes.
</p>
<div class='image-container'>
  <%= image_tag 'topic_6/image_2.jpg' %>
</div>
<p>
    Según el Real Decreto 1481/2001 sobre vertederos estos son los residuos
    aceptados en este tipo de vertederos:
</p>
<p>
    · Residuos de materiales de fibra de vidrio.
</p>
<p>
    · Envases de vidrio.
</p>
<ul>
    <li>
        Hormigón.
    </li>
    <li>
        Ladrillos.
    </li>
</ul>
<p>
    · Tejas y materiales cerámicos.
</p>
<p>
    · Mezclas de hormigón, ladrillos, tejas y materiales cerámicos.
</p>
<ul>
    <li>
        Vidrio.
    </li>
</ul>
<p>
    · Tierra y piedras.
</p>
<p>
    Con la normativa actual este tipo de vertederos no deberían de ser
    admitidos ya que todos los RCD eliminados en estos son susceptibles de ser
    reciclados, solo en casos de poblaciones muy alejadas donde no existan
    plantas de valorización de RCD este tipo de instalaciones son necesarias.
</p>
<p>
    Este Real Decreto evalúa los lixiviados producidos por los residuos inertes
    en él se dan diferentes parámetros permitidos de contaminantes químicos.
</p>
<div class='image-container'>
  <%= image_tag 'topic_6/image_3.jpg' %>
</div>
<p>
    Además se debe evaluar la cantidad de compuestos orgánicos que no debe
    superar los valores dados en este real Decreto
</p>
<div class='image-container'>
  <%= image_tag 'topic_6/image_4.jpg' %>
</div>
<p>
    En el siguiente link está el Real Decreto 1481/2001 sobre vertederos
    completo.
</p>
<p>
    <a href="https://www.boe.es/buscar/act.php?id=BOE-A-2002-1697">
        https://www.boe.es/buscar/act.php?id=BOE-A-2002-1697
    </a>
</p>
<p>
    Los residuos de rechazo del proceso de las plantas de RCD por sus
    características suelen terminar en vertederos de residuos no peligrosos,
    están compuestos por residuos muy heterogéneos que por sus características
    es inviable su reciclaje y por su composición no pueden ir a un vertedero
    de inertes, estos residuos salen de las plantas con el código LER
    <em>
        19 12 12 Otros residuos [incluidas mezclas de materiales] procedentes
        del tratamiento mecánico de residuos distintos de los especificados en
        el código 19 12 11
    </em>
</p>
<p>
    <strong>
        Ley 22/2011, de 28 de julio, de residuos y suelos contaminados
    </strong>
</p>
<p>
    Según esta ley los vertederos son considerados como la última opción en
    cuanto a la gestión de residuos, en la Ley 22/2011, de 28 de julio, de
    residuos y suelos contaminados en el artículo 8 se establece el orden
    jerárquico de gestión de residuos. A continuación damos como se pueden
    aprovechar los RCD en cada uno de estos casos.
</p>
<p>
    a) Prevención: En este caso podemos destacar el uso de materiales de
    construcción que sean duraderos garantizando una vida larga a las
    construcciones para evitar que estas se deterioren y tengan que ser
    demolidas por fallos de estructura.
</p>
<p>
    b) Preparación para la reutilización: Muchos de los RCD pueden ser
    utilizados nuevamente en otras construcciones, ponemos como ejemplo
    sistemas de calefacción, aires acondicionados, puertas, ventanas,
    mobiliario de cocina, electrodomésticos, bañeras, etc. Muchas empresas de
    demolición cuentan con almacenes donde clasifican y preparan estos
    materiales para darles una nueva vida.
</p>
<p>
    c) Reciclado: El reciclado seria la transformación de los residuos en
    nuevos productos en el caso de los RCD el producto más relevante son los
    áridos reciclados.
</p>
<p>
    d) Otro tipo de valorización, incluida la valorización energética: En el
    caso de los RCD se pueden valorizar energéticamente los subproductos con
    alto poder calórico, como pueden ser plásticos, papeles y maderas.
</p>
<p>
    Se considera también como valorización la utilización de RCD en la
    restauración paisajística de huecos mineros o en el relleno de puertos para
    robar terreno al mar.
</p>
<p>
    e) Eliminación: Debe de ser el último paso y solo se deben verter residuos
    que no sea posible su valorización.
</p>
<p>
    Según la Ley 22/2011, de 28 de julio, de residuos y suelos contaminados en
    el artículo 23 específica que:
</p>
<p>
    <em>
        Los residuos deberán ser sometidos a tratamiento previo a su
        eliminación salvo que el tratamiento de los mismos no sea técnicamente
        viable o no quede justificado por razones de protección de la salud
        humana y del medio ambiente.
    </em>
</p>
<p>
    Con relación a los RCD a día de hoy en muchos lugares del mundo no existen
    plantas de tratamiento y/o clasificación por lo que no se pueden tratar
    antes de ser eliminados. Esto hace que se pierdan materiales que pueden ser
    utilizados como materia prima para la fabricación de áridos reciclados y de
    otro tipo de valirizaciones.
</p>
<h4>
    6. 3 Tipos de vertederos:
</h4>
<h4>
    Existen varios tipos de vertederos:
</h4>
<h4>
    <u>6.3.1 La celdas excavadas:</u>
    Estas se hacen haciendo un hueco sobre el terreno es muy importante que el
    nivel freático queda varios metros por debajo de del terreno para que este
    no entre en contacto con los residuos.
</h4>
<h4>
    Se tienen que tener en cuenta las pendientes laterales que debe ser mínimo
    en una proporción de 2:1, siendo 2 la medida horizontal.
</h4>
<h4>
    En este tipo de vertederos es importante hacer buen uso de las tierras que
    se retiran para hacer el hueco y dejar una parte de estas para el sellado
    final del vertedero.
</h4>
<div class='image-container'>
  <%= image_tag 'topic_6/image_5.jpg' %>
</div>
<h4>
    <u>6.3.2 En superficie:</u>
    Este tipo de vertederos son de los menos recomendados por los diferentes
    impactos que pueden presentar sobre el entorno, sobre todo visual y de
    posibles contaminaciones al suelo y la atmosfera si no se hacen
    correctamente.
</h4>
<h4>
    Para su construcción se debe retirar la capa de tierra vegetal. El suelo
    donde se van a depositar los residuos deberá tener las características de
    impermeabilidad requeridas por la normativa vigente.
</h4>
<div class='image-container'>
  <%= image_tag 'topic_6/image_6.jpg' %>
</div>
<h4>
    <u>6.3.3 En depresiones y vaguadas naturales del terreno: </u>
    En este tipo de vertederos se aprovecha la geografía del terreno para hacer
    un vertedero, hay que tener muy en cuenta la circulación de las aguas en
    época de lluvia ya que por lo general así no exista un flujo de aguas
    continuo este tipo de accidentes geográficos son canales naturales de aguas
    lluvias.
</h4>
<h4>
    <u>6.3.4 Huecos mineros:</u>
    Este tipo de vertederos aprovecha huecos ya existentes por la actividad
    minera para rellenarlos con residuos, como en los vertederos de celdas
    excavadas es muy importante que el nivel freático este por debajo de el
    fondo del hueco.
</h4>
<h4 align="center">
</h4>
<div class='image-container'>
  <%= image_tag 'topic_6/image_7.jpg' %>
</div>
<h4 align="center">
</h4>
<h4>
    6.4 Diseño de los vertederos
</h4>
<h4>
    Una vez que se ha decidido la zona donde se va a localizar el vertedero lo
    primero que se tiene que hacer para iniciar su construcción es la
    Evaluación de Impacto Ambiental (EIA) que en Europa lo regula la Directiva
    2011/92/UE, de 13 de diciembre, de evaluación de las repercusiones de
    determinados proyectos públicos y privados sobre el medio ambiente, esta
    sirve para que el órgano administrativo competente en esta materia decida
    si declara positiva la Declaración de Impacto Ambiental (DIA), el Estudio
    de Impacto Ambiental que se haga en el terreno se deben controlar los
    siguiente aspectos ambientales y tomar las medidas necesarias para no
    afectar al medio:
</h4>
<h4>
    <u>6.4.1 El suelo:</u>
    Se deberá hacer un estudio del suelo para evaluar el punto de partidas de
    estos, y saber si el terreno es lo suficientemente impermeable como exige
    la normativa o si se tiene que incluir alguna barrera geológica artificial
    adicional.
</h4>
<h4>
    Si la barrera geológica no es suficiente se deberá añadir una barrera
    geológica artificial esto será suficiente como medida de contención de la
    contaminación en el caso de los residuos inertes, según la legislación
    europea un vertedero de residuos Inertes debe estar ubicado sobre un
    terreno con una impermeabilidad de k ≤ 1,0 × 10<sup>-7</sup> m/s; con un
    espesor como mínimo de un metro.
</h4>
<h4>
    Una vez que se cuente con un sistema de impermeabilización se deberá poner
    una capa de grava que sirva para drenar las aguas del fondo del vertido,
    esta deberá tener un sistema de tuberías que saquen los lixiviados del
    vertedero para ser posteriormente tratados.
</h4>
<h4>
    Actualmente existen materiales sintéticos que cumplen con las funciones de
    impermeabilización y drenaje:
</h4>
<h4>
    Geomembrana: Son laminas fabricadas por lo general de
    <a href="https://es.wikipedia.org/wiki/Polietileno" title="Polietileno">
        polietileno
    </a>
    de alta y de baja densidad (HDPE, VFPE), de
    <a
        href="https://es.wikipedia.org/w/index.php?title=Elast%C3%B3mero_bituminoso&amp;action=edit&amp;redlink=1"
        title="Elastómero bituminoso (aún no redactado)"
    >
        elastómero bituminoso
    </a>
    , de
    <a href="https://es.wikipedia.org/wiki/Polipropileno" title="Polipropileno">
        polipropileno
    </a>
    (PP) o en cloruro de polivinilo (PVC), en el caso de los vertederos sirven
    para evitar que los contaminantes lleguen hasta el suelo y las aguas, son
    habitualmente más usadas en vertederos de residuos peligrosos y no
    peligrosos.
</h4>
<h4>
</h4>
<div class='image-container'>
  <%= image_tag 'topic_6/image_8.jpg' %>
</div>
<h4 align="center">
</h4>
<h4>
    Geotextil: En los vertederos cumple una función muy importante como
    material de separación entre las diferentes capas del vertedero, ayuda a
    proteger la geomembrana de punciones, separa las partículas solidas
    permitiendo el flujo de líquidos y gases y su posterior evacuación del
    vertedero para ser tratados.
</h4>
<h4 align="center">
</h4>
<div class='image-container'>
  <%= image_tag 'topic_6/image_9.jpg' %>
</div>
<h4 align="center">
</h4>
<h4>
    <u>6.4.2 El agua:</u>
    Se tiene que hacer una evaluación tanto de los acuíferos que están en la
    zona como de las aguas superficiales que puedan ser afectadas por la
    actividad del vertedero. Los vertederos se deben controlar los líquidos
    producidos dentro del vertido, llamados lixiviados que se deben recoger,
    analizar y tratar si fuese necesario.
</h4>
<h4>
    En el caso de los acuíferos se debe hacer un análisis anterior a la puesta
    en marcha del vertedero y hacer analíticas periódicas para comprobar que
    los residuos no están contaminando el acuífero. El análisis y posterior
    control de las aguas subterráneas se hace por medio de unas perforaciones
    hasta el nivel freático llamadas piezómetros, estos se hacen aguas arriba y
    aguas abajo del acuífero de esta manera se puede comprobar si la
    contaminación se produjo en el vertedero o es procedente de otra fuente, si
    la contaminación aparece solo en el piezómetro aguas abajo esto quiere
    decir que es procedente del vertedero y si por el contrario esta aparece
    aguas arriba y aguas abajo la contaminación es producida en otro punto
    diferente a el vertedero.
</h4>
<div class='image-container'>
  <%= image_tag 'topic_6/image_10.jpg' %>
</div>
<h4>
    También se deben controlar las aguas superficiales, para esto se debe hacer
    en todo el perímetro del vertedero por medio de un sistema de canales de
    recogida de aguas que impida la entrada de aguas lluvias dentro del
    vertido.
</h4>
<h4>
    <u>6.4.3 Flora y fauna:</u>
    se deben evaluar las posibles consecuencias de la actividad sobre la flora
    y la fauna, en el caso de la fauna se deben generar estrategias para
    mitigar las consecuencias ambientales de la construcción de un vertedero y
    en el caso de flora una vez sellado el vertedero se deberá cubrir este
    último con una capa de tierra vegetal sobre la que se sembraran solo
    especies autóctonas de la zona.
</h4>
<h4>
    <u>6.4.4 Atmosfera:</u>
    Los RCD no suelen producir gases como lo hacen los residuos urbanos en su
    descomposición, lo que generalmente se puede producir son partículas en
    suspensión por el trasiego de camiones y manipulación de los RCD, para
    medir que estas estén dentro de los límites permitidos se deben hacer
    analíticas de acuerdo a lo que establece la normativa actual.
</h4>
<h4>
    Una vez que se hayan tomado todas las medidas ambientales para reducir en
    menor medida el impacto sobre el medio ambiente, se podrá iniciar la fase
    de explotación del vertedero empezando con el relleno, para esto se debe
    contar contar con maquinaria móvil adecuada como bulldozer y en algunos
    casos maquinaria de compactación tipo pata de cabra.
</h4>
<div class='image-container'>
  <%= image_tag 'topic_6/image_11.jpg' %>
</div>
<h4>
    El relleno del vertedero se debe de hacer por fases y este dependerá de la
    forma que tenga el vertedero.
</h4>
<h4>
    Otra parte muy importante del vertedero es la zona de control de admisión
    en la cual se pesa y se hace una evaluación ocular para saber si el residuo
    es el adecuado para el vertedero. En la zona de descarga los trabajadores
    que se encargan de manipular los residuos deberán estar atentos para que no
    se depositen residuos inadecuados en el vertedero y que afecten a este.
</h4>
<h4>
    Los residuos se depositan en lo que se denomina frente de vertido es allí
    donde con ayuda de la maquinaria móvil se mueve hacia la zona que le
    corresponde dentro del vertedero, una vez allí la maquinaria compactadora
    se encarga de compactar los residuos para que estos ocupen la menor
    cantidad de espacio posible.
</h4>
<h4>
    En los vertederos de residuos no peligrosos se suele verter en balas
    compactadas que aumentan la capacidad del vertedero.
</h4>
