<div id="carousel-colaborators" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-colaborators" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-colaborators" data-slide-to="1"></li>
    <li data-target="#carousel-colaborators" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= link_to 'http://www.fueyoeditores.com/libros/302-libros/1545-manual-de-rcd-y-aridos-reciclados-precio-50' do %>
        <%= image_tag "logo_1.jpg", style: "width: 100%;" %>
      <% end %>
    </div>
    <div class="item">
      <%= link_to 'http://www.fueyoeditores.com/libros/302-libros/1542-guia-espanola-de-aridos-reciclados-procedentes-de-rcd-precio-45' do %>
        <%= image_tag "logo_2.jpg", style: "width: 100%;" %>
      <% end %>

    </div>
    <div class="item">
      <%= link_to 'http://www.casale.info' do %>
        <%= image_tag "logo_3.jpg", style: "width: 100%;" %>
      <% end %>
    </div>

  </div>
</div>
